[2016-08-03 14:10] mateoclarke commented on #184
This looks great!

Can we add an announcement that we (@mscarey) is working on the Candidate Questionnaire for City Council candidates?
https://docs.google.com/document/d/1_vRsdtyyb3d5gcHZn8OoS3b61OCbfGnpYJmY6Dl6V6s/edit?usp=sharing

[2016-08-03 17:36] mapineda commented on #184
@VictoriaODell All contacts have been imported. This includes the googleGroups csv from @amaliebarras. I had to go through and parse first names from full names. Total subscribers: 421

[2016-08-03 17:38] mapineda commented on #184
@amaliebarras & @mateoclarke I've added both Information about the Candidate Questionnaire and the Texas Turnout event

Feel free to submit Content to future newsletters through The Newsletter Content Planning Sheet https://docs.google.com/document/d/1E1QGjLEWObfBsTN6IXt1eNu6Dggmm_4W6emLbhllAFQ/edit?usp=sharing

[2016-08-03 17:45] mapineda commented on #184
@VictoriaODell Newsletter looks great! I added an Announcements section to the top and added the Texas Turnout to the Event section. Let me know what you think. Let's send it out today and then make it a goal of 2nd and 4th Tuesday (up for discussion) - I've marked send outs on the calendar for August.

[2016-08-03 18:01] VictoriaODell commented on #184
Sweet~
I changed the language a bit on the policy bit.
Want to send a test email to core-team first @mapineda?

[2016-08-03 21:04] mapineda commented on #184
Yes!

Marco Pineda

[2016-08-04 04:10] VictoriaODell commented on #184
Sent a test email. Should be in everyone's inbox on core team.

Probably need a better header. Please review and we can send in the am. Sorry missed the today mark @mapineda I'm barely getting to my computer since leaving work. :x

[2016-08-04 04:16] mapineda commented on #184
Got the test email, reviewed, looks good!

[2016-08-04 06:05] mateoclarke commented on #179
https://docs.google.com/document/d/1_vRsdtyyb3d5gcHZn8OoS3b61OCbfGnpYJmY6Dl6V6s/edit

[2016-08-05 22:28] luqmaan opened #186 "Setup HTTPS for open-austin.org"
Not having HTTPS setup for open-austin.org is harming us.

None of the webapps that live under the open-austin.org domain can display user locations.

For example, I get this error when visiting http://www.open-austin.org/austingreenmap/.

https://sites.google.com/a/chromium.org/dev/Home/chromium-security/deprecating-powerful-features-on-insecure-origins

[2016-08-06 02:23] chip-rosenthal commented on #186
Any particular requirements or requests?

We can setup a https proxy on the Open Austin server that forwards to the Github site.

I'd also need to setup "Let's Encrypt" for the SSL cert. The previous StartSSL cert has probably expired, and I'm not using them anymore.

[2016-08-06 16:45] gusIreland commented on #186
Hey Chip

Based on the projects we've seen, these are the requirements:

- Easy to setup/update. We have lots of projects now, with a few new ones start every every month.
- HTTPS
- Querystrings
- Subdomains
- Fast
  - CDN
  - Compression
  - Caching headers

I'm a little worried about losing query strings, as that would break several live projects.

It'd also be nice to manage subdomains without

[2016-08-09 02:05] luqmaan commented on #185
![image](https://cloud.githubusercontent.com/assets/1275831/17502231/d2cedf42-5dab-11e6-9371-f358b4069695.png)

![image](https://cloud.githubusercontent.com/assets/1275831/17502233/dd2e9176-5dab-11e6-92fd-dac240cf80a7.png)

![image](https://cloud.githubusercontent.com/assets/1275831/17502235/e15bd2d6-5dab-11e6-97fe-e60f9e50efde.png)

[2016-08-09 02:05] #185 closed

[2016-08-11 15:18] luqmaan commented on #186
I ran into another problem today with hack-the-budget and routing. Hosting hack-the-budget at `hack-the-budget.open-austin.org` instead of at `open-austin.org/hack-the-budget`, would solve the routing problem.

@chip-rosenthal Can you move the open-austin.org DNS to Cloudflare?

Our Cloudflare account credentials are in LastPass.

I've started the process of setting up Cloudflare already.

@chip-r

[2016-08-11 15:46] chip-rosenthal commented on #186
* You'll need to update the nameservers in the domain registration to point to Cloudflare. Just let me know once you are done so I can decommission the current nameservers.

* Drop the mail.open-austin.org entry. That's a vestige of the mailserver migration some time back.

* You can drop the test.open-austin.org entry too.

* The MX entry is not correct if you want me to continue using the email

[2016-08-11 16:05] luqmaan commented on #186
![image](https://cloud.githubusercontent.com/assets/1275831/17595665/8038e426-5fb3-11e6-83d2-af23e65c9ea3.png)

- [x] Updated the nameservers in Namecheap
- [x] Dropped mail.open-austin.org
- [x] Dropped test.open-austin.org
- [x] Updated mx to `10 mail.soaustin.net`

Redirect them to open-austin.org. I'm not sure what the best way to do that is though. I don't see them listed in the Namecheap acc

[2016-08-11 16:18] chip-rosenthal commented on #186
The open-austin.org MX record doesn't look right. It's not providing a response.

[code]

The legacy domains (openaustin.org and openaustin.com) are owned by whurley, the original founder of Open Austin. In the past, he's wanted to maintain ownership, but he's been willing to point the nameservers to whatever we wanted. (The Midas Networks nameservers in this case.)

It might be hard to get them p

[2016-08-11 16:37] luqmaan commented on #186
Fixed it

![image](https://cloud.githubusercontent.com/assets/1275831/17596637/fc4589a8-5fb7-11e6-9678-5a80172503d6.png)

[2016-08-11 16:49] luqmaan opened #188 "Pet Alerts Domain"
- [ ] Let the pet-alerts.com domain expire
- [ ] Setup pet-alerts.open-austin.org

[2016-08-11 17:32] chip-rosenthal commented on #186
Mail forwarding looks good.

At your convenience, could you setup an entry:

`redirector IN CNAME server
`

I'll use that to handle redirection from the legacy domains.

[2016-08-11 17:32] chip-rosenthal commented on #186
Sorry, didn't mean to close :p

[2016-08-11 22:04] luqmaan commented on #186
Sorry, I don't know what `redirector in CNAME server` means.

Do you want me to change this record:

![image](https://cloud.githubusercontent.com/assets/1275831/17606509/83df33e6-5fe5-11e6-98bb-235b34440518.png)

To this:

![image](https://cloud.githubusercontent.com/assets/1275831/17606529/94a46b88-5fe5-11e6-9fe8-819dcaa93b32.png)

[2016-08-11 22:05] luqmaan commented on #186
I changed it to that:

![image](https://cloud.githubusercontent.com/assets/1275831/17606586/d8d7a018-5fe5-11e6-9c7c-de2ccba46bbf.png)

[2016-08-12 00:03] luqmaan commented on #186
🎆  I set up a subdomain for https://github.com/open-austin/austingreenmap. 🎆

http://greenmap.open-austin.org/

To do that:

- [x] Add CNAME file with `greenmap.open-austin.org` https://github.com/open-austin/austingreenmap/blob/gh-pages/CNAME
- [x] Add DNS record: `CNAME greenmap open-austin.github.io` ![image](https://cloud.githubusercontent.com/assets/1275831/17608958/01cedb8e-5ff6-11e6-995f-4a

[2016-08-12 00:22] luqmaan commented on #186
@chip-rosenthal Email isn't working.

![image](https://cloud.githubusercontent.com/assets/1275831/17609273/efa0a11a-5ff8-11e6-9ae5-311e99143eb7.png)

[2016-08-12 00:30] luqmaan commented on #186
HTTPS and user locations are working:

![image](https://cloud.githubusercontent.com/assets/1275831/17609362/f0b512d8-5ff9-11e6-9e12-40971c36c2b8.png)

Visiting `http://*open-austin.org/*` automatically redirects to `https://*open-austin.org/*`. https://support.cloudflare.com/hc/en-us/articles/200170536-How-do-I-redirect-all-visitors-to-HTTPS-SSL-

![image](https://cloud.githubusercontent.com/asset

[2016-08-12 15:32] chip-rosenthal commented on #186
1. Are you still having email problems? I just sent a test message to tech@open-austin.org and it was delivered.

2. Regarding the DNS change for "redirector", I was asking that you setup an entry for "redirector.open-austin.org" that is a CNAME pointing to "server.open-austin.org".

3. I recommend NOT using a CNAME on server.open-austin.org, and instead use an A. The CNAME technically is not corr

[2016-08-12 17:08] luqmaan commented on #186
Yes, I'm still having email problems. The emails are delivering. But I'm not actually getting them. I've tried these things out:

- My email to info@open-austin.org
- My work email to hack@open-austin.org
- @wilsaj email to hack@open-austin.org

Does this look correct to you?

- `CNAME redirector server.open-austin.org`
- `A server.open-austin.org 208.81.246.81`

![image](https://cloud.githubuserc

[2016-08-12 17:25] chip-rosenthal commented on #186
Oh, I see the problem!

The MX target for open-austin.org should be "mail.soaustin.net", not "soaustin.net".

The reason my test worked is that (duh!) the message went through the soaustin.net mail server without ever consulting DNS.

[2016-08-12 17:29] luqmaan commented on #186
Awesome, email is working now.

Thank you!

![image](https://cloud.githubusercontent.com/assets/1275831/17631131/6bd07258-6088-11e6-8658-cd7a2acdd527.png)

[2016-08-12 19:30] chip-rosenthal commented on #186
The following websites are running on server.open-austin.org but no longer configured in the DNS:

* austin-recycles.open-austin.org
* bike-buddy.open-austin.org
* tec-filer.open-austin.org
* old.open-austin.org
* test.open-austin.org

Unless you want any of those running, I'll take them down. (I won't be deleting any code or data, just removing them from HTTP.)

That will leave the following runn

[2016-08-12 21:34] luqmaan commented on #186
I'm not opposed to taking them down. I'm not aware of anybody using or maintaining those services in the last year.

[2016-08-15 00:10] VictoriaODell commented on #180
https://github.com/open-austin/open-austin.github.io/pull/112

[2016-08-15 00:18] VictoriaODell commented on #184
Posting the link for newsletter contribution in our Iced-coffee read me for future reference.
Other newsletter related stuff will go in Open Austin> Admin/Core Team Docs> Newsletter

[2016-08-15 03:32] SaraChicaD commented on #174
Let's sign Holly up for the 130 slot please thx!

[2016-08-15 06:14] mateoclarke opened #189 "Aug 16 Meetup"
- [x] Confirm venue
- [x] Confirm speaker(s)
- [x] Agenda or [slides](https://docs.google.com/presentation/d/1_ZxJEOcp_P1PYRp-fbb82GPT6YiTbn90X5nUb8RAox4/edit#slide=id.g105efe3300_0_58)
- [x] Twitters/Facebooks, etc
- [x] Bring swag, projector, banner, table card stands

[2016-08-16 03:24] VictoriaODell commented on #189
Is there a link to Jen and Itamar's presentation?

[2016-08-16 03:25] mateoclarke commented on #189
i'll ask them...

[2016-08-18 19:17] scascketta commented on #189
I found a [page](https://www.us-ignite.org/globalcityteams/actioncluster/tj9yFjegSYzDXpdrBbAKYZ/) that has an overview of topics similar to what they presented Monday evening. Closest thing I can find to a 1st-party source in lieu of their actual slides.

---

In the meantime, here's a recap of what I remember from their presentation and answers to questions from the crowd. Please comment if I hav

[2016-08-18 22:36] VictoriaODell commented on #189
Sweet. I already started something but have been working on editing. We can roll this into the sensor sections? Note I'm still editing so it's probably wonky.

# August Open Gov & Civic Tech Meetup Recap-Transportation & Sensors

---
layout: post
title: August Open Gov & Civic Tech Meetup Recap-Transportation & Sensors
date: 2016-08-16
type: post
published: true
thumb: August-meetup-thumb.jpg
thum

[2016-08-18 23:36] scascketta commented on #189
Yeah I think the relevant parts from my comment to add to the Sensors section would be:

[2016-08-24 05:29] mateoclarke commented on #189
got the slides from Itamar...
[CTR_OpenAustin_081516.pdf](https://github.com/open-austin/iced-coffee/files/434090/CTR_OpenAustin_081516.pdf)

[2016-08-29 00:12] mscarey commented on #179
I emailed out the survey forms.

[2016-09-03 15:43] VictoriaODell opened #190 "Facebook Strategy"
We need to work on being more engaged on Facebook
Things we can do
- [ ] Schedule regular meetings as events/ or maybe just larger events
- [ ] figure out a posting schedule
- [ ] Create a hashtag list

Jay is interested with is.

[2016-09-08 04:26] mateoclarke commented on #186
@chip-rosenthal, In a previous comment, you mentioned that data.open-austin.org would remain running on the host.

Is it still accessible? @amaliebarras was working on something and wanted to reference that subdomain.

Thanks!
Mateo

[2016-09-08 04:27] #180 closed

[2016-09-08 04:37] #106 closed

[2016-09-08 13:33] chip-rosenthal commented on #186
Have @luqmaan to modify DNS to add a CNAME to point data.open-austin.org to server.open-austin.org.

[2016-09-08 23:23] luqmaan commented on #186
Done, thank you.

[2016-09-08 23:53] mscarey commented on #179
So far only Leslie Pool has responded (and only Zimmerman has declined).

[2016-09-08 23:59] mscarey commented on #179
Here's the email contact list for all the candidates who haven't responded or declined. The austintexas.gov addresses aren't ideal to use because it might violate campaign rules to use them for campaigning. Let's not overwhelm them with emails, but we could send a reminder before the deadline. It might be better for the email to come from an open-austin email address.

district2@austintexas.gov
tx

[2016-09-13 05:16] mateoclarke commented on #189
https://www.open-austin.org/blog/2016/09/12/aug-meetup-recap

[2016-09-13 05:16] #189 closed

[2016-09-14 14:47] luqmaan commented on #162
Looks like its still kind of supported: https://github.com/Code-for-Miami/code-for-miami.github.io/pull/19

https://codeforamerica-api.herokuapp.com/api/organizations/Open-Austin

@gusIreland Can you set this up?

[2016-09-20 03:50] VictoriaODell opened #191 "September Meetup Blog Post"
Started a draft. @amaliebarras and @mateoclarke ya'll have notes too right?

https://docs.google.com/document/d/182kmNH4viBOO7lPM3zFqaM6jZ-FutSrOGO_w2p5PRI4/edit

[2016-09-20 04:03] VictoriaODell opened #192 "October Lightning Talks Meetup"
When: October 17th, 2016
What: We're hosting a lightning talk meetup with a focus on the elections/voting

Last time we had 5 presentations that lasted 10 minutes each and we had our announcements.

Confirmed speakers:
- [x] City Council Candidate Surveys - Matt Carey & Mateo Clarke, Open Austin
- [x] Voting Wait Times & Polling Locations - Tommy Miller, Travis County, GIS Coordinator
- [x] "The P

[2016-09-20 18:47] amaliebarras commented on #191
This looks good, my notes just go into more detail on the registry, which I don't really think is necessary

[2016-09-21 04:36] mateoclarke commented on #191
just gibberish...

---

## Community Registry

Having voice heard
Task force on community engagement
Who are the leaders we need to talk to in an area.
Well beyond its use
Cold fusion
Self service directory
Orgs could use to connect to one anyone
Delveoplment notifiayions
Pull all the folks interested in water
Democratize access to notifications
Email back and forth all the boundaries and Gis
It m

[2016-09-22 04:20] VictoriaODell commented on #191
https://github.com/open-austin/open-austin.github.io/pull/116

Need to link some stuff. I think it's in a good spot for some eyes though 👓

[2016-09-25 23:01] #184 closed

[2016-09-25 23:34] VictoriaODell commented on #191
I thought I published this but don't see it.
If someone can see what I did wrong that would be great.

[2016-09-25 23:36] VictoriaODell opened #193 "Bring home Expunge Record Blog Post"
They drafted a blog post awhile ago.

I would like to catch up with the team about updates prior to publishing.
https://docs.google.com/document/d/1SsWMMEUdLsRZtsvlhiwB3h81EXBNtH-onWQnpclxJno/edit

[2016-09-25 23:49] VictoriaODell opened #194 "3 Open Austin Projects You Can Use Today"
I would like to start pushing some of our projects more. I think the Buzzfeed listicle style is good for  quickly highlighting stuff we do.

I started a draft here(Super Quick): https://docs.google.com/document/d/1lMzjlCpNQs9N6v0VT7iLk_0tSGDZ0Cj86bmMHXAyFjc/edit

For this round I'm thinking of highlighting the following:
- Instabus
- Cute Pets Austin
- Austin Park Equity

[2016-09-25 23:54] #191 closed

[2016-09-26 01:15] VictoriaODell opened #195 "Cute Pets Austin PR Push"
[Cute Pets Austin ](https://twitter.com/CutePetsAustin?lang=en)has been running for about a month now since being down for roughly 4 months. It would be great if we could promote it more.

I plan on doing the following:
- [ ] Creating a press release
- [ ] Create list of news contacts to push the press release to
- [ ]  Schedule tweets supporting the twitter bot
- [ ] I have another blog post in t

[2016-09-30 05:24] mateoclarke commented on #192
More ideas:

- [ ] Gretchen Nagy from Travis County to demo/publicize their [line length reporting system/map](http://kut.org/post/travis-countys-new-online-initiative-could-be-your-road-map-shorter-voting-lines)
- [ ] Someone from [TechVotes](http://austininno.streetwise.co/2016/09/21/techvotes-launches-to-increase-austin-tech-voter-participation/)
- [ ] Taylor Foody (or someone else) from Annett

[2016-10-01 15:42] #174 closed

[2016-10-04 15:52] VictoriaODell opened #196 "WWOD Blog post"
I need to update the blog with the presentations from this past weekend

Need to finish wrangling presentations
- [ ] No SQL vs SQL presentation
- [ ] Data.world Preesentation
- [x] City resources
- [x] Mapping

[2016-10-05 05:56] mateoclarke commented on #192
I reached out to Andrew, Shellee, and Mrs. Nagy tonight. Taylor for ASI is next on my list.

@mscarey and I can share a slot to talk about candidate surveys.

We should shoot for 5-6 talks. Any other ideas on who to reach out to?

[2016-10-10 23:47] mateoclarke commented on #192
Ideation League is a go.
Reached out to Nic Moe to see if he could talk or recommend someone else to talk about Prop 1/Mobility Bond.

[2016-10-12 17:36] VictoriaODell opened #197 "Austin Design Week Workshop"
# [Event posting](http://designweekaustin.com/schedule/designing-for-civic-solutions)

Here is where I'm gathering/ organzing everything that needs to be done prior to the Austin Design Week Workshop. Feel free to contribute ideas, express concerns, and share.
- [x] Join Call This friday or Next to learn more about event logistics
- [x] Post on Meetup [[link to meetup page](https://www.meetup.com/

[2016-10-17 03:50] mscarey commented on #179
Mateo and Sean D created a page for the survey results on open-austin.org. https://www.open-austin.org/candidate-questionnaires/2016.html

We're going to present about the project at the 10-17 library meetup. About all that's left to do is to publicize the published results leading up to the election.

[2016-10-19 03:44] mateoclarke opened #198 "December 18 Leadership Retreat"
At the beginning of this year, we made a [Strategic Plan for 2016](https://docs.google.com/document/d/12EGMSZL2wGKpxwcxCFCTMoeRfx95h4eF493Bh5kdkkA/edit). A lot has changed in 10 1/2 months.  This "retreat" is designed as place where we will discuss openly the purpose and trajectory of our organization. We will invite new leaders to join the retreat.

We will encourage honest discussion and documen

[2016-10-20 00:07] VictoriaODell commented on #197
# Info from my phone call this past Monday:
Phonecall Notes
Danielle- Austin Design Week

Lunch time workshops are 1.5 hours(90 minutes) s but actual time for the workshop will be closer to 80 minutes after housekeeping.

The goal is to provided people with great takeaways and allow them to get hands on with something.

Best practices/ things to keep in mind

Clear takeaways
Clear Agenda
Mini Acti

[2016-10-20 00:12] VictoriaODell commented on #197
@amaliebarras I have more info here. Is this something you think you could help facilitate or would like to help plan? I think you have some valuable insights and background when it comes to data~

[2016-10-20 00:18] VictoriaODell commented on #192
I need to wrap this up with a blog post a la [June](https://www.open-austin.org/blog/2016/06/23/lightning-talk-recap):

Here are our slides:
https://docs.google.com/presentation/d/1BtsWRMQ5Pf6ZyIxM16ynrgxNHjAoPipS_gPp5D3Enj0/edit#slide=id.g105efe3300_0_41

Shelle's slides:
https://docs.google.com/presentation/d/1bewoqrAtTIiToKOZlyGsjCSAc8pIGhM-hwVrsc4J-KE/edit#slide=id.p

Tommy had no slides but t

[2016-10-20 21:05] mscarey opened #199 "Decide whether to join Electronic Frontier Alliance"
EFF reps contacted us about this affiliate program. We were the first Code for America brigade they've talked to about it. Here's the pitch from their email:

Would it be useful to:

*connect with other groups like yours in other cities?

*collaborate with other groups unlike yours that work in your area?

*have access to free documentary films that you could screen for
audiences to prompt discuss

[2016-10-20 21:08] mateoclarke commented on #199
What's the difference between EFF's Alliance program and a local EFF meetup group like EFF-Austin? http://effaustin.org/

[2016-10-20 21:14] mscarey commented on #199
I think for a long time the EFF and EFF-Austin claimed to be unaffiliated. But now EFF-Austin is a part of the EFA (which means Austinites already have an EFA meetup they can go to if they want).

[2016-10-22 16:00] mateoclarke commented on #198
_Random Thoughts_
- Mission over Brand
    - We have done a lot this year to increase the value of our brand. I'm pointing to a new logo, new website, t-shirts & buttons, more social media activity, more blog posts, more presentations at community orgs.
  - What have we done to clarify/strengthen our mission?
- Events and online community as "public squares"
  - What is the value of publicly owned

[2016-10-23 22:14] danielryne commented on #198
**TL;DR** - I'm volunteering to facilitate and proposing an agenda/structure similar to a business model canvass. Let me know what you think (be 100% honest, won't hurt my feelings) and/or if you'd like to volunteer to help.

I'd like to volunteer myself to help plan and facilitate this retreat, and welcome help from anyone who is interested in planning this as well. As a facilitator, my role woul

[2016-10-24 14:34] mateoclarke commented on #198
@danielryne, Thanks for proposing this agenda! And for providing two options.

We haven't scheduled a speaker for our Monday, November 14th library meetup. Also, Amalie and I will be going to Code for America Summit the first week in November. I had been thinking that the 11/14 meetup would be a good time to report back about what happened at Summit in regards to the brigade network. I also though

[2016-10-24 14:48] danielryne commented on #198
I think that would work well!

[2016-10-24 15:00] amaliebarras commented on #198
Sounds great to me, good ideas y'all. So let's plan on the whole core team being present at that Nov. 14th meetup?

[2016-10-24 23:24] VictoriaODell commented on #198
Meeting the 14th Sounds solid.

I mentioned earlier on slack that I'll be out on Dec 4-8 so it would be great if we could pick another time for the retreat.

[2016-10-24 23:45] VictoriaODell commented on #197
Email update from the 21st

`Hello!

We're so excited to have you leading a workshop for the inaugural Austin Design Week. Thank you to those of you who hopped on the phone with us this week and last to go over some details.

We wanted to provide some resources as you dive into the planning of your workshop. If you’d like feedback on your workshop, please send any outlines, slides, materials, etc.

[2016-10-25 02:22] mateoclarke commented on #198
We're looking at Sat, Dec 17th or Sun, Dec 18th as alternative dates. Can y'all chime if y'all have a preference for either of those days?

@danielryne @amaliebarras @VictoriaODell @mscarey @luqmaan @gusIreland @mapineda

[2016-10-25 03:06] mapineda commented on #198
Will be in Winston-Salem for a wedding that weekend.

[2016-10-25 13:32] amaliebarras commented on #198
no strong preference

[2016-10-25 19:01] amaliebarras commented on #197
Hey! Totally, I would love to. Are you free Sunday to have a brainstorm / planning session for it?

[2016-11-06 21:32] VictoriaODell commented on #197
Today @amaliebarras and @cthibaultatx caught up and updated the slides
https://docs.google.com/presentation/d/1mZyNrdGNbW6mr3X_x9rlvBeVvUIKucYgg79w6Wl-MiU/edit#slide=id.g1877427235_1_0

Still making some final tweaks on that and the Agenda
https://docs.google.com/document/d/1Pd3saQFKUCEpQAeo8uao05R7Q8535tHjaMPck3V7O9Q/edit#

We're having a final google hangout tomorrow at a tbd time and should be

[2016-11-07 16:18] danielryne commented on #198
Any final thoughts on a date for this? I'd like to book the venue asap.

If you're concerned about missing out, please know that the retreat is not the end all of the future direction of the organization. Quite the contrary, it's the beginning of the conversation. So there ill be opportunity to weigh in on things afterwards.

[2016-11-07 17:01] VictoriaODell commented on #198
Any of those 17-18 dates work for me.

[2016-11-07 17:09] mateoclarke commented on #198
Hey @danielryne, yeah let's go with either the 17th or 18th

[2016-11-07 20:20] mscarey commented on #198
Yeah, I think either one is OK

[2016-11-08 20:25] VictoriaODell commented on #197
We did it!

Have to do the following tonight:
- [ ] clean up slides
- [ ] create survey
- [ ] Email follow-up with Danielle

[2016-11-08 20:42] danielryne commented on #198
Great, let's shoot for the 18th then! I'll get us a room at the Google (3300 n interstate 35) for 9:00 am that Sunday.

[2016-11-16 03:27] #179 closed

[2016-11-29 02:44] mateoclarke opened #200 "Schedule Events for 2017"
_this continues on the thread from #170_

Our existing general pattern (with exceptions for holidays) is:
- Civic Hack Saturday on 1st Saturday
- Civic Hack Night on 2nd Wednesday & 4th Tuesdays (subject to change)
- Civic Tech Meetup on 3rd Mondays

### January
- [x] Saturday January 7   - Civic Hack Saturday - **Dev Bootcamp**
- [x] Wednesday January 11  - Civic Hack Night -  **Dev Bootcamp**
-

[2016-11-29 03:37] mateoclarke commented on #15
Moved this link into a wiki page.
https://github.com/open-austin/iced-coffee/wiki/Templates-and-Docs

Closing this out...

[2016-11-29 03:37] #15 closed

[2016-11-29 03:39] mateoclarke commented on #18
@amaliebarras, I would like to circle back to this. Maybe after our Leadership Summit we reevaluate the needs here?

[2016-11-29 03:43] mateoclarke commented on #39
Closing this out because its old. It is now referenced in the wiki:
https://github.com/open-austin/iced-coffee/wiki/Templates-and-Docs

[2016-11-29 03:43] #39 closed

[2016-11-29 03:50] mateoclarke opened #201 "Speakers for Open Gov & Civic Tech Meetups in 2017"
- [x] JAN 23: short update from Fellowship Permitting Team, B-Cycle Data - [Tim Gasser](https://github.com/timgasser/bcycle-austin/issues/1)
- [x] FEB 27: CoA Fellows Presentation, ATX Floods
- [x] MAR 20: short update from Austin Election Finance, Kathryn Darnall
- [x] APR 17: short update from David E with ATA
- [x] MAY 15:
- [x] JUNE 19: Jess Sauer - Keep My Casa (2017 ATX Hack for Change proje

[2016-11-29 03:51] mateoclarke commented on #46
Started a new todo for 2017, closing this one.

[2016-11-29 03:51] #46 closed

[2016-11-29 03:52] mateoclarke commented on #58
Going to close this out, feel free to reopen...

[2016-11-29 03:52] #58 closed

[2016-11-29 03:54] mateoclarke opened #202 "Idea: Create a List of beginner friendly projects and tutorials"
For example:
[Update or audit US Census](https://github.com/open-austin/iced-coffee/issues/61)

other ideas:
- leaflet tutorial w/ open data
- socrata tutorial link
- other easy projects? do other brigades have resources for this?

[2016-11-29 03:55] mateoclarke commented on #61
Closing this out bc its old. But I did start an new issue thinking about beginner friendly projects we could point ppl at. #202

[2016-11-29 03:55] #61 closed

[2016-11-29 04:02] mateoclarke commented on #108
closing this out bc its old but I captured some of these links in a new wiki page
https://github.com/open-austin/iced-coffee/wiki/Donors-&-Sponsors

[2016-11-29 04:02] #108 closed

[2016-11-29 04:09] mateoclarke commented on #66
Some thoughts on this as I close out this issue:

VoteATX when we first launched and promoted it was novel. We lead the way and now a bunch of other folks have found value in creating maps that not only show polling times, locations, but also how long the wait is. The team around VoteATX didn't crystallize this year because the need for this project is not longer as evident, at least in Travis Cou

[2016-11-29 04:09] #66 closed

[2016-11-29 04:11] mateoclarke commented on #64
Did we ever get results from Caroline O'Meara on her survey?
It feels like we are doing a good job in reaching out to a diverse crowd but how do we quantify diversity and should we be setting goals? Is a survey the best way to do this?

[2016-11-29 04:12] mateoclarke commented on #65
Think we've established a good rhythm with hosting venues for now. Going to close this now.

[2016-11-29 04:12] #65 closed

[2016-11-29 04:13] mateoclarke commented on #69
This is a good thread. I think we should revisit this after our Dec 18 Leadership Retreat and looking into 2017

[2016-11-29 04:14] mateoclarke commented on #71
CFA's project page is defunct. Closing this.

[2016-11-29 04:14] #71 closed

[2016-11-29 04:16] mateoclarke commented on #75
This is a good idea, but it takes more work than it seems and we didn't do it all year so it can't be that important.

I think discussing a roles around project connecting and project management would help with this and could be a strategy that individual chooses. Burying this as a good idea that could come back to life.

[2016-11-29 04:16] #75 closed

[2016-11-29 04:17] mateoclarke commented on #128
uh...

[2016-11-29 04:17] #128 closed

[2016-11-29 04:19] mateoclarke commented on #130
kinda missed the boat on writing a blog post for this, but it I referenced this in our [2016 Achievements doc](https://docs.google.com/document/d/1m38-sB9qsafrxFh2q6oxGRDf1ug9lylEftJ3CwmfkfE/edit#)

[2016-11-29 04:19] #130 closed

[2016-11-29 04:22] mateoclarke commented on #142
Do we want to do this still for the original reason stated? We've been able to raise funds without a fancy packet.

But, I really love the layout of https://github.com/open-austin/iced-coffee/files/287812/OA_sponsorship.package_v2.pdf

Maybe we could repurpose this for a year end report to print for donors and key partners?

[2016-11-29 04:24] mateoclarke commented on #152
Closing this out

[2016-11-29 04:24] #152 closed

[2016-11-29 04:25] mateoclarke commented on #159
this was an idea for a guest blog post that never got past being a nice idea.

[2016-11-29 04:25] #159 closed

[2016-11-29 04:27] mateoclarke commented on #160
haha, I think gus has been onboarded and then...idk. This turned into a good coreteam onboarding list tho.

[2016-11-29 04:27] #160 closed

[2016-11-29 04:29] mateoclarke commented on #162
not very worried about support the CFAPI stuff right now. Seems like a very low priority for them and hopefully the brigades come up with a replacement

[2016-11-29 04:29] #162 closed

[2016-11-29 04:32] mateoclarke commented on #163
this is old, the page probably still needs to get updated, but this process needs to get updated too

[2016-11-29 04:32] #163 closed

[2016-11-29 04:35] mateoclarke commented on #198
@danielryne, wanted to share these notes from an old core team huddle which I found relevant to how we describe the importance and value of the brigade:
https://github.com/open-austin/iced-coffee/issues/165

[2016-11-29 04:36] mateoclarke commented on #155
Added to our Dec core team huddle the issue of keeping the project page up to date:
https://docs.google.com/document/d/1TjNCKMC-aLyuxSpjkRxFcNEiGdyIuFxIT2IepiQhLdE/edit

I think a new issue should come out of that discussion.

[2016-11-29 04:36] #155 closed

[2016-11-29 04:37] #165 closed

[2016-11-29 04:37] mateoclarke commented on #178
yup

[2016-11-29 04:40] mateoclarke commented on #199
Yeah, I've been wanting to do more things with the EFF-Austin crowd. I think we can reach out to them to do a special EFA style event. Closing to close this and with the answer of no, at least not right now.

[2016-11-29 04:40] #199 closed

[2016-11-29 04:43] mateoclarke opened #203 "Collect a list of things to celebrate from 2016"
Started this [doc](https://docs.google.com/document/d/1m38-sB9qsafrxFh2q6oxGRDf1ug9lylEftJ3CwmfkfE/edit#)

[2016-11-29 06:28] mateoclarke commented on #192
I went ahead and made the post:
https://www.open-austin.org/blog/2016/10/19/october-meetup-recap

[2016-11-29 06:28] #192 closed

[2016-11-30 14:19] mateoclarke opened #204 "Let Kelly (DBC) know who will be the point of contact for Saturday"
@amaliebarras @mapineda @mscarey, who is planning to be at Civic Hack Saturday?

Kelly is going to unlock the building around 8:45 am because she has another event to get to by 9:30. Can someone be there at that time?

[2016-11-30 14:50] mapineda commented on #204
I hwill be there.

Marco

[2016-12-02 00:57] mapineda commented on #204
contact: 314-401-2324

[2016-12-02 00:58] #186 closed

[2016-12-02 02:53] amaliebarras commented on #64
I reached out to her today to ask! Will update this thread if / when she responds

[2016-12-02 16:45] mateoclarke opened #205 "Send out general core team application"
Luqmaan updated the typeform: https://openaustin.typeform.com/to/zyE0a4

Now we need to:
- [x] confirm it asks the right things
- [x] create a [blog post](https://medium.com/code-for-atlanta/apply-for-code-for-atlanta-leadership-positions-in-2017-1c033ddf45f3#.p4s7qw96j)
- [x] add to newsletter
- [x] twitter

[2016-12-02 16:46] mateoclarke opened #206 "See if it’s possible to make a private + required Meetup question."
To ask people their email, automate that collection for our newsletter

[2016-12-02 16:47] mateoclarke opened #207 "Send Newsletter on Dec 6th"

[2016-12-02 16:47] mateoclarke opened #208 "End of Year Report"
Here is a [list of all the good things we did](https://docs.google.com/document/d/1m38-sB9qsafrxFh2q6oxGRDf1ug9lylEftJ3CwmfkfE/edit?usp=sharing) this year.

[2016-12-02 20:51] #204 closed

[2016-12-03 19:42] amaliebarras commented on #64
Sent an email to y'all with her survey. She won't be sending the quantitative data but it's a very insightful paper. Please keep internal for now.

[2016-12-03 19:42] #64 closed

[2016-12-06 02:39] mapineda commented on #207
Working on this right meow 🐱

Anyone have anything they want to include in announcements? Right now it is looking like a recap of the Texas Appleseed Award, event announcement, o'rielly code for america book bundle

[2016-12-06 03:59] mateoclarke commented on #207
definitely make sure to include the 5 upcoming events we have on the calendar. (just added the Library meetup)
https://www.meetup.com/Open-Austin/events/

And maybe also a nod to the Coding4TX student hackahton this weekend:
https://open-austin.slack.com/archives/jobs/p1480521971000359

[2016-12-12 16:39] #207 closed

[2016-12-12 16:41] mateoclarke opened #209 "Send 2nd Dec Newsletter"
Not sure what date would be best for this. Ideally, this newsletter would be a year end recap and a little different format than the normal bi-weekly newsletter. Right?

Tuesday, Dec 20th could be one due date, or maybe something the 27th, after Christmas and before new year would be a good time to do a retrospective.

What to you think @VictoriaODell & @mapineda?

[2016-12-12 17:02] mapineda commented on #209
Vote for the 27th. More timely than the 20th. We can add our list of accomplishments for 2016!

[2016-12-16 17:51] danielryne commented on #198
Hey all, just wanted to update everyone! We're still on for this Sunday 12/18 from 9:00 am to 3:00 pm. The location will be 3300 N Interstate 35 (Google Office, 2nd Floor). There is free parking all around and in the parking garage attached to the office, so feel free to park anywhere. We're hoping to order Thunderbird Coffee for the morning and Thunderbird sandwiches for lunch. If he hasn't alrea

[2016-12-16 19:15] amaliebarras commented on #198
Thanks Danny for putting this together for us, the agenda looks great!

Do you have the assets from the value mapping activity we did? Could you bring those or upload pictures to the drive so we can reference them while we work?

[2016-12-16 19:44] danielryne commented on #198
Hey Amalie, yes! I have them and didn't get around to transcribing them. But I can bring them. I also switched you as one of the co-leads on that session, fyi.

[2016-12-16 20:13] amaliebarras commented on #198
No need to transcribe. And yes, thank you :) I knew what you meant

[2016-12-18 14:36] danielryne commented on #198
Just so folks have my cell phone: 956-970-9214

If you're coming in from the parking garage, you'll need to take the elevators to the first floor and then hang a right, then take the main elevators to the second floor and go through the glass doors. Call or text if you get lost!

[2016-12-18 15:23] danielryne commented on #198
Link to annotated agenda: https://docs.google.com/document/d/1oRZkISMorYLoID-4SbPA6sk6ZOHvXqGyeDJHXgVZD2U/edit?usp=sharing

[2016-12-20 03:35] #170 closed

[2016-12-20 18:45] mateoclarke commented on #198
This was awesome. Huge thanks to @danielryne for facilitating this and getting the space and food provided by Google!

I created a Drive Folder where we can store photos and output from the Leadership Summit. I would like to schedule a follow up meeting in early Jan so we can regroup about some of the tasks ahead. But let's get through the holidays first. ⛄️

Thanks for everything y'all:
https://d

[2016-12-20 18:45] #198 closed

[2016-12-20 18:48] mateoclarke commented on #198
original pasted the wrong link, corrected.
https://drive.google.com/open?id=0B1cMlEZm_nJ0OG5Ta0lUSDd5RUU

[2016-12-20 18:58] mateoclarke opened #210 "Open Austin Labs - Internal Project Planning"
This was one of three internal projects we brainstormed at the 18-Dec-16 Leadership Summit.

https://docs.google.com/document/d/19HncsnlAR5reLH0iul7oi-_tX7Cer-6Y0WCEZ_kkYTU/edit?usp=sharing

Todo:
- [ ] Formalize Budget Party as Open Austin Lab's first nonprofit pilot project **[Due end of Jan 2017]**
- [ ] Research legal structure required to accept legal contract with City. Report to Core Team +

[2016-12-29 16:47] VictoriaODell commented on #209
Sorry ya'll. Dropped the ball. EOY is super hectic for me RN and I was in Mexico the 27th, womps. 🙃 Not exactly finishing 2016 strong. 💪

[2016-12-29 17:13] mateoclarke commented on #209
No worries. I still have work to do on the year end report. Let's push this back a week, maybe two.

[2017-01-20 16:32] mapineda commented on #200
Scheduled feb 21 and March 28 at galvanize

[2017-01-20 17:09] mapineda commented on #200
I've reached out to Chicon to cancel the March 4th event and to see if they can accommodate us Feb 8th.

[2017-01-20 17:24] mapineda commented on #200
CHN scheduled for Chicon for Wednesday Feb 8th

[2017-01-24 14:34] mateoclarke opened #211 "Onboard Sean into Membership Team Lead"
# Onboarding a new Core Team member

- [x] set up with info@open-austin.org email
- [x] invite to private #coreteam channel
- [x] invite to #icedcoffee channel
- [x] add to @coreteam [slack user group](https://get.slack.help/hc/en-us/articles/212906697-User-Groups#edit-a-user-group)
- [x] access to open austin google drive
- [x] link to [core team roles](https://docs.google.com/document/d/1kbS0wJj

[2017-01-27 17:53] mateoclarke commented on #208
https://www.open-austin.org/blog/2017/01/17/yearly-review

[2017-01-27 17:53] #208 closed

[2017-01-31 00:58] seandellis opened #212 "Testing - Please ignore"
How does waffle integrate with Github?

[2017-01-31 18:10] #212 closed

[2017-02-12 21:26] mateoclarke opened #213 "Where are we with our Internal Projects?"
Before me leadership meeting on 2/16, I would like if we could make some notes here, start a Google doc or start some other way to keep track of these things:

- where are internal projects are
- what are the goals?
- when are milestones?
- how can others help

## Open Austin Labs - @mateoclarke
  - I turned the worksheet we did a the leadership retreat into a todo list on #210
  - @jonplaca is dr

[2017-02-12 21:27] mateoclarke commented on #203
https://www.open-austin.org/blog/2017/01/17/yearly-review

[2017-02-12 21:27] #203 closed

[2017-02-12 21:33] mateoclarke commented on #209
_let's try to get this back on track in Feb?_

[2017-02-12 21:33] #209 closed

[2017-02-12 23:41] mateoclarke opened #214 "February Newsletter"
We have two recent blog posts we can highlight:
- https://www.open-austin.org/blog/2017/02/08/budget-party-mozilla-gigabit-grant-announcement
- https://www.open-austin.org/blog/2017/01/17/yearly-review

We have a bunch of upcoming hack nights we can highlight...

We have ATX Floods Fellowship Team speaking we can preview.

We have Open Data Day/Hack the Traffic event on March 4th

We can send a li

[2017-02-13 01:24] VictoriaODell commented on #214
Hey, we can aim for this Tuesday since that would be back on Schedule.
We need list updated probably.

I started working on the draft based on what you put here but will have more time to work on it tomorrows: [link to newsletter planning doc](https://docs.google.com/document/d/1E1QGjLEWObfBsTN6IXt1eNu6Dggmm_4W6emLbhllAFQ/edit)

[2017-02-13 01:36] VictoriaODell opened #215 "Values - Internal Project Planning"
This was one of three internal projects we brainstormed at the 18-Dec-16 Leadership Summit.

https://docs.google.com/document/d/19HncsnlAR5reLH0iul7oi-_tX7Cer-6Y0WCEZ_kkYTU/edit?usp=sharing

To-Do
- [x]  **Feb 14** | Audit what we have
- [x] **Feb 23** | Draft for values ready to share
- [x]  **March 9** | Ongoing edits/review and discussion. Should include the core-team and stakeholders in this p

[2017-02-13 03:37] mapineda commented on #214
I'll update the list tomorrow

Marco Pineda

[2017-02-13 14:12] mateoclarke commented on #197
_closing this out_

[2017-02-13 14:12] #197 closed

[2017-02-14 06:13] VictoriaODell commented on #214
Formatted in Google Drive and Campaign set up. I'll transfer over to MailChimp in the am, test, and send. 😴

[2017-02-15 04:44] VictoriaODell commented on #214
Sent earlier today!

[2017-02-15 04:49] jonplaca opened #216 "Entity Formation"
Analyze pros/cons of different Entity Structures and their associated requirements.

- [x] Analyze Pro/Cons of different entities in TX (https://docs.google.com/document/d/1pSnTsi6J0n2M88IV-yjHEqkOlIhr_ndefhBsN2ajOu4/edit?usp=sharing)

- [x] Determine which entity structure best serves OA

- [x] Generate a draft of bylaws & certificate of formation
(https://docs.google.com/document/d/1HwgQ9lDcJohB

[2017-02-15 04:53] jonplaca commented on #216
NOTE: I will migrate the final version to the Open Austin Drive. Currently WIP

[2017-02-15 04:58] jonplaca commented on #142
Seems like I might be late to the party here, but I am happy to help out on with respect to this (after we form an official nonprofit and establish proper accounting). Happy to discuss in more detail about how we can develop a financial model and track out fundraising progress throughout the year (helping us plan for executable, future events).

[2017-02-15 05:42] jonplaca commented on #216
Moved file to Open Austin: https://drive.google.com/drive/folders/0B1cMlEZm_nJ0ZV9LdmdVeGN3TXc

@mateoclarke,
Please look over when you have the chance.
Ultimately, I think it would be best if we form our own non-profit. The traditional non-profit gives us more flexibility and enables us to manage our own entity. I am hesitant to find a Fiscal Sponsor (despite NumFocus.org) - ironically there seem

[2017-02-15 15:15] mateoclarke commented on #142
A simple example from another brigade:
[sponsorship.pdf](https://github.com/open-austin/iced-coffee/files/777419/sponsorship.pdf)

[2017-02-15 15:20] mateoclarke commented on #214
Yay! ❤️

[2017-02-15 15:20] #214 closed

[2017-02-15 15:23] mateoclarke opened #217 "Feb 16 Leadership Meeting Agenda"
Starting an agenda here for structure. We can totally deviate if necessary.
### Agenda

- The month ahead...
- revisit the [snowflake](https://www.open-austin.org/assets/snowflake_model_2017.png)
- [political actions](https://github.com/open-austin/brigadesandpoliticalaction)
- Review Internal Projects
  - Open Austin Labs #210
  - Entity Formation review #216
  - Values #215
  - Roles & Leadershi

[2017-02-15 16:48] mapineda commented on #200
I've proposed tentative dates for the coming months. Let me know what ya'll think. I'll reach out to Kelly at Dev Bootcamp for first priority dates and any that she can't fill, I'll begin reaching out to other spaces that worked well for us in the past. Namely, Galvanize and Chicon now that I know how to get in.

[2017-02-15 21:34] mateoclarke commented on #196
I think too much time has passed since this event for a meaningful blog post. But looking at this, made me think of something...

I had a conversation today with an Open Austin participant who recommended we start using Medium bc it is easier to draft and collaborate than via Jekyll. Wonder if you have thoughts about that @VictoriaODell.

We could still export the final from Medium to Jekyll so we

[2017-02-15 21:34] #196 closed

[2017-02-16 01:43] amaliebarras commented on #200
Yo, I <3333 Chicon for Saturday hacks, but it was tough to do announcements and it was a tight squeeze for the last hack night. Galvanize and DevBootcamp are more hospitable, so if we can do one of those that's ideal

[2017-02-16 02:31] amaliebarras opened #218 "Roles and Leadership Development"
## What We've Done

#### 1. Sharing out where we are so that we can co-create the model
- [x] Share opportunities w/ community
![screen shot 2017-02-15 at 8 45 02 pm](https://cloud.githubusercontent.com/assets/11826646/23005048/a84fc434-f3bf-11e6-90e5-21d75b35fa3c.png)

#### 2. Prioritize critical roles & fill them

- [x] Filled critical roles
- [ ] @seandellis to update snowflake

#### 3. Team le

[2017-02-16 03:28] amaliebarras commented on #18
Assigning to membership team lead! Happy to meet and give more context to this but I'll leave it to @seandellis to push fwd!

[2017-02-16 03:53] amaliebarras opened #219 "Status Check / Cleanup Project Ideas Repo"

[2017-02-16 04:00] amaliebarras opened #220 "Onboard project leads"
- [x] Review CFA role description
- [x] Review / refine Open Austin role description
- [x] Define project team roles

[Here](https://docs.google.com/document/d/1kbS0wJj9o_Xr5yKBJ2oF9_wAPscZ2gksnOyMMuqVHk4/edit#)

- [x] Plan out tasks that need to be done weekly / monthly
- [x] Recruit for critical project team roles
Revisit project team roles (below)

[2017-02-16 19:29] seandellis commented on #18
Thanks @amaliebarras. Let's set up a time to review next week.

[2017-02-16 19:32] seandellis commented on #211
Just started receiving info@open-austin.org emails. 👍

[2017-02-16 19:32] #211 closed

[2017-02-16 19:49] seandellis opened #221 "Membership: Improving UX across the team & onboarding newbies"
# What's been done?

* Reviewed membership lead responsibilities

* User interviews with new attendees

* Ideas to improve existing home page

* Outline Wiki ideas to improve documentation for existing and new members

# As a Membership Lead, what are my...

## Responsibilities

* Track attendance - [Details](https://docs.google.com/document/d/1GQbmlomA9p3VI6RSOl0atnoSTQNtDa2O3dG6O-SVmgI/edit)
* H

[2017-02-20 04:40] jonplaca opened #222 "Setup Next Snowflake meeting"
@channel Based on the Doodle Poll results, the majority of individuals can meet on Tuedays. February 28th @ 7:00pm or March 7th @ 7:00pm. However, two of the three (@marco  , @sya, @amaliebarras) may be unable to make it.

@marco, @sya, and @amaliebarras  - is there any flexibility in your schedules that *might*  open up your availability on either Tuesday?

See attached PDF to review everyones' r

[2017-02-20 04:40] jonplaca commented on #222
see: http://doodle.com/poll/ndtduwta432362fz for responses

[2017-02-20 04:55] jonplaca commented on #217
Sent out Doodle poll.
See: https://waffle.io/open-austin/iced-coffee/cards/58aa7328996c0a7300722421 for more details

[2017-02-20 16:43] jonplaca commented on #216
@mateoclarke - As you know, I reached out to CFA to determine our relationship with them concerning entity formations. I am primarily interested in to see whether or not funds are consolidated across CFA and then distributed, or whether each brigade only receives only its funds. The reason for my question is to determine whether or not there are any specific benefits to staying with CFA.

Addition

[2017-02-20 16:48] mateoclarke commented on #216
Hey @jonplaca, My guess is that funds are consolidated and then distributed. But I think its great to get clarity and definitely a good idea to make sure pursuing formal status and leaving CfA's financial infrastructure has clear benefits.

When you say State, would City be sufficient? I have a contact at the City with a background in legal that might be able to help us.

[2017-02-20 20:17] jonplaca commented on #216
@mateoclarke

Whitaker actually just confirmed that the funds are *not* pooled across the nation and distributed evenly, rather they each brigade is only entitled to their own donations/funds.
Despite this, there still might be a benefit to staying with CFA since they would handle any tax-compliance issues.

Next step would be to understand whether or not the City would interact with an unincorpor

[2017-02-21 04:17] jonplaca commented on #222
Marco has confirmed that he can make it on 2/7 @ 7pm - making it the best date for the majority of individuals.

@mateoclarke can you send out a calendar invite to the team.
Else, can someone point me to a directory where there is a list of Core Team member email addresses?

[2017-02-21 04:48] amaliebarras commented on #218
assigning to sean so he can share updated snowflake!

[2017-02-21 05:08] amaliebarras opened #223 "Status Check / Clean Up Open Austin Repos"

[2017-02-21 05:10] amaliebarras commented on #153
hey what's the status on this mateo? I was going to create a new card for our Open Austin projects portfolio but then I saw this. can this be closed out or do you want us to select a few?

[2017-02-21 05:14] amaliebarras opened #224 "New Project Step-By-Step"
## Draft

### Intake:
* Create a project-idea issue, link repo in readme
* Create a repo and add tags for
** Stack
** Status
** Needs

### Evaluation:
* Someone will evaluate to make sure you’re not doing anything sketchy
* They may point you to another similar project in OA to join
* They may suggest an existing project in the CFA network

### Production:
* Leave a comment every time you work on

[2017-02-21 05:20] amaliebarras commented on #224
reference @VictoriaODell 's [6 steps to successful project](https://docs.google.com/document/d/1QvssEVp0K51qePEDouD2USfnXmmysiSWT6B0aGrH-Yk/edit)

reference [civic hacking roadmap](https://github.com/open-austin/iced-coffee/issues/69)

[2017-02-21 05:20] mateoclarke commented on #153
We could still update what community apps we wanted to be highlighted via the City. If they use portal data, that would be good. Doesn't have to overlap with projects we want to highlight in our own portfolio but it make sense to think about it at the same time.

[2017-02-21 05:20] mateoclarke commented on #222
sent!

[2017-02-21 06:03] #222 closed

[2017-02-21 06:04] jonplaca commented on #222
Marked as complete

[2017-02-21 06:19] jonplaca commented on #218
joining this card so I remind myself to complete part of this task

[2017-02-21 19:22] jonplaca commented on #218
Left commentary on "New Roles Document" - please feel free to review accordingly.

[2017-02-21 21:36] seandellis commented on #217
Here's a copy of the updated team snowflake along with one for a project team. Let me know if there's anything else you'd like to include.

![diagram-open austin-team structure-20170221](https://cloud.githubusercontent.com/assets/1584916/23186063/51a2bd40-f84b-11e6-8f61-a8c7b1a9e4e4.png)

![diagram-open austin-project structure](https://cloud.githubusercontent.com/assets/1584916/23186064/51b6ca42-

[2017-02-22 01:03] amaliebarras commented on #217
looks gr8 to me @seandellis

[2017-02-22 01:39] amaliebarras opened #225 "Film new Civic Hacking 101"

[2017-02-22 16:05] amaliebarras commented on #178
https://docs.google.com/presentation/d/1tceKempW_8ZoxzeGcfuC1K96kBz0zaMkBxmT1pgv1bo/edit#slide=id.g18065a33fa_0_303

[2017-02-25 18:55] amaliebarras commented on #224
Drafting out what this might look like

<img width="668" alt="screen shot 2017-02-25 at 12 54 31 pm" src="https://cloud.githubusercontent.com/assets/11826646/23333890/afdd14b2-fb59-11e6-861f-87f4fac82186.png">

Feedback needed and appreciated!

[2017-02-28 00:57] jonplaca commented on #216
Sent a message to Dawn (Philly) to get her opinions on becoming a non-proft and the pros/cons she's seen. I will share her response when received.

[2017-03-01 04:14] hlupico opened #226 "Focus Project DD - Discussion with CfD"

[2017-03-06 02:52] #219 closed

[2017-03-06 16:07] mateoclarke commented on #219
woohoo 🎉

[2017-03-06 17:18] mateoclarke commented on #225
https://drive.google.com/file/d/1xsz6XziJsywxkC7cbIHmLU4kxJRjasjTGQ/view?usp=sharing

[2017-03-06 17:18] #225 closed

[2017-03-06 17:28] mateoclarke opened #227 "March 7 Leadership Meeting Agenda"
**Time**: 7-9pm
**Location**: 2900 Manor Rd

**Agenda**:
- 7pm: Breakouts
  - Projects
  - OA Labs/Entity Formation
  - Values
  - other?
- 8pm: Share backs
- 8:30pm: General announcements
  - #rosebudthorn

[2017-03-08 02:01] mscarey commented on #215
Some notes from the values discussion:

Ideas for points on the star (values):
open (government, source, technology)

participation

reproduceability: letting people reproduce the successes we've had

scalable

liberty and data for all

need an ethics guideline for disclosing personal information (protect the peeps)

policy positions organized around campaigns
	start with a slack poll in the polic

[2017-03-08 02:02] mateoclarke commented on #227
## Project Team Lead Roles

Amalie -
Likes:
Communicating with the city to fulfill needs
Helping volunteers find forking opportunities
Civic Hacking 101, sometimes

Needs Help With:
Civic Hacking 101
Knowledge of existing projects in repo
BASED Board and Blogging

Wants to:
Create a system for leadership to connect volunteers to existing projects that fit their skill set and interests

Hanna -
Wan

[2017-03-08 02:07] mateoclarke commented on #227
## Values

https://github.com/open-austin/iced-coffee/issues/215#issuecomment-284922906

[2017-03-08 02:15] mateoclarke commented on #227
## Entity Formation

Delay non-profit until the following:
- [ ] Reach out to local companies and understand how companies donate to non-profits vs volunteer organizations
    - IBM
    - Data.world
    - Capital Factory
    - Foundational gives
    - etc.
- [ ] Alternative: Co-op
Research req.
https://www.sba.gov/starting-business/choose-your-business-structure/cooperative
  - [ ] Research Yellow

[2017-03-08 02:24] danielryne commented on #227
# **Membership Discussion Notes:**

**1. Tracking attendance**
Last Monday used membership link to track headcount at events, as well as follow up with meetup attendees afterwards.

**2. Member communication outside of Slack**
Creating email groups or improving regular newsletters?
Develop standard messages for different clients:
- Welcome (with basic info) for new members
- Newsletters

**3. Webs

[2017-03-08 03:06] amaliebarras commented on #224
assigning this to you @hlupico but I'll myself on to lurk / assist you as called upon

[2017-03-08 03:08] amaliebarras commented on #218
assigning coreteam to review their team roles ... plz unassign yourself and check box when you're done!

[2017-03-08 03:11] amaliebarras commented on #18
@seandellis a couple months into the role ... do you think we still need this? if so, do you need anything from me? if not, can I archive the issue? or should I backlog it?

[2017-03-08 03:43] VictoriaODell commented on #215
Here is stuff:
 https://docs.google.com/document/d/1OujyBccPpepUXSY5_nP3alzvd81WlCKSeSf_-sU5K-U/edit

[2017-03-10 00:52] seandellis opened #228 "Create welcome email and page for new attendees"
@amaliebarras @VictoriaODell @mateoclarke @mapineda @hlupico I'm throwing you all in here to get your advice.

I've looked into the Zapier integration with MailChimp and it's pretty simple. A nice feature is that I can have MailChimp send an email to attendees that sign in to our welcome form.

To make it easier to maintain and reusable on our site, I'd like to make a welcome page for new attendee

[2017-03-10 03:31] VictoriaODell commented on #228
This is looking good, Sean.

I would say the following are things that people are who are new may be interested in. You hit on a lot of it with your draft:
- How to get involved now: slack, link to projects, rsvp
- When the next meeting is and what to expect
- Where we are on social media
- Open Austin origin/overview of civic hacking?
- How to contact someone to ask a question

[2017-03-10 04:41] hlupico commented on #228
I like the idea of having a welcome email and an email for returning volunteers. In the welcome email for new volunteers I think it would be helpful to reiterate the mission of Open Austin in context.

Maybe something like: "Thanks for signing in to our event. We're glad to see you here! You can help advocate for open government and contribute to open application development by jumping into help w

[2017-03-10 04:57] jonplaca opened #229 "Develop Financial Model & KPIs"
Develop a sustainable Financial model based on historical spend and donation. Work to forecast future cashflows

[2017-03-10 04:58] jonplaca opened #230 "Implement Financial Operations"
Review historical expenses and begin proper accounting. Take note of all Balance Sheet items that may be available (e.g prepaid expenses such as annual software subscriptions)

- [x] Tie Accounting System to Bank Account

- [ ] Review and categorize historic financials

- [ ] Establish financial forecast model

- [ ] Tie-in OpenCollective.com for income stream and reimbursement activity

[2017-03-10 20:49] seandellis commented on #18
@amaliebarras To be honest, I haven't been manually tracking individual attendance. Is there a goal for doing so? Otherwise I don't think it's worth the time.

However, tracking the number of actual attendees is great because it lets us know how large our venues need to be as well as measure growth and dropoff.

I'd recommend we use the following process for future membership tracking:

## Standar

[2017-03-10 20:53] seandellis opened #231 "Create wiki that documents our process and tools"
These are some general ideas that our Wiki could contain.

## Team Roles & Responsibilities

## Event Process

## Toolset

* Wiki - GitHub?
* Communication - Slack
* Blog - Jekyll, Medium
* Storage - Google Drive
* Issue Tracking - GitHub

## Best Practices for Github wiki

[Netflix/Hystrix Wiki](https://github.com/Netflix/Hystrix/wiki)

[2017-03-11 05:12] hlupico commented on #231
A folder for high level org information would be great in addition to a folder for each of the 'snowflake' branches (Members, Projects, Finance, etc).

[2017-03-11 05:15] hlupico commented on #153
I'll look through the projects to see which best fit the description that @mateoclarke mentioned and then circle back with you all to confirm the list to be submitted to the city.

[2017-03-12 16:07] VictoriaODell opened #232 "Email follow up SXSW Create & First March Newsletter"
I want to make the SXSW Create email a little more personal to follow up with everyone that stopped by. We have a good sized list. I can do the data entry for the names in a google sheet.

Both the regular newsletter and the Create one should drop on Tuesday. I'll draft on Monday,

@mapineda let me know how you think that sounds.

[2017-03-14 01:30] VictoriaODell commented on #232
Regular campaign scheduled for tomorrow to go out at 12 pm.

[If you have anything to add ping me and write it here on the google doc.](https://docs.google.com/document/d/1E1QGjLEWObfBsTN6IXt1eNu6Dggmm_4W6emLbhllAFQ/edit)

[2017-03-14 01:56] VictoriaODell commented on #232
SXSW Create Attendee email list wip. Should only be viewable by core team members:
https://drive.google.com/drive/folders/0BxCjCqEUIrLFMVBRR19lN0luRG8?usp=sharing

[2017-03-14 03:54] hlupico commented on #153
@mateoclarke @amaliebarras - Are we comfortable with having links to github repos listed on the App Ideas page? Currently the Bike Buddy and Campaign Contribution Directory project links bring users to the github repo. VoteATX isn't currently working - if we are up for linking
users to repos than we can request that the link be updated to bring the user to the repo rather than the website.

Campai

[2017-03-14 21:56] seandellis commented on #228
Adding this for reference: https://github.com/Data4Democracy/read-this-first

[2017-03-14 22:54] mateoclarke commented on #153
@hlupico, yeah I think we should ask the City's CPIO office to remove projects that are defunct like the ones you mentioned.

The goal of this would be to send them some better projects so they can update their site with projects that better reflect our current work.

[2017-03-15 01:59] hlupico opened #233 "Create Project Pipeline Analysis"
Assess the number of of projects in each project phase and how long they remained in each project phase.

[2017-03-15 02:01] hlupico opened #234 "Document Process for Requesting Data from City"
Documentation for the process of requesting data be published from the city/state may help volunteers in their project development process.

[2017-03-15 02:13] hlupico opened #235 "Create Project Process Waffle"
Code for Denver has a really cool step during project creation where a waffle board for the project is pre-populated with project checkpoints for the volunteers to work towards and tasks to complete.

[2017-03-15 03:57] mscarey commented on #218
I put a "Policy Champion" role in the policy team, similar to a project champion, but for people who introduce a policy initiative that doesn't really involve a technical dimension or any product management. Open to discussion whether that should fall under "policy" or "projects." But now that I've described the advocacy process in the doc, it makes me think we should have an easier way to highlig

[2017-03-16 16:05] mateoclarke opened #236 "Update Meetup event for 3/20 General meeting"
https://www.meetup.com/Open-Austin/events/238075740/

Kathryn Darnall from CoA's Campaign Finance Database Initiative

Should we keep it to just her? We could also ask John and/or Itamar to give a 10-15 min report back on Hack the Traffic stuff too.

[2017-03-18 02:23] amaliebarras commented on #153
@hlupico do you think it'd be accurate to send them the ones in the most recent [project board](https://github.com/open-austin/project-ideas/projects/1) column? I'm kinda thinking as we start to settle into our roles & get more familiar with the active projects the high-activity projects will become clearer to us. I'm gonna drag this card to the backlog for now, just wanted to add ya to it since i

[2017-03-18 02:42] amaliebarras commented on #220
## From 3/7

### Amalie -

#### Likes:
Communicating with the city to fulfill needs
Helping volunteers find forking opportunities
Civic Hacking 101, sometimes

#### Needs Help With:
Civic Hacking 101
Knowledge of existing projects in repo
BASED Board and Blogging

#### Wants to:
Create a system for leadership to connect volunteers to existing projects that fit their skill set and interests

### Ha

[2017-03-18 02:46] amaliebarras commented on #234
Nice! Would you be down to open this up to the community? I think this deserves a project idea issue in itself, I feel like we've had data liberation stories in the community that members might want to help document.

[2017-03-18 02:48] amaliebarras commented on #235
Assigning myself to this one too so I can see what happens.

[2017-03-18 02:50] amaliebarras commented on #218
@mscarey Nice! I'm thinking about #234 as a potential Policy Champion / Project team collab :)

[2017-03-18 04:29] amaliebarras commented on #231
Definitely! I could see our projects best practices living here, BASEDEF, and documented workflow stuff (like @hlupico 's idea of creating a guide for writing to request public information)

[2017-03-18 04:32] amaliebarras commented on #18
The only thing we were really using it for was swag ... but it would also be the only way to really measure retention.

I think the new process sounds just fine. From a projects perspective I'm less concerned about attendance tracking and more concerned about keeping track of interested attendees skills / interests, which I think this covers.

[2017-03-18 04:34] amaliebarras commented on #231
oh and maybe our new [civic hacking 101](https://drive.google.com/file/d/1xsz6XziJsywxkC7cbIHmLU4kxJRjasjTGQ/view?usp=sharing) video!

[2017-03-18 04:38] amaliebarras commented on #218
@mateoclarke does that roles process under #4 look right to you? would you add anything? I think patrick mcdonnel is interested and he could help us prototype this!

[2017-03-18 20:25] werdnanoslen opened #237 "Document project management work"
I think our work on targeting project/process management is something worth documenting itself. I'm going to keep track of our Github artifacts in that vein through this issue. Other documentation will go on my Drive folder: https://drive.google.com/drive/folders/0B4TqIjcFtb4bZENhRl9VR0ZfQUk

[2017-03-18 20:33] werdnanoslen commented on #237
### Related issues
#235
#233
#224
#218
#215
#69

[2017-03-18 20:36] werdnanoslen commented on #237
## The problem
Let's start by clearly defining the problem we have with managing projects, what are the fundamental challenges as well as more specific/circumstantial ones? Reply here or add to my [Google doc](https://docs.google.com/document/d/1mRtOigXNKyclprR0IJg6QL4z-vLRAB-ipSrNKUTi6Rk/edit#).

[2017-03-20 04:37] mateoclarke commented on #218
@amaliebarras: 4 under next steps? Yeah that seems right. Start showing up seems like a pre-req instead of in the middle of the list.

Here's how I would outline it if it were sequential:
1. Start showing up
2. Apply using typeform
3. Ping us at let us know you filled out the application
4. Chat with one of us ask when the next leadership team meeting is scheduled.
5. Look at our leadership "snowf

[2017-03-20 04:43] #236 closed

[2017-03-20 04:43] mateoclarke commented on #232
This is done, no?

[2017-03-20 04:43] #232 closed

[2017-03-20 04:44] mateoclarke commented on #223
this is done (for now), no?

[2017-03-20 04:47] #206 closed

[2017-03-20 15:32] amaliebarras commented on #223
Nope. Only the project idea repos have been done. This is probably backlogged until we land on a project process / criteria

Sent from my iPhone

[2017-03-20 16:02] mateoclarke commented on #223
ah, could you make a checklist in the first comment of what needs to be done and what has been done?

[2017-03-21 00:31] amaliebarras opened #238 "publish civic hacking 101"
blog post maybs?

[2017-03-21 00:49] amaliebarras opened #239 "google calendar for delivery lead"
I'm going to attempt to do this for delivery lead tasks for the sale of tracking time

[2017-03-21 03:44] jonplaca commented on #216
@mateoclarke following up per our conversation at tonight's meetup: If possible, please deliver information on corporate companies and whether or not they'd be more/less willing to donate to nonprofits vs. volunteer organizations.

If your time is limited, I can handle the conversations with corporate partners if you're willing to facilitate an introduction

[2017-03-22 03:48] jonplaca commented on #216
@mateoclarke Updated. We should discuss in more detail.

https://docs.google.com/document/d/1pSnTsi6J0n2M88IV-yjHEqkOlIhr_ndefhBsN2ajOu4/edit#

[2017-03-22 04:03] jonplaca commented on #216
Takeaways:
Co-ops require huge administrative burdens with minimal benefit. Additionally, the idea of voting rights could quickly become cumbersome. Furthermore, the payouts of a co-op can become quite complicated (see: Section 251.302 http://www.statutes.legis.state.tx.us/Docs/BO/htm/BO.251.htm).

I would suggest a non-profit - it's a cleaner process with less administrative burden. Furthermore,

[2017-03-22 04:03] jonplaca commented on #216
10:59]
If you like the "voting rights" associated with co-ops, we can form a non-profit and establish voting clauses in the Bylaws that mimic a cooperative-esque voting system

[11:01]
Also, seems like co-ops have dividend-like payouts, meaning that all members get a fair share of the profit (regardless of whether they attributed to a project or not)

[2017-03-23 00:22] hlupico commented on #153
@amaliebarras - If I'm looking in the correct place I see that some of those projects are live at the moment.

[2017-03-23 01:41] mateoclarke commented on #153
Only the ones under "Austin Community Apps" are the ones related to Open Austin.

[2017-03-23 02:14] amaliebarras commented on #237
I chatted about this with Hanna tonight, she should be touching base soon
about how to collaborate with ya on the PM process project

On Sat, Mar 18, 2017 at 3:36 PM, Andrew Nelson <notifications@github.com>
wrote:

[2017-03-23 02:17] amaliebarras commented on #220
## From 3/22

**Projects Team Lead A** (Hanna)
Active knowledge of all projects being worked on in local Brigade
* Stack
* Status
* Needs
Lead Civic Hacking 101 (Wednesday)

**Projects Team Lead B** (Amalie)
Lead Civic Hacking 101 (Tuesday)
Deliver useful projects by, understanding the priorities and needs of the city
Introduces forking opportunities
Connects new members to projects
Manage, blog a

[2017-03-23 02:19] #220 closed

[2017-03-23 02:23] amaliebarras commented on #224
## From 3/22

[notes](https://docs.google.com/document/d/14tT9UhlWOO95R_2dboFYR1eauxYt_Dp8Avt0lri9sfA/edit) from our team conversation

Relevant action items

- [ ] Research project drop off, create google doc with status of current repos
- [ ] Ideate of names of project phases
- [ ] Make edits to our ideas template based on CfD's

[2017-03-23 02:24] amaliebarras commented on #218
Are you thinking of "start showing up" as coming to general meetings, or coming up to our leadership meetings? I was thinking the ladder, but maybe both should be in the process @mateoclarke

[2017-03-23 02:33] mateoclarke commented on #218
hack nights or general meetings is what I meant. But now I understand what you meant by including it later in the process.

[2017-03-23 03:39] amaliebarras commented on #218
started writing about this [here](https://github.com/open-austin/open-austin.github.io/tree/master/_drafts)

[2017-03-23 03:42] amaliebarras commented on #217
@seandellis I referenced this in a blog post draft just now. Also this would be amazing wiki content! Have you thought about adding it to our [about page](https://github.com/open-austin/open-austin.github.io/blob/master/about/index.md) too?

[2017-03-23 03:45] #18 closed

[2017-03-23 03:47] amaliebarras commented on #205
I [drafted](https://github.com/open-austin/open-austin.github.io/blob/master/_drafts/our-new-leadership-approach.html) a blog post for this but I'm tracking out of issue [#218](https://github.com/open-austin/iced-coffee/issues/218). Going to close this issue.

[2017-03-23 03:47] #205 closed

[2017-03-23 03:52] amaliebarras commented on #223
assigning to Hanna to document this as part of project dropoff research per our conversation 3/22

[2017-03-23 15:15] mateoclarke opened #240 "Let CfA know what projects are using AWS"
_From an email_

https://docs.google.com/spreadsheets/d/1rvUf6coNlasBwYfyl7hQCMRVm2R-NGtkr1iej3DCmP8/edit#gid=0

[2017-03-24 02:53] werdnanoslen commented on #224
The problem and project definition bits from Mozilla's open leadership training is pretty useful for part 1: https://docs.google.com/presentation/d/1bCOAoLrNtRVuTt0dtOwsnzbclbGTvWUkcdzk-o8iJeM/.

For example, here's the project vision step that is between figuring out what i'm doing and filling out a canvas:

[2017-03-24 03:35] werdnanoslen commented on #224
When creating new issues, I suggest we immediately add a "Help Wanted" tag so it can show up here: http://civicissues.codeforamerica.org/geeks/civicissues

And our projects with an Open Austin repo should [soon](https://github.com/codeforamerica/brigade-information/pull/35/commits/c3dac487717b758be4ea854ecff4c15f76f89025) show up here: http://brigade.codeforamerica.org/brigade/projects

With that

[2017-03-26 18:04] werdnanoslen opened #241 "project resource survey"
I'd like to get a survey of what resources project teams have considered important, including those they were lacking or missing. This'll give me a better idea of what exactly to look out for when connecting them with particular resources:  https://goo.gl/forms/0PGtzsfUWvW2IQRO2

[2017-03-26 18:05] werdnanoslen commented on #241
Could y'all first look it over and let me know if it's balanced on comprehensiveness and length? If so, fill this out for any project teams at OA you've been a part of, and pass it along (or treat it as a structured interview guide) to other project leads?

[2017-03-26 18:08] werdnanoslen commented on #240
related, I will check to see if IBM could provide bluemix credits as well

[2017-03-26 22:32] hlupico commented on #224
Thanks Andy - this is awesome!

On Thu, Mar 23, 2017 at 10:35 PM Andrew Nelson <notifications@github.com>
wrote:

[2017-03-26 22:43] hlupico commented on #241
@andy - Looks great! I have two comments with regards to the resources form:

   1. Can you add examples of what types of resources you want more
   information about within each of the Knowledge, Skill, Tools and Techniques
   sections? I can see there being resources that could fall into more than
   one of these categories.
   2. Under Other Resources - What other resources have your team lacke

[2017-03-26 22:55] werdnanoslen commented on #241
Ha thanks for catching the time field, dunno how that happened. And for #1,
I think that's ok since people may interpret the categories differently,
and I don't want to skew opinion with examples. If they can't think of
anything, I'll follow up with examples, though.

----
Andrew Nelson
andyhub.com
832-677-7180
(sent from mobile)

On Mar 26, 2017 17:43, "Hanna Lupico" <notifications@github.com> wr

[2017-03-27 13:40] hlupico commented on #239
@werdnanoslen @amaliebarras - I made a google spreadsheet to map out who can lead the Civic Hacking 101 at the Civic Hack Nights over the next two months. Maybe we could do this exercise every 2 months as projecting weeknight schedules out further than that can be tough.

Can you place your names next to the Hack Nights that you definitely CAN and CANNOT attend? Then we can discuss together who ca

[2017-03-29 01:13] werdnanoslen commented on #178
### Questions from 101 (Mar 28)
* Relationship between Austin and civic hackers: how often do projects come from the city or from the public not involved directly in OA?
* How to sync up with projects that don't have a present contributor at a meeting?
* Start out talking about CfA, then Open Austin?
* Flip it, talk about high level things first, then go into more technical aspects, or PM aspects,

[2017-03-29 01:17] hlupico commented on #178
Another Idea:
- Link more examples of how people can contribute through other means than programming.

[2017-03-29 02:04] hlupico opened #242 "Create visual indicator for project cards"
If ideas in the project repo was marked with the visual indicator reflecting it's 'freshness' then we would have a quick reference to projects that have not been touched in a while without having to dive into the comments.

[2017-03-29 02:05] VictoriaODell commented on #178
Just throwing this out there because it's something I though of before.

It would be cool to have a general civic hacking 101 but also have a few additional slides that cover how different types of people can get more involved on different tasks. Like what @hlupico mentioned above. I think this would be helpful if we ever need to present to a specific crowd but and also just break down the differe

[2017-03-29 02:06] hlupico commented on #242
assigning to @werdnanoslen as discussed on (3/28)

[2017-03-30 18:56] jonplaca commented on #230
Currently researching free accounting software:

- https://www.waveapps.com/pricing/

- https://zipbooks.com/

I have some experience with wave, but mostly used Quickbooks. Considering most of our accounting will just be for expenses, I think QB might be overkill at this point. Plus, any accounting system should have modularity involved. I will see what flexibility wave and zipbooks offer

cc: @ma

[2017-04-01 16:04] amaliebarras opened #243 "Document Civic Priotities / Issues"
### Sherri Greenberg
Population increase doesn’t show signs of slowing
Homelessness is on the rise, except with a dip in 2015
The city’s racial divide caused by decisions made in the 20s.

### Jay Boisseau
Mayor’s two priorities:
Transporation
Affordability

### Kerry O’Connor
Smart Austin Strategic Roadmap
Starts with Priorities

	Foundation
	Principles
	Values
	Norms

### Daniel Honker
Open Gove

[2017-04-01 16:29] amaliebarras commented on #243
tagging @hlupico  bc it may be good to reference this as we think about portfolio / official projects

[2017-04-03 05:29] mateoclarke opened #244 "Lightning Talks for April 17"
⚡️⚡️⚡️⚡️⚡️⚡️
- [x] Sabine Romero- Open Government Partnership Update
- [x] Patrick McDonnell - Tactical Urbanism vs Open Source
- [x] Andy Nelson- Open Leadership
- [x] David Edmonson  - Austin Technology Alliance
- [x] Sarah Morris - Fake News, Web Literacy & Internet Health
- [ ] One more slot

[2017-04-04 21:11] jonplaca commented on #230
@mateoclarke After researching wave vs. zipbooks, I would recommend zipbooks for the following reasons:

- Stronger Financial Reporting
- Professional Invoices (including Recurring Invoices)
- Team Collaboration
- Company Documents (e.g historical tax payments, company formation docs, etc.)

I will say that wave is stronger on tracking receipts and bulk uploading a chart of accounts - but these ar

[2017-04-05 14:24] amaliebarras commented on #239
Finally added my info here

[2017-04-05 14:31] amaliebarras commented on #241
Hey, I just filled this out. In my experience it was hard to answer "what would have helped" because oftem times you don't know what you don't know. I think this could be shorter and more anecdotal.

i.e.

**"To what do you attribute to your success?"** (skills, tools, techniques, etc.)

**"What could have made you more successful"** (skills, tools, techniques, etc.)

[2017-04-06 00:10] #226 closed

[2017-04-07 17:52] werdnanoslen commented on #224
just to document here what we discussed yesterday:

scratch the help wanted tag, that project is abandoned by CfA and we can make our own fork for the website. We can choose the labels

[2017-04-07 17:54] werdnanoslen commented on #241
cool, thanks. I'm mostly using this survey to inform a way to build future research artifacts like coding qualitative data and enumerating multiple choice questions.

[2017-04-08 15:45] mateoclarke opened #245 "April 8 Leadership Meeting"
1. Values
2. Entity Formation
    - accounting
3. Membership UX
4. Projects

- Working Open Workshop, May 8th
    - registration form [need link]()
    - Mozilla Global Sprint, remote hackathon, May 1-2 [need more details]()
- Upcoming events:
  - ATX Hack 4 Change
      - Need help promoting the event and workshops [add link]()
      - Need help getting volunteer registration & project submission

[2017-04-08 16:39] VictoriaODell commented on #215
Civic Tech Core Values:
https://docs.google.com/spreadsheets/d/1rP0O-5MDMnYMMQfIwc-G67FsXdJTxV1wXIDgRRO5_ds/edit?usp=sharing

[2017-04-08 17:05] hlupico opened #246 "Recent/Active Project Links for OA Welcome Page"
The Membership team has requested that we provide links to quick filter the Active/Recent projects for the OA Welcome Page (https://www.open-austin.org/welcome/)

[2017-04-08 17:14] mateoclarke commented on #245
## Entity Formation
- Mission Statement (broad)
  - Parks Foundation/ Library Model
- Leadership (transient vs Exec Dir)
- Calendar
- Board of Directors (working internal leadership) vs Board of Advisors (external partners)
- Bylaws
- Formalize Membership Roster, informal membership check
- assets (like open-austin.org)

[2017-04-08 17:27] hlupico commented on #246
Active Projects Url -
https://github.com/open-austin/project-ideas/issues?q=is%3Aissue+is%3Aopen+project+label%3A%22Active+Project%22

Beginner Friendly Url -
https://github.com/open-austin/project-ideas/issues?q=is%3Aopen+is%3Aissue+label%3A%22Needs%3A+Beginner+friendly%22

New Ideas Url -
https://github.com/open-austin/project-ideas/issues?utf8=%E2%9C%93&q=is%3Aopen%20is%3Aissue%20label%3A%22New

[2017-04-08 17:27] #246 closed

[2017-04-08 17:29] mateoclarke commented on #245
## Values

#215
https://docs.google.com/document/d/1OujyBccPpepUXSY5_nP3alzvd81WlCKSeSf_-sU5K-U/edit

[2017-04-08 17:37] mateoclarke commented on #245
## Membership UX

- messaging at meetings
- referring people to Get Involved page
- purpose of event
   - contributor, leads
- [ ] is there anyone outside this group that has working on a successful project

[2017-04-11 02:19] werdnanoslen opened #247 "Bot to keep project ideas moving"
## Auto-assign
Set up webhook to point to script
When a new issue is created, auto-assign issue creator and labels from body

## Status updates
If project idea issue doesn't have abandoned label:
If last reply was >14 days ago saying "please post an update", add abandoned label
Else if last reply was >30 days ago, reply with "please post an update"

[2017-04-11 03:11] werdnanoslen commented on #247
https://github.com/open-austin/projects-bot

[2017-04-11 18:04] jonplaca commented on #230
Moved to backlog - dependent on https://waffle.io/open-austin/iced-coffee/cards/58a3ddf28ee241730040e8ff

[2017-04-11 21:06] seandellis commented on #246
@seandellis Need to add new links to Welcome page.

[2017-04-12 05:01] werdnanoslen commented on #247
added auto-assign task

[2017-04-12 14:34] amaliebarras commented on #247
wooohooo!

On Wed, Apr 12, 2017 at 12:01 AM, Andrew Nelson <notifications@github.com>
wrote:

[2017-04-13 05:21] werdnanoslen commented on #247
v1 done, now setting it up to run once a day at 6pm CST

[2017-04-13 05:36] mateoclarke commented on #247
This is the language right?

Can we iterate on that? Maybe a warmer message. Perhaps only the first time the comment action is triggered? I really don't like the phrase "abandoned project". The are project ideas. They don't need to be labeled abandoned. They could also just serve to inspire people or show what type of project ideas have and haven't gotten traction. But I think it's fine to ask for

[2017-04-13 05:56] werdnanoslen commented on #247
Yep, can definitely iterate, the comment for now is just a placeholder. I have Heroku running the test version that will only log the output to make sure it'll work. So nothing will be posted until we're all cool with it.

I agree with the abandoned bit, although it is [widely used](https://github.com/open-austin/project-ideas/labels/Abandoned%20and%20needs%20love) right now. Currently it's being

[2017-04-13 06:15] mateoclarke commented on #247
Made a PR. https://github.com/open-austin/projects-bot/pull/1

Sounds like we're on the same page. 👍

I like "Inactive" and "Backlog".
Graduated, not as much but I see where you are going. Maybe "External"? 🤔
I also see a need for a "Completed" label, but maybe instead we use a word like "Prototyped", or "Launched" works for those cases?

[2017-04-14 00:34] werdnanoslen commented on #241
Here's the results so far: https://docs.google.com/forms/d/1K0OyI75Edxzt5jYb-A2pq7P2QswySElHOvIcNrtQ1BE/edit?usp=sharing

[2017-04-14 00:49] werdnanoslen commented on #247
Checking my heroku logs, the bot ran successfully as deployed at the time scheduled (every day at 6pm CST)

[2017-04-14 01:49] VictoriaODell opened #248 "ATX Hack for Change To-Dos"
We're partnered with St. Eds and the city for this year's [ATX Hack for Change](http://atxhackforchange.org/) on June 2-4.

Goals this year are to get 50 projects and 500 attendees. There is also a focus on keeping the work going through sister events.

**We completed 2 workshops with them:**
- [Hackathon 101 ](https://drive.google.com/open?id=1IPjXLLF0NoKQXIW5CluF2ujgKbttBzEKAEGSHov6rDI)
- [Hacka

[2017-04-14 15:08] mateoclarke commented on #247
Reiterating suggested labels. Very open to modifications.

- **Inactive**: Has no lead and no recent update
- **Backlog**: Has a lead or interested contributors but no recent update
- **External**: Has a lead and work is being done elsewhere
- **Prototyped**: Project has reached some form of "completeness" but there is likely more work to be done that may or may not ever happen.
- **Launched**: Pr

[2017-04-14 17:59] VictoriaODell opened #249 "Civic Hacker Summit interview"
We got contacted to do be a part of the Civic Hacker Summit.
<img width="791" alt="screen shot 2017-04-14 at 1 19 04 pm" src="https://cloud.githubusercontent.com/assets/10767430/25051968/010b6c72-2115-11e7-8483-e7de350bd655.png">

### Here is the first message

### Here is the second

Lori McNeill
(408)781-6045
https://www.linkedin.com/in/lmcneill/

This seems like a cool opportunity to get some e

[2017-04-14 18:06] VictoriaODell commented on #248
@hlupico "Could you give us a run down of what activities/announcements/visibility OA will have during the St Eds Hack for Change?"

So we had 2 activities. Aside from that, we're supposed to be listed as a partner on the site but it appears those changes aren't live yet. We are still talking mostly about promotional to-dos right now as we prep people with the workshops and get people to submit pr

[2017-04-14 18:43] VictoriaODell opened #250 "Div Tech Event"
Angelica Erazo from Urban Co-lab invited us to a diversity in tech event. I met Angelica a few years back at the first [Div Hackathon](https://www.iamthepipeline.com/) thrown by Huston-Tillotson.

Exhibitor is $250 so not doing that but I may just attend if anyone from leadership or membership wants to join. :)

[2017-04-15 05:08] mateoclarke commented on #249
I think it could potentially be cool. I can't personally help with this right now though. Too much going on this month and I'll be out of town on 4/21.

[2017-04-15 06:02] werdnanoslen commented on #247
Scratch the auto-assign idea, because https://xkcd.com/1205/

So gonna consider this issue resolved. Post all bot-specific issues to [the repo](https://github.com/open-austin/projects-bot/issues/new), and let's take the discussion on the labels and general project freshness to #242

[2017-04-15 06:02] #247 closed

[2017-04-15 06:12] werdnanoslen commented on #242
Ideas from slack convos, a few Github comments like https://github.com/open-austin/iced-coffee/issues/247#issuecomment-294170457, and chatting in person with @amaliebarras @hlupico @mateoclarke :

The `Abandoned and needs love` label should be removed and, for each issue it was applied to, replaced with at least one of the following:

- **Inactive**: Has no lead and no recent update
- **Backlog**:

[2017-04-17 19:23] VictoriaODell commented on #249
Set up a time for Thursday at 10pm

[2017-04-17 20:58] #239 closed

[2017-04-17 20:59] #243 closed

[2017-04-21 00:18] VictoriaODell commented on #249
I set up a time for today at 10pm.

Link to the thing:
https://civichackersummit.com/

I'll post some slides I make here in a few

[2017-04-21 02:09] hlupico commented on #178
Link for Civic Hacking 101 outline
https://docs.google.com/document/d/1Xvhe8ctjoBANpIVvFS6ah8Wl0fdtrm3_Itt5YfH7AE4/edit

[2017-04-21 03:10] werdnanoslen commented on #178
:point_up: :fire:

[2017-04-23 13:50] hlupico commented on #235
I created a simple Google Map with location markers for the legal practices that offer help for 'Families and Kids' in Travis County. I will be sharing this with some of their employees. The thought behind creating this rough prototype is to keep the conversation rolling with State bar of Texas with respects to publishing data.

https://drive.google.com/open?id=13HJbeq7AdPDg4xhvKkngqCWkv_k&usp=sha

[2017-04-24 16:42] VictoriaODell commented on #248
Meeting with the ATX Hack4Change crew in a few. I'll paste updates here.

[2017-04-26 01:22] VictoriaODell commented on #250
Not making it to this.

[2017-04-26 01:22] #250 closed

[2017-04-27 02:32] jonplaca commented on #216
I will be working on this during the weekend - I am looking to update the bylaw template we received @ last meeting. I will keep everyone posted CC: @mateoclarke @werdnanoslen

http://www.communitydesign.org/Resources/Documents/BYLAWS14.pdf

[2017-04-27 03:05] jonplaca commented on #230
Adding https://opencollective.com/codeformiami for #fundraising capabilities.

Idea is to drawdown CFA account and simultanously fundraise through OpenCollective (Entity formation is required beforehand so that we can accept donations into a specific bank account)

CC @mateoclarke

[2017-04-28 00:22] VictoriaODell commented on #249
The thing is live. 👀  @leadership maybe can dig out some cool stuff from some of the talks? I believe my account will still have access after the time limit is up so we can reference things in here at a later time too.

https://civichackersummit.com/

[2017-04-28 02:20] mateoclarke opened #251 "Hackpad is shutting down"
<img width="551" alt="screen shot 2017-04-26 at 6 43 01 pm" src="https://cloud.githubusercontent.com/assets/5697474/25512684/310a1362-2b95-11e7-94e0-b56987fbecd5.png">

I'm going to download [our hackpads](https://openaustin.hackpad.com/) as Markdown and upload them to a new github repo for archival sake using this chrome extension.
https://chrome.google.com/webstore/detail/hackpad-downloader/jhkf

[2017-04-28 03:36] mateoclarke commented on #251
https://github.com/open-austin/hackpad

[2017-04-30 20:16] jonplaca commented on #216
Current Bylaws:
https://docs.google.com/document/d/1D6mhqrxokBCXG8g9I5XXKtBvUyjUCJS4_njqc1N9DVs/edit?usp=sharing

Note, I haven't read through these in their entirety - just copied/pasted (from link in previous comment) and updated spelling errors, state names, entity names, etc to fit Open Austin.

Please review and comment on any specific areas that you think need changing. I will do the same la

[2017-05-02 17:30] seandellis commented on #251
@mateoclarke I'd say it depends on their intended use.

Paper is nice because it offers the ease of editing a doc, but can be viewed as a presentation. The annoying thing is that it's an additional tool to use. 🙁

If they're single use presentations and for ease of use, Google Slides might be our best bet.

[2017-05-06 16:30] werdnanoslen commented on #248
H4C Last-minute planning for next civic tech night @ library

### Outcomes:
1. Existing project teams make a value proposal and potentially reframe 👇
1. Others discover & frame problems via hack/open canvas

This is a note to self for now, I'll keep updating after I go through airport security

[2017-05-10 15:39] VictoriaODell commented on #248
Confirmed Ashley will be joining us from the ATX Hack for Change team.

@werdnanoslen the above looks good to me! lmk if you need help or want to do a working session to talk through what you're planning. I have some availbitly this Friday and on the weekend.

[2017-05-10 15:40] VictoriaODell commented on #248
Meeting this Thursday with the H4Change team. We'll be posting flyers around town if anyone from @leadership is free sometime around 1-5pm to help out. :)

[2017-05-13 15:04] VictoriaODell commented on #244
done

[2017-05-13 15:04] #244 closed

[2017-05-15 23:21] werdnanoslen commented on #248
Main deck for tonight is here https://docs.google.com/presentation/d/1Q-IC3qSGMibqj2n3OMETKXnFOE34fKw_pTGNMpHyQd0/edit#slide=id.p
There are other decks, too, but they are from my studio and I can't share the files. I can't stop you from taking photos tho! ;)

[2017-05-20 21:18] werdnanoslen commented on #216
Whoo finally got back around to this. I've added some comments and suggestions, will continue to do so over this weekend

[2017-05-26 13:59] VictoriaODell commented on #248
Woo. Things are moving along .We'll have time to pitch Open Austin on Sunday. Here is the run of show.

Sunday, June 4
(this has changed slightly from information in packets)
5:15 PM - Project Reports End
5:15 PM - Judges exit with Sarah Sharif to deliberate
5:15 PM - Sister Events/Partners Pitch managed by Ashley DiStefano

(Each of you have 3 mins to pitch to the room about your idea/fund/initia

[2017-05-30 23:25] mateoclarke commented on #251
Been using Paper at the last two Hack Nights. Seems to work well enough. Closing this issue...

[2017-05-30 23:25] #251 closed

[2017-05-30 23:26] mateoclarke commented on #249
Seems like there is nothing left to do here. Going to close...

[2017-05-30 23:26] #249 closed

[2017-05-30 23:29] mateoclarke opened #252 "Leadership Huddle - May 30"
_Thursday, May 30th, 7pm_
previous meeting #245
### Agenda
- Reflection on first part of the year. 🌹 🌱 🗡
- Discussion/preparation for ATX Hack for Change
  - logistics, who is participating as hacker/project champion? what help is need?
  - how do we harness the momentum with new folks after the event?
- Finalize [Entity Formation doc](https://docs.google.com/document/d/1D6mhqrxokBCXG8g9I5XXKtBvUy

[2017-05-31 00:16] VictoriaODell commented on #252
Notes from the meeting: https://docs.google.com/document/d/15MpXUPennDrEvDgdlbbPSo_PengexjjxIKfZ9kd66ZI/edit

[2017-06-01 22:24] VictoriaODell commented on #248
Copy of event logistics
[Event Logistics- Partner Print out .docx](https://github.com/open-austin/iced-coffee/files/1046197/Event.Logistics-.Partner.Print.out.docx)

[2017-06-11 20:48] mateoclarke commented on #248
🎉

[2017-06-11 20:48] #248 closed

[2017-06-28 21:46] VictoriaODell commented on #228
Hey @seandellis. We should connect on this. I think we can simplify our welcome email process by just using Mailchimp Automation. I mentioned this at a hack night. Do you have 30 minutes or so to connect sometime in the next week or so? We can do a video chat.

[2017-06-29 14:16] seandellis commented on #228
@VictoriaODell Sure. Just sent you an email.

[2017-07-01 22:15] VictoriaODell opened #253 "Automation integrations with Slack?"
There are a couple task that could be automated. Anymore? I know there are different ways to do these things so maybe we can post some different methods here? Talked to @seandellis about it today.

- [x] Automate event volunteer message. Asking #iced-Coffee and people in #general if they are available and can help with any upcoming event.
- [x] Automate Welcome message for anyone new to the slack.

[2017-07-06 23:11] mateoclarke opened #254 "Leadership Huddle - July 6th"
_Thursday, July 6th, 7pm_
previous meeting #252

### Agenda
- Update on Entity Formation from Finances Team
- Transitioning Leadership, updating the [snowflake](https://www.open-austin.org/assets/snowflake_model_2017.png)
- [Our Account w/ CfA](https://docs.google.com/spreadsheets/d/1ORwvp9rPOidH-bhTAfzSmUGWpi7AHOKyhrgCKZmkGKQ/edit#gid=0) & Fundraising:
    - Current Balance: $4,042.24
    - Incom

[2017-07-06 23:16] mateoclarke commented on #254
https://docs.google.com/document/d/1Td9soDd6jFjBV-ovMt44WnUR4UVOBFkLkzX30sNqw0k/edit#

[2017-07-07 00:28] mapineda commented on #254
Bylaws:
https://docs.google.com/document/d/1D6mhqrxokBCXG8g9I5XXKtBvUyjUCJS4_njqc1N9DVs/edit#

[2017-07-07 01:41] mapineda commented on #224
@werdnanoslen there was a need expressed at the previous CHS about projects being tagged with their "tech stack" ie: reactjs, angularjs, angular2, php, mongodb, sql, c#, python etc

[2017-07-07 17:28] VictoriaODell opened #255 "Prune Slack Channels"
Meant to touch base with everyone on this yesterday. Womp. 🙃
We have 79 channels and some are fairly inactive or old.

I'm thinking of just making an announcement in the channel and then archiving and/or just archiving if no activity in 2017. More info on archiving here: https://get.slack.help/hc/en-us/articles/201563847-Archive-a-channel

Thoughts from @leadership?

[2017-07-07 18:50] werdnanoslen commented on #224
Re:@vickie I should make this into a blog post, and maybe a lightning talk

----
Andrew Nelson
andyhub.com
832-677-7180
(sent from mobile)

On Jul 6, 2017 20:41, "Marco Pineda" <notifications@github.com> wrote:

[2017-07-12 15:41] VictoriaODell commented on #255
We went from 79 channels to 47. I think there's more opportunity to prune but I didn't want to touch anything that had a fair amount activity this year.

Moving forward I think we should think a little more about our use of slack. If this is where community conversation is happening we want to make sure our channels are healthy and the topics clear.

Def a talk with projects team, but we should co

[2017-07-12 15:41] #255 closed

[2017-07-12 19:40] VictoriaODell commented on #235
Is this still active? @amaliebarras maybe there is some help you can do with us remotely since you're in the area? 👀

[2017-07-12 19:41] #227 closed

[2017-07-12 19:42] #245 closed

[2017-07-12 19:42] amaliebarras commented on #235
Yeah, once a CFD project reaches "official" status, they have a process for creating a waffle board for it. Does @werdnanoslen still want to do this?

[2017-07-12 19:43] VictoriaODell commented on #228
@seandellis this is essentially done, right? I know we talked about ways to potentially improve but maybe we can close this issue for now?

[2017-07-12 19:44] VictoriaODell commented on #193
Expunge records fizzled out before the post could be made. :/

[2017-07-12 19:44] #193 closed

[2017-07-12 19:47] VictoriaODell commented on #235
I'm connecting with @werdnanoslen today. We can go through and look at some of the project to-dos. Def want to leverage any knowledge you have about what's working in Colorado though. :)

[2017-07-14 06:14] seandellis commented on #228
Still working on it. I need to update the welcome messages across all of our accounts.

[2017-07-16 21:07] seandellis opened #256 "Write offboarding admin member documentation"
What's needed to offboard admin members?

- Github
	- Remove Admin members

- Slack
	- Remove people from Slack groups and @ mentions

- Meetup
	- Remove admin members

[2017-07-16 21:08] seandellis opened #257 "Create form for members"
- link to form
	- benefits
	- google doc for page content
	- design
	- collaborate on Google Doc

[2017-07-16 21:25] VictoriaODell opened #258 "Membership -> Bylaws"
@seandellis and I talked about this today!
Review our agenda and notes here:
https://docs.google.com/document/d/1P8wbVHkb8Df1LKXiiJjD1nwg1axKNqvhJ9noxe4_4OA/edit?usp=sharing

Bylaws here:
https://docs.google.com/document/d/1D6mhqrxokBCXG8g9I5XXKtBvUyjUCJS4_njqc1N9DVs/edit?usp=sharing

Vickies notes here:
https://docs.google.com/document/d/1P8wbVHkb8Df1LKXiiJjD1nwg1axKNqvhJ9noxe4_4OA/edit?usp=shari

[2017-07-16 21:39] VictoriaODell commented on #231
@seandellis and I discussed this today! We're going to start working to create docs using the Iced-Coffee Wiki. We'll need to work on prioritizing docs.

I think a good start would be moving what @amaliebarras has collected here in issue #218  and put it in the wiki.

[2017-07-16 21:47] VictoriaODell commented on #258
Issue #257 is for the affiliate form 📝

[2017-07-16 21:52] VictoriaODell opened #259 "Update + Evangelize Sign in"
@seandellis and I have decided to separate sign-in from membership.
From now on our sign-up sheet will only have first/last name + email. So, for now, we just need to simplify sign in.

Membership is another process we are working on in issue #257

We want to capture actual numbers of attendees so we can have a better idea for planning and sponsorships. Sign up will be essentially required for tho

[2017-07-16 21:55] VictoriaODell commented on #259
@seandellis something I didn't think about but when we simplify sign in will we have to ask for their shirt size every time if that's information we want to capture? I don't think it's a huge deal just feels a little silly now that I think about it.

[2017-07-21 17:16] VictoriaODell opened #260 "New Food at Hack Night?"
Hey, ya'll. We got a $100 donation from Expedition hack for this coming hack night on Wednesday. We usually get Chipotle for hack night and it's around $250 dollars.

Chipotle cost about $230 for 10 chips & Guac and 72 tacos (Veggie, beef, sofritas, chicken) which is 2 tacos for 36 people or 3 tacos for 24 people plus the chips. The cost per taco is $2.16 which isn't bad.

+Add the cost of drinks

[2017-07-21 20:57] werdnanoslen commented on #260
Tacodeli supports some local nonprofits http://www.tacodeli.com/commitment-to-quality-local-ingredients/community/

[2017-07-22 22:51] VictoriaODell opened #261 "Leadership Huddle - August"
**Location:** [301 Brazos St, Austin, TX 78701](https://goo.gl/maps/wUYFumh3aN12) | Street Parking available only right now | @werdnanoslen Apartment | Whitley Apartments |

**Time:** 6:00-8:00pm

**Date:** August 31// [Doodle Poll Closed](https://beta.doodle.com/poll/6xbb9iaqu26nv4ea)

[Agenda// WIP// Add to it as needed
](https://docs.google.com/document/d/1pnBIesByEAe0tUU4OhjVR7UisLKRtCpTiYmQ0I

[2017-07-22 23:26] VictoriaODell commented on #260
That looks super great but the cost per taco with their catering options ends up being $3.60 a taco and then we would get additional fees since we need them after they close. :/

[2017-07-22 23:39] werdnanoslen commented on #260
Right, I meant this would be an option once we have an EIN. I'm also a huge
Pueblo Viejo fan, so I'm waiting on them to respond to my message with a
quote.

[2017-07-22 23:53] VictoriaODell commented on #260
I see. Like as part of their donation thing and not actually ordering their catering? Def worth looking into once we have that.

Same with Pueblo Viejo! I've been going there for years. Let me know when you get a response. though they seemed on the higher end too when I was perusing the web. Chipotle is chipotcheap.

[2017-07-25 05:31] VictoriaODell commented on #200
@mapineda are any of our August dates confirmed? I see them in Meetup but want to be sure before annoucing via newsletter. :)

[2017-07-25 05:40] VictoriaODell opened #262 "August Open gov Meetup Speakers"
Hey, everyone, I believe we discussed having lightning talks this round. We should work to fill some spots

**When:** Monday, August 21st
**What:** We're hosting a lightning talk meetup. Should we have a theme? Does anyone have any thoughts on what we should cover? Might be interesting to have someone talk budget to us since we have Budget Party + it's Budget season. Or maybe someone from the inno

[2017-07-25 15:33] mapineda commented on #200
Hey! Will confirm today with Dev Bootcamp RE: august 5th. Working with Bazaar Voice to coordinate a Meetup there either for a CHN this month or a CHS in September

[2017-07-25 17:24] mateoclarke commented on #262
Ashley Fisher from Austin Monitor said she could do a quick hit on the Budget. Would be a run through of some charts and graphs on the City Budget. Let me know if you'd like me to confirm

[2017-07-25 18:17] VictoriaODell commented on #262
@mateoclarke That would be great!

[2017-07-29 22:18] VictoriaODell commented on #215
Can someone on @leadership help me get this on the site? I'm having trouble getting the site running on my computer to do updates myself.

I get stuck at the chruby stuff.

[2017-07-30 00:26] VictoriaODell opened #263 "Civic Hack Night Ideas"
Hey, ya'll. Here are a couple thoughts I've had about CHN Since visiting Code for D.C. Also, want to start the conversations so we can document our hack nights so they can become replicable.

## Intros
Saw intros at Code for D.C. They do announcements and the leads give an intro on who they are but since they have over 20 people they skip roundtable type intros and replace that with name tags. Sin

[2017-08-02 04:54] seandellis commented on #259
@VictoriaODell  True it does seem silly, but I think it might help incentivize sign in. I've added it as an optional question.

You can now see their shirt size and verify that they've signed in on our membership spreadsheet.

[2017-08-02 05:00] VictoriaODell commented on #259
@seandellis this isn't something that we initially discussed but I want to bring it up here since It's relevant.

What are your thoughts on adding a question about what district members are in? I got the idea while at the OGP workshops while talking to Kerry. I think if we have an idea of what districts members are in then we can get a better idea of how we can mobilize people on the policy side.

[2017-08-04 16:30] seandellis commented on #259
@VictoriaODell That certainly seems doable as an optional field.

Would that be for people applying for membership or for attendees?

I'm concerned, since it's a hurdle because most people don't know what district they are in. Including myself. 😥 I tried to find mine by searching.

The city's site only shows a white box instead of the districting map. 😡

https://www.austintexas.gov/page/10-one-dis

[2017-08-04 17:22] mateoclarke commented on #259
http://www.austintexas.gov/government (also not https)
http://myreps.datamade.us/ (also not https)

[2017-08-04 18:02] mateoclarke commented on #259
I think this is the map that doesn't current load as an embed on the `https://www.austintexas.gov/page/10-one-districting-map` page:
http://www.austintexas.gov/GIS/CouncilDistrictMap/

[2017-08-04 18:02] mateoclarke commented on #259
Either way, I'm going to hack on something because I've heard a lot of people complain about this.

[2017-08-04 18:07] seandellis commented on #259
@mateoclarke For our needs, I think [My Reps](http://myreps.datamade.us) will work best since it offers a simple address lookup. For those concerned with privacy they could look up an address in their neighborhood.

I was mainly annoyed with Vote Travis due to the lack of HTTPS since it asks for birth date.

[2017-08-04 18:25] VictoriaODell commented on #259
My Reps looks great for our purposed right now. It's also open source~

Re: Who we ask this questions to: I think it's a must for members. Maybe optional for attendees? I'm open to have a discussion on that. Maybe we should do some additional work to inform people about districts or have someone who has expertise in that come in for a presentation. I was unaware of my district until OA people star

[2017-08-05 19:02] VictoriaODell commented on #261
We chose a date & Time. The doodle poll came back with August 31, 6:00-8:00pm.
<img width="293" alt="screen shot 2017-08-05 at 2 01 07 pm" src="https://user-images.githubusercontent.com/10767430/28997963-9e38ff08-79e6-11e7-8b33-c3e3ce3e6d5b.png">

Even if you didn't participate in the poll you're still welcome to come. :)

[2017-08-07 17:49] mscarey commented on #259
Sounds like a good thing to ask. Could be a good way to target people for
district-specific projects. Can members have a profile where questions like
this could go, to fill out once and update only when needed? "None" or
"Outside Austin" should be a valid response too.

On Aug 4, 2017 11:25 AM, "VictoriaODell" <notifications@github.com> wrote:

My Reps looks great for our purposed right now. It's

[2017-08-08 20:19] VictoriaODell commented on #262
Someone from the COA will come to speak about 2016 Mobility Bond Data and resource. :)

[2017-08-08 20:22] VictoriaODell commented on #262
@mateoclarke any word from Ashley? Also, thought it would be cool to get some OGP Updates too. I can bring this up in the meeting tomorrow. :)

[2017-08-09 00:47] VictoriaODell opened #264 "2-3 Most successful projects to date"
We received this message on Meetup. It might be nice for us to define these and have some numbers or a quick blurb on projects that have been particularly successful. The [projects page](https://www.open-austin.org/projects/) is a start but I'd like to narrow in on a couple and really define a good story for them that is easy to tell.

So open thread/discussion on this.
[code]

@wilsaj mentioned o

[2017-08-09 03:36] mateoclarke commented on #262
I'll confirm with Ashley.

I'm pretty sure the OGP meeting for this month got cancelled. But you can come hang out in the Innovation Office anyways if ya want 😉

[2017-08-09 19:14] VictoriaODell commented on #264
@mateoclarke mentioned the Park Equity map and Texas appleseed today in conversation too.

[2017-08-09 19:19] VictoriaODell commented on #262
Hey thanks for confirming with Ashley @mateoclarke

I had 2 thoughts for the last spot. We can do an OGP update or maybe invite the folks you worked with at Galvanize to get the twitter water quality bot thing running. lol I need to sync with you on that but since you kinda have a hand in both, any thoughts?

[2017-08-09 19:37] mateoclarke commented on #262
yeah water quality would be cool and they already did a short presentation for their graduation. I can ask Jeff if he'd be interested.

After you left @VictoriaODell, I grabbed Daniel Honker and he was willing and ready to claim a 10 min spot. Some combination of us OGP folks in the City (Daniel, Sara Smith, me, Ginger or Brion in Equity Office) could report out on some of the specific projects. M

[2017-08-09 19:46] VictoriaODell commented on #262
Hmm, OGP seems really relevant right now and if the team is willing I think it would be great to have them! 1. I can shoot an email and start to do some coordination or 2. You can coordinate and get some people in office to shoot me over what they're thinking for their spot and who will present. Would be good to know end of week.

I still would like to see more about the water quality bot though!

[2017-08-09 23:22] VictoriaODell commented on #260
I'm closing this out or now. Chipotle is working good and seems to be the cheapest + easiest for us right now.

[2017-08-09 23:22] #260 closed

[2017-08-10 03:18] VictoriaODell commented on #200
Hey, @mapineda 👋 Can you work to get us September-October and update Mateo's original issue with some dates? I know we are still working to get Bazaar voice finalized for this month too.

I'll shoot an email over to my Conde Nast contact to see if there are any opportunities there.

[2017-08-10 03:49] VictoriaODell commented on #200
@mapineda  Checked the Calendar and a little concerned about our next meetup. We haven't had a page published or a date/location put out. I'm sure some people would come out but we should get something up soon: https://www.meetup.com/Open-Austin/

[2017-08-10 03:53] VictoriaODell opened #265 "Slack channel names"
I recently worked to archive inactive channels from the Open Austin slack. I did this so new and existing slack members could easily find channels that are of interested to them.

I think another step we can take to better organize the Slack is by starting to have some indicator of what is a project channel versus a general topic channel. This can help people see what channel might be more relevan

[2017-08-10 03:54] VictoriaODell commented on #263
The donation jar is working! Today we collected $10 and last time we collected $6. Not a whole lot but it counts.

[2017-08-10 19:04] mapineda commented on #200
@VictoriaODell cool, I'll work out deets with your contact at Conde Nast. BV fell through but thankfully Galvanize stepped up for next week. I'll update the meetup page and work on Sept-Oct

[2017-08-13 22:09] werdnanoslen commented on #265
[Posted to Slack](https://open-austin.slack.com/archives/C036FLME2/p1502662067240696)

[2017-08-20 20:39] werdnanoslen commented on #265
9 :+1: and 1 :-1:, so I'll go ahead and change these all with another `#general` announcement

[2017-08-20 23:36] werdnanoslen commented on #265
Oh apparently I'm not a Team Admin. @VictoriaODell can you help me out?

[2017-08-21 18:41] werdnanoslen opened #266 "Stream/record CTNs"
I have received requests from people about recordings of our civic tech nights as well as streaming. I've streamed a library CTN before for one person via Hangouts, but it would be nice to stream it regularly so that folks in other cities or are otherwise unable to attend still be able to learn about what Austinites are doing in civic tech.

Another opportunity is in documentary shorts of what civ

[2017-08-23 01:54] VictoriaODell opened #267 "ATX Hack for Change 2018 Planning"
@Leadership  ATX Hack for Change planning has begun. If anyone would like to be involved in helping out this year via Open Austin then feel free to post here or contact me in Slack so you can get added to the emails. Currently, @mateoclarke, @mapineda, @danielryne, and I are participating or are on the roster to do so. :)

The next meeting is August 30th, 12:00pm-1:00pm at Capitol Factory.

[2017-08-23 02:47] VictoriaODell commented on #215
Need help with this still. 🙃

[2017-08-24 00:16] werdnanoslen opened #268 "Infrastructure/Platform as a service accounts"
When a member asks something like "can you host this for me?", what should our answer be? Currently it's a soft no, but we have hosted projects in the past, we just have very limited funds.

If it should be something positive, then we should have a card on file with
- AWS for computing power
- Heroku for app hosting
- Google for web service APIs (e.g. Maps/Places)

[2017-08-24 00:53] werdnanoslen commented on #223
Like a project idea, repos should be left alone until someone stumbles upon it and decides to continue working on it. What would "clean up" mean though?

[2017-08-24 01:32] werdnanoslen commented on #263
Let's try the new agenda next hack night!

[2017-08-24 01:33] werdnanoslen commented on #257
@seandellis @VictoriaODell how's this going? Can I help?

[2017-08-24 01:35] werdnanoslen commented on #256
Do you think this'd be a good entry to the wiki? https://github.com/open-austin/iced-coffee/wiki/Team-Roles-&-Responsibilities

[2017-08-24 01:35] #254 closed

[2017-08-24 01:35] #252 closed

[2017-08-24 01:36] #217 closed

[2017-08-24 01:38] werdnanoslen commented on #190
Are we using Facebook at all?

[2017-08-24 01:39] VictoriaODell commented on #190
@werdnanoslen yes. Not as much as twitter though. Right now some of our buffer posts are set to post to twitter/facebook at the same time.

[2017-08-24 01:46] werdnanoslen commented on #216
Almost there! If we all approve it at the leadership huddle, is there anything else we all need to do to submit it, or is that something you can do @jonplaca ?

[2017-08-24 02:00] werdnanoslen commented on #181
Added a link to this in our support page https://github.com/open-austin/open-austin.github.io/commit/3706383816a5b2c1b007be72ee3c828a9396d39a

Will add IBM and Galvanize to the sponsors list, too, since they have hosted us. That counts as sponsorship, right?

[2017-08-24 02:06] #213 closed

[2017-08-24 02:28] werdnanoslen commented on #69
I think the current work on this subject are captured in those issues :point_up: , so I'm closing this one.

[2017-08-24 02:28] #69 closed

[2017-08-24 02:30] werdnanoslen commented on #195
@VictoriaODell  Is this done, or can it be moved to the Cute Pets Austin repo / project idea issue?

[2017-08-24 02:34] werdnanoslen commented on #188
Just wanna bump this to see if anyone else knows what we should do...

[2017-08-24 02:41] werdnanoslen commented on #256
Should also pair it with this https://github.com/open-austin/iced-coffee/issues/211

[2017-08-24 02:44] werdnanoslen commented on #218
I think this can be closed, considering the other open issues linked here?

I'll message @amaliebarras about that draft she was working on

[2017-08-24 02:47] werdnanoslen commented on #229
@jonplaca this doesn't have to happen before we submit for incorporation does it?

[2017-08-24 02:59] werdnanoslen commented on #238
I'd be interested in making a blog post at some point. @VictoriaODell you made some updates to the deck recently right? Wanna work on a blog post + deck + video combo?

[2017-08-24 02:59] werdnanoslen commented on #202
Would be good to add this to the Civic Hacking 101, too

[2017-08-24 03:04] werdnanoslen commented on #240
Are we using _their_ AWS or our own?

[2017-08-24 03:07] werdnanoslen commented on #215
@VictoriaODell where is the final content you'd like to add? I've never loaded the site locally; I've always just converted my stuff to markdown and then used a previewer to make sure it shows up right.

[2017-08-24 03:09] werdnanoslen commented on #235
Not sure if Waffle is still the most important thing (hard enough to get people to use Github in the first place), but I did update the project idea issue template back in May https://github.com/open-austin/project-ideas/blob/master/ISSUE_TEMPLATE.md

That has steps for active and featured projects, too.

[2017-08-24 03:15] werdnanoslen commented on #233
As of April 17ish...
https://docs.google.com/presentation/d/1OP1Atz3q5GnzjiEJ2JeExKOUrD_oQFzx0HLlopDdxgw/edit#slide=id.g2075a382aa_0_14

[2017-08-24 03:15] #233 closed

[2017-08-24 03:20] #262 closed

[2017-08-24 17:47] tshelburne commented on #188
Can confirm that I no longer have this domain.

[2017-08-27 20:29] seandellis opened #269 "Update Open Austin Team Diagram "Snowflake""
@werdnanoslen @VictoriaODell Here's the updated team "snowflake".

I've added a contributor circle that includes @mateoclarke and Kate Moon.

Let me know if there's anybody that I've left out.

You can find the source files on [Google Drive](https://drive.google.com/drive/u/1/folders/0B822-PUotS-3OXhEbHNBaURhVWM).

![diagram-open austin-team structure-20170827](https://user-images.githubuserconten

[2017-08-27 21:09] seandellis commented on #259
I've added the "What is your district" as an optional question to the standard sign in form.

Live form here: https://docs.google.com/forms/d/e/1FAIpQLSd799C8EF7cCXmuSM9jfYPFSlPGPReFOao_GTaI58QD_w5FPg/viewform

[2017-08-27 21:09] #259 closed

[2017-08-28 02:30] seandellis commented on #256
Added to wiki: https://github.com/open-austin/iced-coffee/wiki/Onboarding---Offboarding-members-to-the-Leadership-team

[2017-08-28 02:30] #256 closed

[2017-08-30 20:30] seandellis commented on #218
@werdnanoslen yeah, this can be closed.

[2017-08-30 20:30] #218 closed

[2017-08-31 03:25] VictoriaODell commented on #267
The meeting today went well. I was able to call in. I intend on meeting with Ashley and Sarah early next Tuesday to speak about opportunities to align some of our events this upcoming year.

**I've started a Google Drive here:** [https://drive.google.com/drive/folders/0BwKb2oghmQldQTRBWUZpd0xXNzA?usp=sharing](https://drive.google.com/drive/folders/0BwKb2oghmQldQTRBWUZpd0xXNzA?usp=sharing)

- I gav

[2017-08-31 15:27] #269 closed

[2017-08-31 17:32] VictoriaODell commented on #261
We took a survey prior to our meeting. Find it here:
[Open Austin August:Leadership Huddle Survey Question](https://docs.google.com/forms/d/e/1FAIpQLScgCs6AlcVCVTtb8jRJVlUztx9ygLNHyZgtfSNH-KITaFYysQ/viewform)

find the responses here:
[Leadership responses ](https://docs.google.com/spreadsheets/d/18UcIvYIA7-if9vrcqQA-xrvZXidvnPqi4P9UEE7fzy4/edit?usp=sharing)

[2017-09-02 02:29] VictoriaODell commented on #261
Meeting complete.
View our notes here: [https://docs.google.com/document/d/1pnBIesByEAe0tUU4OhjVR7UisLKRtCpTiYmQ0IK0JLU/edit](https://docs.google.com/document/d/1pnBIesByEAe0tUU4OhjVR7UisLKRtCpTiYmQ0IK0JLU/edit)

New issues from meeting notes coming soon.

[2017-09-02 02:29] #261 closed

[2017-09-02 02:56] VictoriaODell opened #270 "Final Bylaws Review"
This came out of our August leadership Huddle #261. [Based on our survey](https://docs.google.com/spreadsheets/d/18UcIvYIA7-if9vrcqQA-xrvZXidvnPqi4P9UEE7fzy4/edit?usp=sharing) a majority of leadership believes we should continue with incorporation.
<img width="500" alt="screen shot 2017-09-01 at 9 38 24 pm" src="https://user-images.githubusercontent.com/10767430/29992297-08382992-8f5e-11e7-9464-4d

[2017-09-02 16:14] mapineda opened #271 "Update projects"
http://github.com/open-austin/project-ideas/projects/1

Projects out of date or stagnant. Complaint/issue raised by new members

[2017-09-04 16:11] VictoriaODell commented on #270
We chose this coming Friday, September 8th at 6-7:30pm but need a location.

<img width="286" alt="screen shot 2017-09-04 at 11 10 24 am" src="https://user-images.githubusercontent.com/10767430/30033592-b12ececa-9161-11e7-94ba-7ac1e904a220.png">

[2017-09-04 23:42] #265 closed

[2017-09-04 23:59] werdnanoslen commented on #241
So I analyzed resources in terms of knowledge, skills, tools, and techniques. Here's the results from the survey a while back:

### Knowledge
A wide variety of knowledge has been important to teams, from specific domain expertise to general project management skills. It seems it would be helpful to many if we made easily available some high-level knowledge about processes, whether that's about a p

[2017-09-05 00:04] #223 closed

[2017-09-05 00:09] werdnanoslen commented on #201
a couple suggestions based on our survey a while ago (https://github.com/open-austin/iced-coffee/issues/241#issuecomment-327040775):

- Something on data storage/vis using Socrata, CartoDB, ArcGIS, and others, possibly with another meetup group with the skills that our members need (programming, data analysis and cleaning)
- Project management/process workshop, again possibly with another meetup g

[2017-09-05 00:10] #241 closed

[2017-09-05 00:13] werdnanoslen commented on #231
we should also document what our own and members' most common suggestions are for I/PaaS:
- AWS for computing power
- Heroku for app hosting
- Google for web service APIs (e.g. Maps/Places)

[2017-09-05 00:13] werdnanoslen commented on #268
We'll keep this as a no for a while. But in the meantime, we can at least document it. Discuss over in https://github.com/open-austin/iced-coffee/issues/268

[2017-09-05 00:13] #268 closed

[2017-09-05 00:15] werdnanoslen commented on #224
I'm just going to make this the canonical issue for this work and close the others. Here's some related issues:

#237
#235
#233
#224
#218
#215
#69

[2017-09-05 00:15] #237 closed

[2017-09-05 00:29] werdnanoslen commented on #242
As documented in the [idea issue template](https://github.com/open-austin/project-ideas/blob/master/ISSUE_TEMPLATE.md), there are new, active, and featured projects. I think **External** isn't necessary, but having a sort of freshness label like **Inactive** and/or **Backlog** are important to indicate whether previous project members are active without the obligatory "hey is this project still ha

[2017-09-05 15:09] VictoriaODell commented on #267
Met with Ashley & Sarah this morning. Discussed the following:

- ATX Hack for Change + Open Austin programming overlap for the future
- Potential Open Austin Award/ Judge position for this coming year
- Social

Next steps for vickie:
- Draft a calendar for programming for 2018 & get core team feedback
- Draft criteria & offerings if OA was a judge. Have some ideas brewing but need to get them dow

[2017-09-05 22:17] luqmaan commented on #240
Open Austin has its own AWS account. But the billing is paid for by Code for America. You should be able to see this by logging into AWS and looking at the billing settings.

[2017-09-05 22:55] werdnanoslen commented on #270
My place is open as usual. We can meet out by my grill/pool and I can cook
for us. This many people a cafe probably wouldn't work well, but maybe a
dinner type place or brewpub would work if y'all wanna go out.

[2017-09-05 23:03] werdnanoslen commented on #240
Are they still looking for this info, or are we square with them for now? I saw @mateoclarke  called them, but we're not on this spreadsheet (no idea if they're actually looking at the sheet anymore anyway)

[2017-09-05 23:57] werdnanoslen commented on #242
@VictoriaODell aligned on this, so now there are five labels in the ideas repo:

status: abandoned and needs love
status: backlog
status: new
status: active
status: featured

[2017-09-05 23:57] #242 closed

[2017-09-06 03:10] mateoclarke commented on #240
I just forwarded you an old email chain. I shut down some zombie instances on AWS and had a call with John O'Duinn to walk through things. After I did some proactive cleanup, he seemed happy with our monthly billing levels.

@werdnanoslen, I think it would be a good idea for you to reach out to him and let him know your managing our resources and refer some of your questions around usage to him. L

[2017-09-06 03:10] mateoclarke commented on #240
And I would suspect that the Google Doc is no longer up to date or actively being used.

[2017-09-06 11:46] werdnanoslen commented on #240
will do, closing this now... thanks for the info!

[2017-09-06 11:46] #240 closed

[2017-09-06 12:06] #235 closed

[2017-09-06 12:22] werdnanoslen commented on #188
Yeah, whois shows it's owned by a French dude who runs a job talent site and owns a bunch of domains. Gonna call this closed

[2017-09-06 12:22] #188 closed

[2017-09-06 15:39] VictoriaODell commented on #267
Hey @leadership, Ashley & Sarah from ATX Hack for Change would love to get to know us all a little better. I'll be sending an email out but they want to organize a social with us.

Complete the doodle poll here: https://beta.doodle.com/poll/yvyh9eufrrebg3wa

[2017-09-06 22:21] werdnanoslen commented on #263
I'm trying the new agenda tonight

[2017-09-07 23:37] VictoriaODell commented on #201
Compiling suggested speakers from the #iced-coffee slack channel here:

MapD

idea From @mscarey

idea from @mscarey

Idea from @mateoclarke

City of Austin

[2017-09-08 00:00] VictoriaODell commented on #201
Also adding that my coworker at Anaconda mentioned being able to speak about Gerrymandering and redistricting. I believe he has a project that he is working on around it and has a presentation he is doing later this month. GlassHouse policy also has interest in the topic and has worked on an app for a game night.

I would say Having a speaker or multiple speakers come out to talk about this is imp

[2017-09-08 02:17] werdnanoslen commented on #263
It seemed to work fine? There were about a dozen people there by 7:15, and only a couple were new so we just chatted one on one. I think it worked really well in this case since everyone seemed eager to get to work on their projects. Only thing we didn't do was report out, so next time we'll try that out. I'll go ahead and close this since they were great ideas that worked well in our own way.

[2017-09-08 02:17] #263 closed

[2017-09-08 02:18] werdnanoslen commented on #253
Just set up automatic calendar updates a day before they occur to post on the announcements channel.

[2017-09-08 02:20] werdnanoslen commented on #253
@seandellis set up the event volunteering message on the iced-coffee channel https://open-austin.slack.com/archives/C0GKYM1PG/p1504537209000248

[2017-09-08 02:38] werdnanoslen commented on #253
Added Welcome message using Aloha

[2017-09-08 02:38] #253 closed

[2017-09-08 02:52] werdnanoslen commented on #181
added ibm, conde nast, and galvanize to sponsors list

[2017-09-08 02:52] #181 closed

[2017-09-08 02:54] werdnanoslen commented on #202
closing to combine with #178

[2017-09-08 02:54] #202 closed

[2017-09-08 02:56] werdnanoslen commented on #178
let's also add a List of beginner friendly projects and tutorials (#202) and then publish it (#238) so that it's easily discoverable for people who can't get the in-person 101 but still would benefit from a comparable experience.

[2017-09-08 02:56] werdnanoslen commented on #238
closing to combine with #178

[2017-09-08 02:56] #238 closed

[2017-09-08 02:57] werdnanoslen commented on #264
Is this the same as https://github.com/open-austin/iced-coffee/issues/194?

[2017-09-08 03:00] werdnanoslen commented on #153
Should we list all of our featured projects? Would be cool if the Austin Community Apps could auto-post based on our site's RSS feed of new featured projects, too

[2017-09-08 03:01] werdnanoslen commented on #228
@seandellis want any help on this?

[2017-09-08 03:41] werdnanoslen commented on #271
I've gone through each one and updated their status label. Our use of the projects board on Github is inconsistent, so perhaps we can better commit to doing that at each hack night? What was the issue raised by the new member(s)?

[2017-09-08 03:44] werdnanoslen commented on #270
Issues we might be able to update if not close:

- [ ] https://github.com/open-austin/iced-coffee/issues/215
- [ ] https://github.com/open-austin/iced-coffee/issues/210
- [ ] https://github.com/open-austin/iced-coffee/issues/258
- [ ] https://github.com/open-austin/iced-coffee/issues/257
- [ ] https://github.com/open-austin/iced-coffee/issues/229
- [ ] https://github.com/open-austin/iced-coffee/is

[2017-09-08 04:27] seandellis commented on #228
@werdnanoslen That would be great!

Could you update the [Mailchimp Welcome email](https://us13.admin.mailchimp.com/campaigns/wizard/autocampaigns?id=913621) whenever someone signs up for our newsletter?

Once that's done you can close this issue.

----

You can tailor it based on this message:

Welcome to Open Austin
Thanks for filling out our membership form. We're glad you're here!

[Learn more

[2017-09-08 04:29] #221 closed

[2017-09-08 04:37] seandellis commented on #257
@werdnanoslen I'd love your help on this. 😃

Could you do the following:

1. Duplicate our existing [welcome form](https://docs.google.com/forms/d/e/1FAIpQLSd799C8EF7cCXmuSM9jfYPFSlPGPReFOao_GTaI58QD_w5FPg/viewform)
2. Use the relevant questions that are currently disabled.
3. Be sure that it puts the answers into either a new sheet in our existing [OA Membership form](https://docs.google.com/spre

[2017-09-09 00:19] werdnanoslen commented on #215
Let's put this on the website

[2017-09-09 00:20] #210 closed

[2017-09-09 00:20] werdnanoslen commented on #258
Membership no longer part of bylaws.

[2017-09-09 00:20] #258 closed

[2017-09-09 00:21] werdnanoslen commented on #229
Need to incorporate, then get a bank account, then we can get back to this

[2017-09-09 00:22] werdnanoslen commented on #230
Need to incorporate, then get a bank account, then we can get back to this

[2017-09-09 00:22] werdnanoslen commented on #270
Finished reviewing bylaws, next steps are covered in #216 to incorporate

[2017-09-09 00:22] #270 closed

[2017-09-09 00:23] werdnanoslen commented on #216
Updates from Sep 8 bylaw review: https://docs.google.com/document/d/10lhAPUEEUitIgafKttUONFGKM80snBlCG1loMBHoxC8/edit#

[2017-09-09 02:02] werdnanoslen commented on #228
There doesn't seem to be a welcome email, but I'll set it up

[2017-09-09 02:07] werdnanoslen commented on #228
Oh! Nevermind, there are two accounts on LastPass, using the new one now.

[2017-09-09 02:52] werdnanoslen commented on #228
Ok, turns out there's a built-in way of doing this as a "Final Welcome Email" after the confirmation email. So I put this content there:

![image](https://user-images.githubusercontent.com/764090/30236493-f8932294-94df-11e7-96d8-08ce3afb1236.png)

[2017-09-09 02:53] #228 closed

[2017-09-09 03:14] werdnanoslen commented on #257
@seandellis it looks like that form is on your personal drive, not in the shared folder

[2017-09-09 04:06] werdnanoslen commented on #231
The [iced-coffee wiki](https://github.com/open-austin/iced-coffee/wiki) is up and occasionally updated, but we could probably do a better job of doing so more often. We can make new issues for specific updates we want to make, but I'll close this one since all the content posted here has been added.

[2017-09-09 04:06] #231 closed

[2017-09-09 04:11] werdnanoslen commented on #182
updated [hosting.md](https://github.com/open-austin/iced-coffee/blob/master/hosting.md) and added to wiki

[2017-09-09 04:12] #182 closed

[2017-09-09 04:39] werdnanoslen commented on #224
I think this has been captured in the new project idea template. We can make new issues targeting more specific outcomes we want, but I think the original intent of this issue has been completed.

[2017-09-09 04:39] #224 closed

[2017-09-09 04:44] werdnanoslen opened #272 "Problem definition essay"
https://docs.google.com/document/d/1mRtOigXNKyclprR0IJg6QL4z-vLRAB-ipSrNKUTi6Rk/edit#

[2017-09-11 00:47] VictoriaODell opened #273 "Leadership Huddle - September"
**Location:** Andy's place (301 Brazos)

**Time:** 6-8pm

**Date:** Sep 28// [Doodle Poll CLOSED](https://doodle.com/poll/rufx3xki6ma2shkx)

[Agenda// WIP// Add to it as needed
](https://docs.google.com/document/d/13O4dd_mzJrCUTFEOcRrDZkyN3kgLV_eI7xZRhKz5d7c/edit?usp=sharing)

[2017-09-11 00:53] VictoriaODell commented on #273
@leadership, let's pick a time for our huddle for the last week of this month:
https://doodle.com/poll/rufx3xki6ma2shkx

[2017-09-11 01:09] VictoriaODell opened #274 "Core team wiki docs"
Hey, Everyone. We mentioned starting to do this at our last leadership meeting and @werdnanoslen  got us started and created a [projects wiki page](https://github.com/open-austin/iced-coffee/wiki/Projects). Let's use this as a template and commit to getting our daily, weekly, and monthly task filled out. Getting a couple of bullets under each section is all that we need to get started. What you wr

[2017-09-11 02:49] werdnanoslen commented on #272
reviewing now and will post shortly to the blog...

[2017-09-11 02:49] #272 closed

[2017-09-11 03:42] VictoriaODell opened #275 "Source potential event partners"
As we start planning for future events, we should consider who we can work with more closely to create stronger programming with pooled resources. I started to document local organizations in the below google doc. Please add notes + entries as needed. This will help us with 2018 planning and calendaring out our year.

https://docs.google.com/document/d/1uOyYMt2nzSWH_tXpAK_EZNUJ4SirnPpmTa_v37g2pqw/

[2017-09-11 04:31] mscarey commented on #216
I made more changes to the bylaws. I think if the changes are accepted, it looks ready to file. https://docs.google.com/document/d/1HwgQ9lDcJohBLZPyRVvMqvf282mGJOGM17KFNkvBmfA/edit?usp=sharing
Also, I partially filled out the Certificate of Formation form and put it in that same folder (bylaws & non-profit planning). The file is called 202_boc.pdf. We'll need to fill in the information of the peop

[2017-09-11 17:48] VictoriaODell commented on #201
Spoke with Amy to get Monday finalized. Current Run of show for Monday looks like this:

Here is our current setup:
6:45pm Doors open
7:00pm Programming with announcements + Intros
7:10pm Open Austin Updates
7:20 City of Austin slot for fellowship + Q&A (15 minutes)
7:35-8:30pm Amy Stansbury does Civics 101 + Q&A

Confirming the fellowship time slot with the city.

Amy will be covering basics for

[2017-09-11 17:49] VictoriaODell commented on #201
That was fast, city confirmed. Updating our September event page. We can start planning October next.

[2017-09-11 18:47] werdnanoslen commented on #257
got access, thanks @seandellis

[2017-09-15 02:55] werdnanoslen commented on #267
Looks like one of these next fridays then?

[2017-09-15 03:51] werdnanoslen commented on #257
@seandellis Let me know how this is:

Form: https://docs.google.com/forms/d/e/1FAIpQLScKIIY8uUmLaeK0SQb_qiNolfADyOx2r8v7D1pEWHKD4ekc6w/viewform

Responses: https://docs.google.com/spreadsheets/d/1dghpcswCfUOsEnSKM6m-SM5-HHHaISDRFiAYU7RO2Kk/edit#gid=694576777

[2017-09-15 03:53] werdnanoslen commented on #267
Potential lead-up events/workshops/discussions:
- how to start a civic project
- framing & scoping
- what do i do at a hackathon?
- speakers to expose people to subjects/tech
- previously on atx h4c, last year's speakers

[2017-09-15 03:57] werdnanoslen opened #276 "notify slack about emails to OA addresses?"
To promote visibility and timely discussion around emails to us, should we post the content or subject of emails to our [team]@open-austin.org addresses to a Slack channel like #iced-coffee or #coreteam?

[2017-09-16 15:00] #271 closed

[2017-09-16 18:12] werdnanoslen commented on #275
I added this to the [events wiki](https://github.com/open-austin/iced-coffee/wiki/Events). Is there anything we need to update for this? Or can we close this and make it maybe a monthly task to update the list with any new leads and remove cancelled partnerships?

[2017-09-16 18:17] werdnanoslen commented on #273
Everyone responded yay! Let's meet at my place Sept 29 from 6-8pm. As usual, let me know if you want one of my two parking passes. Or if you wanna meet somewhere else, please respond. Also don't forget to add agenda items!

[2017-09-16 21:10] werdnanoslen commented on #178
Merged all versions & changes of 101 into a single deck: https://docs.google.com/presentation/d/1YnjujQQ1XqbRIdsorfUfKaR-oE_hWy1itZrZAVQZ6vI/edit#slide=id.g18065a33fa_0_173

This presentation is on par with suggestions in Hannah's doc: https://docs.google.com/document/d/1Xvhe8ctjoBANpIVvFS6ah8Wl0fdtrm3_Itt5YfH7AE4/edit

And we can point to the project ideas repo milestones for which current projec

[2017-09-16 21:10] #178 closed

[2017-09-16 21:14] mateoclarke commented on #153
Would be cool, but I'm not sure the City would invest the time necessary (or cede control of content on their page) to sync to an external RSS feed. It also looks like that tile is not longer there on the Data Portal landing page.

Ashlee is great though. If you ever want to reach out to talk about it you should. Feel free to pull me if you think I could help bridge any gaps.

[2017-09-16 21:16] werdnanoslen commented on #153
Yeah, could you introduce me? We can discuss how we might share OA's work on a city site, whether it's as a tile there or not.

Since they removed that tile though, I'll just close this issue and open a new one depending on how the convo goes.

[2017-09-16 21:23] werdnanoslen commented on #201
As part of a way to entice folks from Data for Democracy to join, perhaps we invite Jon Lyons to talk about the hate crimes dataset for the October 16 meetup? Who knows Jon?

[2017-09-16 21:23] #153 closed

[2017-09-16 21:27] mateoclarke commented on #153
✉️  💨

[2017-09-16 21:50] werdnanoslen commented on #216
I approve these bylaws. Everyone else please take a look at Matt's changes and react by emoji to his message if you accept before the huddle. Then at the huddle we can take care of submission questions or any signatures that may be involved.

[2017-09-16 22:37] VictoriaODell commented on #264
Relevant! I think we can update the list with more recent projects though. I followed up the CfD to see if they still had a need.

Closing #194 and we can continue the convo here and

https://docs.google.com/document/d/1lMzjlCpNQs9N6v0VT7iLk_0tSGDZ0Cj86bmMHXAyFjc/edit?usp=sharing

[2017-09-16 22:37] VictoriaODell commented on #194
This doc should be updated with more current projects but it's worth investigating the origins and results of these projects a bit better. Continuing this sort of thread in #264

[2017-09-16 22:37] #194 closed

[2017-09-17 01:16] mateoclarke commented on #216
Looks good to me! This is really exciting!

[2017-09-17 16:55] VictoriaODell commented on #201
@werdnanoslen who is Jon Lyons? I looked through our meetup messages and it seems like someone from New Knowledge, the company behind D4D, messaged us about doing events together. I just sent a follow-up saying a few of us planned on going to their 30th meetup.

And what is the "Hate crimes dataset"? I'm interested. I have a strong interest in getting redistricting at our October or November meetu

[2017-09-17 18:10] werdnanoslen commented on #201
I dunno, he's listed in the first post here

[2017-09-17 18:16] werdnanoslen commented on #264
How about we just replace Instabus with Budget Party?

[2017-09-17 18:26] werdnanoslen commented on #234
@mateoclarke where can we find more info on this?

[2017-09-18 02:54] seandellis commented on #257
@werdnanoslen  This works great. Thanks!

[2017-09-18 02:54] #257 closed

[2017-09-18 15:15] mapineda opened #277 "Location + partners for 2018"
Discussion about securing long term location partnership agreements with certain organizations.

Ex:

- Galvanize
- St. Ed's

Questions to spur discussion:
* What value do we offer the potential partner?
* What does the partner gain? ( concrete numbers )

Potentially expand upon sponsorship prospectus from Code Across 2016
https://goo.gl/CtC3XZ

[2017-09-19 04:07] VictoriaODell commented on #275
@werdnanoslen monthly task sounds good!

@mapineda thoughts?

[2017-09-19 04:49] VictoriaODell commented on #276
I would say let's test it out in #iced-coffee. If it's too much then we can put it in another channel.

Also, #coreteam isn't used very often, we should consider its purpose. There isn't a lot of chatter in there and some of it could have been in #iced-coffee.

[2017-09-19 15:09] mapineda commented on #275
@VictoriaODell @werdnanoslen  I'm good with monthly task.

[2017-09-19 22:18] werdnanoslen commented on #275
Cool I'll just crossref this with the wiki issue #274 and close

[2017-09-19 22:18] #275 closed

[2017-09-20 03:25] VictoriaODell opened #278 "Post event survey feedback"
Just trying this out. Hope that we can get some insight from our members on what they like and don't like moving forward.

<img width="450" alt="screen shot 2017-09-19 at 10 23 47 pm" src="https://user-images.githubusercontent.com/10767430/30625502-3c7fd324-9d89-11e7-820c-5f6d8c6ed493.png">

<br><br>

Link to event survey:
[Post Event Survey Form ](https://docs.google.com/forms/d/e/1FAIpQLSfG0gzXo

[2017-09-20 04:22] VictoriaODell opened #279 "Gigabit Funding for Open Austin"
I met with Charles Purma from CTM last week and heard we got some allocated funding to support gigabyte activites. [View my notes from the meeting](https://docs.google.com/document/d/1c020XQinMJAekKPkPXhY8wRPzP6PiY0hdBn3WFmprlk/edit?usp=sharing).

Would love feedback and ideas from leadership on how to spend this funding. This might be something good to inform the community of for feedback also.

[2017-09-20 04:56] VictoriaODell commented on #267
Hey ya'll. I replied to Ashley Distefano about being able to help with the projects team. They expressed a need with marketing and Tech help.

 @mapineda are you available again for this year?
@werdnanoslen are you interested in taking on a role with a team?
@seandellis would you like to help?

Additionally, now would be a good time to recommend some members.

Here is a list of the teams and job d

[2017-09-20 05:07] VictoriaODell commented on #200
@mapineda I'd be interested in seeing if Conde Nast and galvanize can take us through until the end of the year for hack nights while we plan on reaching out for more strategic partnerships the coming year. I think keeping a good relationship with Galvanize is especially important.

Getting more into their programming and forming more intentional relations with students and teachers would be helpf

[2017-09-20 05:09] VictoriaODell commented on #273
I messed up and Javier's show is September 29th. Any way we can pick another date? 😅

[2017-09-20 05:11] VictoriaODell commented on #273
@jonplaca do you have any flexibility for the 28th or the 25th?

[2017-09-20 05:14] VictoriaODell commented on #201
I'll check in with the following people for October:
- My Co-worker at Anaconda,  Micheal Sarahan. He recently gave a presentation on redistricting
- Glasshouse policy, they are working on another game night and application that needs some help
- Maybe one other? I'll check in with those people and see their availability and thoughts.

[2017-09-20 12:47] werdnanoslen commented on #267
Yeah, I think we can be a solid PR arm

[2017-09-20 12:52] werdnanoslen commented on #273
I've actually already committed to something Monday (25) and Tuesday (26)...

[2017-09-21 02:24] werdnanoslen commented on #279
From Slack, Marco and I are interested in using this to secure venues when necessary, such as if a venue backed out last minute and we need to pay for a room somewhere like Capitol Factory or General Assembly.

As far as projects go, perhaps we could use it to book a class or tech guru for a select team as a reward.

Or perhaps it could go toward buying books to really jump-start Chris' book club

[2017-09-21 02:31] werdnanoslen commented on #278
Cool, this'd be great to have for in-person surveys, and for remote surveys we'd get an even better response rate if we sent the question itself (not the survey link) in an email and collect responses through replies.

[2017-09-21 02:34] werdnanoslen commented on #276
How about on the comms channel?

[2017-09-21 15:42] VictoriaODell commented on #279
Slack thread on spending also in #iced-coffee: https://open-austin.slack.com/archives/C0GKYM1PG/p1505881945000044

[2017-09-22 18:51] VictoriaODell commented on #273
Ok. Well looks like this one will have to go on without me. I'll be sure to put my notes and updates in prior to the meeting.

[2017-09-22 19:00] VictoriaODell commented on #267
Interested in what @mapineda, @seandellis, @werdnanoslen , @mateoclarke , @mscarey , @jonplaca think.

I don't know between us how much PR experience we have but maybe we can commit as a group to work on the tech group? We could sources hackers and mentors from our group. The education part is some of what we are doing now too.

<img width="559" alt="screen shot 2017-09-22 at 1 58 21 pm" src="http

[2017-09-22 19:01] VictoriaODell commented on #267
Also, we blew past the previous happy hour dates and they want to try again. Here is a new doodle poll: https://beta.doodle.com/poll/etkepnazy6bkihc4

[2017-09-23 01:51] werdnanoslen commented on #273
Unless @jonplaca can do 28th?

[2017-09-23 01:53] werdnanoslen commented on #267
all together, we'd make a helluva tech working group

[2017-09-23 01:54] werdnanoslen commented on #200
They were very positive about that when we ran our last hack night there.

[2017-09-23 01:56] werdnanoslen commented on #276
done, routed to #coreteam

[2017-09-23 01:56] #276 closed

[2017-09-23 04:34] jonplaca commented on #273
This works for me

[2017-09-26 02:19] jonplaca commented on #216
@werdnanoslen @mscarey @VictoriaODell

I reviewed the Bylaws and everything looks good. The only language that I did not accept dealt with changing "Articles of Incorporation" to "Certificate of Formation" as Articles of Formation  are Open Austin's proposed documents to becoming a non-profit - the Certificate Formation is essentially a receipt from the government, recognizing and authorizing our

[2017-09-26 02:26] jonplaca commented on #216
@werdnanoslen @mscarey @VictoriaODell - Also, updated original ticket Description for near-term objectives.

Regarding the next Deliverable (establishing Officers) - who would you like to have on the board (minimum 3 individuals).

[2017-09-26 16:56] VictoriaODell commented on #216
@jonplaca and I are set to meet with Sarah Goldgar this coming Thursday morning. She practiced non-profit law and is currently a developer. I met her at ACT-W Conference this past year.

As far as the board q goes, I need some better help understanding the boards relation to officers/leadership. A diagram or something would help me. :)

[2017-09-26 17:28] werdnanoslen commented on #216
Commented on Vickie's comment on the doc. https://docs.google.com/document/d/1HwgQ9lDcJohBLZPyRVvMqvf282mGJOGM17KFNkvBmfA/edit#

Also, I think we roughly mapped out the board a couple months ago. It was something like
- President = Captain
- Vice-President = Co-captain
- Treasurer = Finance lead
- Secretary = Comms lead

These are just suggestions, as they're just what currently maps between our s

[2017-09-27 02:56] mscarey commented on #216
This is from the [Secretary of State's FAQ](https://www.sos.state.tx.us/corp/bocfaqs.shtml) about the meaning of "certificate of formation" in Texas.

If we submit the generic PDF form from the state, it's titled "certificate of formation" rather than "articles of incorporation." And I don't think "articles of formation" has a specific [definition in Texas law](http://www.statutes.legis.state.tx.u

[2017-09-27 18:53] VictoriaODell commented on #201
Here is a video and the slides from my coworker:
https://www.youtube.com/watch?v=SJzCgC4eguw&feature=youtu.be

I sent him info and am checking to see what he's thinking/needs. Would still like to reach out to Glasshouse and get them to mention their game night/ app.

[2017-09-28 14:49] werdnanoslen commented on #216
From @VictoriaODell's meeting with Sarah Goldgar this morning:
*   [Sample IRS Application for 501(c)(3)](https://www.bolderadvocacy.org/wp-content/uploads/2012/05/Sample_1023_Form.pdf)
*   [Texas Nonprofit App Form](http://www.sos.state.tx.us/corp/forms/202_boc.pdf)
*   [IRS Publication on Tax-Exemption](https://www.irs.gov/pub/irs-pdf/p557.pdf)
*   [IRS Application Process Interactive Questionna

[2017-09-28 23:40] jonplaca commented on #216
Officers established:
Matt
Sean
Jon
Vickie
Andy
Marco

[2017-09-29 00:05] VictoriaODell commented on #277
Here is a doc that I started too : https://docs.google.com/document/d/1uOyYMt2nzSWH_tXpAK_EZNUJ4SirnPpmTa_v37g2pqw/edit?usp=sharing

[2017-09-29 00:51] VictoriaODell commented on #267
"Hello all,

Welcome to our core team for ATX Hack for Change 2018. With the minds and talent at the table I am confident this year will be fantastic!  ​I want to truly thank all of you for your ongoing support and productive feedback.​ Below are some things that you can expect moving forward.

​Seven ​meetings over the next s​even ​months starting in November here is the first doodle.(https://doo

[2017-09-29 00:58] werdnanoslen commented on #273
Let's pull out action items from the agenda and make issues now. Add them as next month milestone

[2017-09-29 01:01] werdnanoslen commented on #279
Vickie's going to check our finances to figure out what we need and what the exact rules are for what we can use Ignite money for.

[2017-09-30 02:38] werdnanoslen opened #280 "Ask CfA about any issues with becoming a nonprofit"
Follow up with CfA about what happens (1) when we are recognized by Texas as an unincorporated nonprofit and then (2) when we are recognized by the federal government as tax exempt and then (3) when Texas recognizes we are a 501c3 tax exempt nonprofit corporation.

[2017-09-30 02:39] werdnanoslen commented on #216
Just dropping a reminder here from the leadership huddle for @jonplaca to find a registered agent service/company, and report back with options (including prices)

[2017-09-30 02:42] werdnanoslen commented on #277
Dropping a reminder here for @mapineda from the leadership huddle to to try to get with the booking person at the new library by their grand opening on Oct 28th 1-6pm. We should also confirm whether they're going to charge for that kind of thing, but maybe they'd reconsider for a nonprofit?

[2017-09-30 02:46] werdnanoslen commented on #273
Made/commented on issues with action items from the huddle. Closing...

[2017-09-30 02:46] #273 closed

[2017-09-30 02:46] werdnanoslen opened #281 "blog post about access to city council agenda items"
[(from leadership huddle minutes)](https://docs.google.com/document/d/13O4dd_mzJrCUTFEOcRrDZkyN3kgLV_eI7xZRhKz5d7c/edit#)

[2017-09-30 02:49] werdnanoslen opened #282 "set goals to accomplish advocacy agenda items"
set specific actionable goals and events to accomplish policy items set in our [Advocacy agenda](https://docs.google.com/document/d/13O4dd_mzJrCUTFEOcRrDZkyN3kgLV_eI7xZRhKz5d7c/edit#)

[2017-09-30 02:51] werdnanoslen opened #283 "How can we show our members more appreciation?"
From [leadership huddle](https://docs.google.com/document/d/13O4dd_mzJrCUTFEOcRrDZkyN3kgLV_eI7xZRhKz5d7c/edit#heading=h.eh66d6qlpd3i):
- We get alerts when someone needs a tshirt, and we’re going to bring them out during CTNs and call out those people’s achievements. Let’s make a bigger deal about it to make people feel more valued as community members
- Let’s try to give people more incentives to

[2017-09-30 02:55] werdnanoslen commented on #274
From our [leadership huddle](https://docs.google.com/document/d/13O4dd_mzJrCUTFEOcRrDZkyN3kgLV_eI7xZRhKz5d7c/edit#heading=h.ffax9i2or415): Others have also expressed interest in joining leadership but haven’t yet really followed through on contributing. Let’s keep them engaged and try to find ways of onboarding them to some tasks, like documenting what we do so we can easily delegate a task or two

[2017-09-30 03:11] werdnanoslen opened #284 "Leadership Huddle - October/ November"
[DOODLE!](https://doodle.com/poll/9mteiesyuc7i32dy)

**Location:** TBD

**Time:** TBD

**Date:** TBD

[Agenda// WIP// Add to it as needed
](https://docs.google.com/document/d/1XWEMZL8mXxiaBKhRh8O-fUR6lIbthQDxnhPOT61D1Ng/edit)

[2017-09-30 03:18] werdnanoslen commented on #215
From leadership huddle notes: @mapineda mentioned he might be able to help with this

[2017-09-30 03:26] werdnanoslen commented on #264
The CfD thing passed, but I've replaced Instabus with Budget Party here: https://docs.google.com/document/d/1lMzjlCpNQs9N6v0VT7iLk_0tSGDZ0Cj86bmMHXAyFjc/edit?usp=sharing

The doc is in our Drive, so it's there when we need it. Is there anything to do with this for now, though, or can we close this issue?

[2017-09-30 18:10] VictoriaODell commented on #215
![image](https://user-images.githubusercontent.com/10767430/31048300-fdea3546-a5df-11e7-905a-8b7ef6a57e2b.png)

And then in the matching section on the page we need this text:

[2017-09-30 18:11] VictoriaODell commented on #215
@mapineda ^^^ Let me know if you need any more guidance. :)

[2017-09-30 22:04] mscarey commented on #281
Here's a draft. If anyone thinks this doesn't hit all the right issues, let me know. Also, how do I post to Medium?

When newcomers to Open Austin decide they're interested in taking on a civic hacking project, one of the most common suggestions they offer is to make our city council's agendas more accessible. It has the potential to be a very visible and impactful project, but the people who have

[2017-09-30 22:28] werdnanoslen commented on #281
This is great to know, I've always been curious and I feel like this answers all the questions I had but prompts new ones. For example, knowing this now, what can I do as a civic hacker in this space but wait? At the end of this article, it'd be nice to maybe list two or three problem/design spaces for our members to be guided toward, especially the newcomers who find themselves in the scenario yo

[2017-10-02 14:15] werdnanoslen commented on #280
Started a convo with Chris Whitaker on the CfA Slack #brigade-501c3s channel: https://cfa.slack.com/archives/C2N48MEHL/p1506953510000228

[2017-10-02 14:31] ErieMeyer commented on #280
Hallo! Subscribing myself for this conversation. For context, are you already committed to becoming a full 501c3 or you're considering it?

[2017-10-02 14:32] werdnanoslen commented on #280
👋 Welcome! We're quite committed https://github.com/open-austin/iced-coffee/issues/216

[2017-10-02 14:41] ErieMeyer commented on #216
Hi all! Jumping in to follow along -- thanks for sharing this link with me. I have follow-up questions about items mentioned here but don't want to derail (unless it's helpful to have them all in the same place -- let me know!).

[2017-10-02 14:42] werdnanoslen commented on #216
Go for it, we chat here and on Slack mostly. Better to keep stuff in one of the two so others can follow along :)

[2017-10-02 14:49] ErieMeyer commented on #280
Gotcha! I'm checking that out now, too. Thank you!

[2017-10-05 20:09] mscarey commented on #281
I [posted it](https://www.open-austin.org/blog/2017/10/05/changes-in-access-to-Austins-local-legislative-data). I added a little bit of a call to action under "continue the conversation." Not sure what to say beyond that, with no active projects working on these datasets. We could still make changes before we mention it in the newsletter.

[2017-10-05 20:09] #281 closed

[2017-10-05 20:56] VictoriaODell commented on #215
@mapineda ETA on when we can get this done? :)

[2017-10-05 21:09] mapineda commented on #215
Yea haven't look at it. Prior to D4D hackathon my ruby environment was working great. During and after not so much, so I need to get that working before I can do this. I'll take a crack at it tonight and if not, I'll work on it on Saturday during the CHS.

[2017-10-05 21:26] VictoriaODell commented on #279
Notes from the meeting with CTM

**Link to notes:**
https://docs.google.com/document/d/1TJbV7RNl940j5tZ-59146VEmzdvUVjyAckmRVB50WB4/edit?usp=sharing

The meeting they mentioned where we would get more info is this Tuesday at the  City of Austin and US Ignite Community Kickoff Meeting
<img width="450" alt="screen shot 2017-10-05 at 4 24 41 pm" src="https://user-images.githubusercontent.com/10767430

[2017-10-05 21:37] VictoriaODell commented on #234
Discussed at our meeting with CTM. Still need a couple of answers. I made a comment in the doc linked below.

Notes here:
https://docs.google.com/document/d/1TJbV7RNl940j5tZ-59146VEmzdvUVjyAckmRVB50WB4/edit?usp=sharing

[2017-10-06 21:06] VictoriaODell opened #285 "Project documentation"
Hey @werdnanoslen I started working with the influence Texas team to get them prepped for Saturday and documented a few things I don't think we have anywhere but might be helpful.

Can you review/edit and help me figure out where this sort of documentation should go?
https://docs.google.com/document/d/1e7SHajMfWEd96nTonlGJFVkOAduza5KYnkMIaw4J4C0/edit?usp=sharing

[2017-10-06 22:08] VictoriaODell opened #286 "Financial Planning/ Model"
I created this very crude sheet that has our current spending and how much we have left in the bank with Code for America. It def needs some love.

Here is the breakdown of the sheets
- 2017 Expenses. Has all of our expenses thus far.
- By the numbers. Has our spending broken down monthly
- Spending. Estimated expenses for the year, upcoming expenses, and some nice to haves for the org that would

[2017-10-06 22:19] VictoriaODell commented on #142
Vicky Prigden mentioned being able to help with Biz dev and potentially this. I just reached out to see if she would be interested in pushing this forward.

[2017-10-07 16:35] mapineda opened #287 "Schedule Events for 2018"
_this continues on the thread from #200_

Our existing general pattern (with exceptions for holidays) is*:
- Civic Hack Saturday on 1st Saturday
- Civic Hack Night on 2nd Wednesday & 4th Tuesdays (subject to change)
- Civic Tech Meetup on 3rd Mondays

* _note: flexibility with dates allowed to accommodate venue sponsors_

### January
- [ ] Saturday January 6   - Civic Hack Saturday - **TBD**
- [ ]

[2017-10-07 16:38] mapineda opened #288 "Create community events calendar"
**Goal: Increase community outreach**

Idea: Catch all community events calendar to show events around town that coincide with our mission, vision etc.

Examples: Upcoming hackathons, civic tech events, talks, smart city, happy hours, kids + coding education, latinitas, etc

[2017-10-07 18:07] werdnanoslen opened #289 "austin design week"
Austin Design Week is an annual celebration of design through a week of workshops, talks, studio tours and events. We are partnering with Austin Spark League to run a week long design-a-thon. Their leader Nick Hahn has started a proposal here: https://docs.google.com/document/d/1mKZqkPtqToTnelCmgprc2H8oFQuiQzu_hswBJkBs_4w/edit

[2017-10-07 18:13] werdnanoslen commented on #234
Perfect, sounds like we can make something for our members this month

[2017-10-07 18:16] werdnanoslen commented on #279
@VictoriaODell if you want us to join that meeting too, could you please add it to the Open Austin calendar?

[2017-10-07 18:20] werdnanoslen commented on #281
Could you also post this to Medium so we can feature it there, too?

[2017-10-07 18:22] werdnanoslen commented on #277
Could we keep this all in one issue like #287 ?

[2017-10-08 18:20] #285 closed

[2017-10-08 19:21] jonplaca commented on #229
See issue #286. Closing this card as duplicate

[2017-10-08 19:22] #229 closed

[2017-10-08 21:32] jonplaca commented on #286
@VictoriaODell What other SaaS Services do we use (or would like to use):

Google
Buffer
Meetup.com
_______ Other

[2017-10-08 21:48] mapineda commented on #215
@VictoriaODell changes made, PR pending review. LMK what you think, if all good go ahead and merge.

[2017-10-08 22:00] jonplaca commented on #286
WIP:

https://docs.google.com/spreadsheets/d/1f4F_MhBe-xa0O50oxKQqBDY28iTjfoKZDlvJLR0p6uU/edit?usp=sharing

@victoriaodell - I filled in some basic information regarding our SaaS Costs (speculative), Meal Cost (based on historical expense), and then some buffer-room ($150 additional expense/month).

NOTE: I've also included our current financing ~$3k to account for our current Cash.
For practicali

[2017-10-10 20:09] werdnanoslen opened #290 "Which of our featured projects are still working/up?"
### Down (edited by Matt):

- [x] https://www.open-austin.org/projects/cycle-nearby.html (emailed owner)
DNS error at http://cycle-nearby.open-austin.org/index.html
repo at https://github.com/AustinBlues/Good-Sect--Bad-Sect

- [x] https://www.open-austin.org/projects/vote-atx.html (https://github.com/open-austin/voteatx-app/issues/28)
"Not in operation" message at voteatx.us, because data isn't cu

[2017-10-13 14:44] VictoriaODell commented on #200
Yikes. Are we still unsure of where to host for our October 24th meeting?

[2017-10-13 14:51] VictoriaODell commented on #200
I also pitched a 2018 partnership to Marcos. He is very open but just wants dates. Conde Nast has other meetups that are there on a reoccurring basis they just need a sponsor from within the company to keep the space in order. He is willing to do that. We just need to go back to him with a specific ask. Also, a continued partnership will likely mean no more pizza. We're the only meetup they have d

[2017-10-14 20:18] VictoriaODell commented on #200
Hey @open-austin/leadership thoughts on canceling 3-4 events this coming November/December to make space for leadership time/training?

I'm thinking the following:
-  November 14th
- December 2nd
- December 12th

Maybe not just canceling but using them as leadership planning time on top of any outside retreat we can schedule.

and using our November library meeting to plan/source community ideas f

[2017-10-14 20:50] VictoriaODell opened #291 "Vote on and onboard new leadership"
We've had a few people interested in joining and I'm working on wrapping up a few conversations with more potential leaders.

**IN THE PIPELINE**
- **Aditi** // following up. Expressed interested in helping on the comms side. If not a core leadership position then would like to have her contribute.
- **Vicky Pridgen** // Interested in taking on a small project to help with Biz Dev. I approached he

[2017-10-14 21:18] mapineda commented on #200
Cool with me. Heads up. Will be out of town Nov 30-Dec 4. Also will be out of town the week of thanksgiving.

[2017-10-15 15:11] VictoriaODell commented on #200
Okay @mapineda. Also @open-austin/leadership just a note. If you're out for our upcoming event times then be sure to note that here:
https://docs.google.com/spreadsheets/d/1gllUNFMW73nLcl13vZLQtiLX9hpwIJMON0LY6Qjp1SQ/edit?usp=sharing

[2017-10-15 23:26] werdnanoslen commented on #291
Looks good to me, let's get it set up?

[2017-10-16 03:09] mateoclarke commented on #290
Hey @werdnanoslen. Can I help with this? Could this align at all with Grackl?
https://github.com/cityofaustin/grackl

Could I use OA projects as seed data, and in the process, update the data on project status for OA?

[2017-10-16 08:44] werdnanoslen opened #292 "Inclusive hosts"
1. Update our "please host us" one-pager to include asking about inclusivity concerns like gender-neutral restrooms, mobility equipment accessibility, directions and accessibility features available for visually impaired folks
1. Check this with our current hosts

[2017-10-16 17:16] VictoriaODell commented on #286
This spreadsheet looks fancy @jonplaca.

This would be related to #230, correct? Should we close this issue and continue over there?

[2017-10-16 17:18] VictoriaODell commented on #286
Also, have some of those expenses you mentioned documented on this sheet: https://docs.google.com/spreadsheets/d/13yTcEDH-_XsO1erytDJiFceCLrbXtfF8RQxHN6meiUM/edit?usp=sharing

I probably need better sheet practices 🙃

[2017-10-16 17:20] VictoriaODell commented on #216
Hey @ErieMeyer Feel free to comment!

[2017-10-16 17:20] VictoriaODell commented on #216
@jonplaca can we get some tentative dates added to this?

[2017-10-16 20:03] jonplaca commented on #286
@VictoriaODell Thanks for the added info.
Regarding our expenses, let's sit down next meeting and discuss in more detail. We should discuss upcoming major events.

Similarly, we can budget in "nice-to-have" expenses so that we can understand our maximum expense availability

[2017-10-16 20:05] VictoriaODell commented on #286
Sounds good. Do you have time this Friday? Maybe in the am? Lmk if that works. Also ccing @werdnanoslen

[2017-10-16 20:08] jonplaca commented on #216
@VictoriaODell ETA to submit application this Thursday 10/19.
Dates added above

[2017-10-16 20:09] jonplaca commented on #286
I am available at 9:30am - 10:30am this Friday, 10/20.
Happy to meet at a location of your convenience

[2017-10-16 20:11] jonplaca commented on #286
To streamline our meeting, I would suggest coming up with a few ideas/events that you'd like to have in Q4 2017 and 2018. From here, I'll pull these into the Financial Model which should dictate our fundraising goals.

@VictoriaODell @werdnanoslen

[2017-10-16 22:32] mscarey commented on #216
I just did an entity name on the [Secretary of State's website](https://direct.sos.state.tx.us/corp_inquiry/corp_inquiry-find.asp), and I don't see any issues. The search for "Open Austin" returned 568 results but these were the only remotely close ones:

 	800346868 	The Open Door Ministry of Austin 	Domestic Nonprofit Corporation 	In existence 	Legal 	In use
 	802009766 	Open Six East Austin Hot

[2017-10-16 23:56] #264 closed

[2017-10-16 23:57] werdnanoslen commented on #290
Oh ya that'd be neat! Would you just use the public read-only API to fetch info? I think that might related to #264 too. This issue is more about me going through all our prjoects and just turning them back on

[2017-10-17 22:40] VictoriaODell commented on #200
@mapineda Via slack re: conde Nast discussion above. "Awesome! Let's go ahead and do the Wednesday for Nov and Dec for this year"

[2017-10-17 22:46] VictoriaODell opened #293 "Code of Conduct Violation Process + Escalation"
After a recent incident, it's become clear we need a process for what happens when someone violates the COC online or in person. I can think of at least one other event in the past where a member came to us with an in-person violation and it was also unclear for how we should handle it then.

Steps to take here:
- [ ] Review current Code of Conduct
- [ ] Check in with brigade network to see if the

[2017-10-17 22:47] VictoriaODell commented on #293
CFA also is looking into this: https://github.com/codeforamerica/codeofconduct/issues/15

[2017-10-17 23:37] VictoriaODell commented on #293
Asked the CFA slack in #general for help. Documenting some helpful resources and conversation.

[2017-10-17 23:50] VictoriaODell commented on #293
@seandellis is this something you can take responsibility of as membership lead? Some of our CFA friends provided great resources + the opportunity to chat. Getting some community input would be great also. Having some sort of decision tree in place would make stuff easier and have us better prepared for any future event.

[Draw.io ](https://www.draw.io/)might be a good tool to do this in.

[2017-10-18 00:02] VictoriaODell commented on #286
Sent a calendar invite for this friday 9:30am-10:30am at Cenote

Also as far as events, we currently have the same schedule as this past year, though our event model might change.  @mapineda is starting to place calendar dates for events here: https://github.com/open-austin/iced-coffee/issues/287

I'll try to calendar out some additional partner events that might come up before Friday.

[2017-10-18 00:08] VictoriaODell commented on #289
@werdnanoslen what is going on with this? I saw them mention stuff on their site but it doesn't appear we are involved.

 https://austindesignweek.org/design-a-thon

[2017-10-18 00:10] VictoriaODell commented on #283
Want to follow up and say that this past library meeting we called people out during announcements and gave them their shirt.  I shared short blurb about them as I handed them out and people clapped.

I realize we need a playbook for our events to document these sort of procedures.

+1 on additional things. Vicky Prigden had some good ideas.

[2017-10-18 00:25] VictoriaODell commented on #284
Hey, @werdnanoslen can you make and post a doodle? Worried we're cutting it close.

[2017-10-18 00:30] VictoriaODell commented on #291
@werdnanoslen will do!

I met with Leslie today and I believe her and Happiness would be perfect for sharing the comms role.

Also, am keeping answers in this spreadsheet for the leadership application.
https://docs.google.com/spreadsheets/d/17lbXF4a_H0ikjB5Z7JTK3Sd98JJ0p_uiqpKRZTBxhUY/edit?usp=sharing

Also, 2 new people are on the list. Will have to do some follow up with them in the coming week

[2017-10-18 00:37] twentysixmoons opened #294 "Track leadership commitment"
We need a sheet that documents when people have joined leadership. This will help us keep track of how long people have agreed to commit to so we can plan to replace them if their agreed upon term is coming to an end.

[2017-10-18 00:41] VictoriaODell commented on #292
We have a sheet that could use some major updating to help with this. Here is is:
https://docs.google.com/spreadsheets/d/1ktqM298IiEtj5_fpwlRoxlv8sWPHrzxfvxU285fosO0/edit?usp=sharing

I pulled it apart from another sheet. @mapineda would be the one to help with this.

[2017-10-18 00:42] VictoriaODell commented on #215
This is live. Find for now!

[2017-10-18 00:42] #215 closed

[2017-10-18 02:31] mateoclarke commented on #293
I love the idea of a decision tree. Here are some breakpoints or steps I think could help as a starting point.

1. Any member has the opportunity to flag a Code of Conduct violation for investigation. We have several documented ways to do this.
2. Dedicated **CoC group** designates one spokesperson to message offender directly to say something like, "There has been a CoC violation reported regardi

[2017-10-18 02:36] werdnanoslen commented on #279
From Charles on Oct 16:

We should let him know when we have ideas on how to best leverage this funding and we’ll coordinate from there.

[2017-10-18 02:44] werdnanoslen commented on #200
I'm down. What's our attendance usually like during those times? Maybe we can just cancel them on meetup and arrange on iced-coffee when to meet? Or maybe we keep doing Hack Saturdays that month just so we have a regular presence on people's calendars?

[2017-10-18 02:45] VictoriaODell commented on #279
@werdnanoslen I don't know when it's appropriate to share events with individual people versus the organization. The organization calendar goes out to everyone that subscribes to our calendar.

[2017-10-18 02:47] werdnanoslen commented on #289
yeah actually i hadnt heard anything except from Nick that we should chat soon but I hadn't heard anything from them. Until today, when they posted this internally: https://www.eventbrite.com/e/austin-design-week-2017-presents-design-placemaking-for-local-civic-engagement-registration-38220248793

Looks like the organizers changed to some other folks I know that aren't involved in anything civic a

[2017-10-18 02:53] werdnanoslen commented on #279
True, it'd be better to just have the open-austin@gmail.com account to join these calendar invites so that everyone in leadership can sync just that calendar

[2017-10-18 03:06] werdnanoslen commented on #284
Oh snap yeah, forgot to come back to this one. Here's the Doodle: https://doodle.com/poll/9mteiesyuc7i32dy

[2017-10-18 06:20] seandellis commented on #293
@VictoriaODell I can take care of this.

@mateoclarke Thank you! These are great ideas. I'll use them to build this out.

[2017-10-18 13:35] VictoriaODell commented on #283
@werdnanoslen We have this playbook from Code Across 2016 : https://docs.google.com/document/d/18WwQ0ttA_M73nk16jkCcU7afIGPZjkkXOBNxOPmFPB8/edit?usp=sharing

If we could document our procedures/supplies for each event in these it would make it easier for others to lead a meeting and we could share our procedures with current and future brigades.

I think they would be a good place to put our insti

[2017-10-18 13:51] VictoriaODell commented on #293
Just posting another resource shared in the CFA slack by Luigi from Code for Atlanta

[2017-10-18 22:34] werdnanoslen commented on #201
For the 20th we might re-invite Hayley Hughes to talk about data and also to recap their Design Week event?

[2017-10-18 22:45] werdnanoslen commented on #280
Re: #3 that's basically the end of our legal relationship to CfA, we're then our own thing and only affiliated with them. All financial ties are cut other than what would be normal business between other 501c3 orgs. Vickie and I learned more at the Brigade Congress, but I think this is enough info to close this issue...

[2017-10-18 22:45] #280 closed

[2017-10-18 22:56] werdnanoslen commented on #286
We have secured funding from the city for certain items:

We should let him know when we have ideas on how to best leverage this funding and we’ll coordinate from there. See https://github.com/open-austin/iced-coffee/issues/279 for more info

[2017-10-18 22:56] #279 closed

[2017-10-18 23:01] werdnanoslen commented on #288
How about we add them all to our OA Google calendar? That way they're automatically announced (and reminded 24 hours before) on the #announcements channel, and then it's easier to take a snapshot of that one source when building meetup agendas.

[2017-10-19 06:16] VictoriaODell commented on #201
Hey @werdnanoslen I'd like us to host something that is focused on getting community feedback for next year. Thoughts on that? Also, thinking we should make some upcoming hack nights a time for feedback.

[2017-10-19 19:43] werdnanoslen commented on #201
Yeah, I'm down, but Isn't that what the Dec 18 meetup is for?

[2017-10-19 20:02] VictoriaODell commented on #201
I'm envisioning it in 2 parts. Feedback needed.

1) Nov: Review where we are at/ have done. Ask community for feedback, input, ideas + invite our partners and other leaders.

2)  Dec: Come back with some synthesized actions for how we will move forward in 2018.

And also using November and December hack events to source community ideas and feedback more intentionally.

[2017-10-19 20:25] werdnanoslen commented on #201
I like it! Haven't done something quite like that before in this context,
but maybe we can make a workshop out of it? I'll make an outline of what
I'm thinking of and post tonight...

[2017-10-22 19:32] werdnanoslen commented on #289
See the email thread with info@open-austin.org for more info. TLDR, they're going in a direction that doesn't really align with our community, so we won't partner with them but would share their events among our other community events. Still want to keep discussing it though, so Vickie and I might chat with them this week.

[2017-10-22 19:34] werdnanoslen commented on #286
@VictoriaODell what's left on this to-do? Or is there another issue that covers the next financial planning steps?

[2017-10-22 19:45] werdnanoslen commented on #288
There's probably a good way to automate this, but we should curate the calendar and not make it entirely publicly editable. For now, I've added it to the events team wiki as a weekly task and I'll add the things we have in our newsletter to the calendar.

[2017-10-22 19:58] #288 closed

[2017-10-22 20:02] werdnanoslen commented on #284
Ok, we don't have a good time that brings more than four of us together. I also apparently can't edit the poll :(

So let's try this, edit this post with your name next to these other evenings you're available:
- Nov 1
- Nov 2
- Nov 3
- Nov 4
- Nov 5

[2017-10-22 20:31] jonplaca commented on #286
@werdnanoslen - @VictoriaODell and I met up yesterday and got a rough outline of all the services we would like/currently use. As a result, we were able to determine a rough budget and fundraising target for 2018.

I still have to research and add one-time expenses (e.g special events we throw/attend), but this will require more discussion.

If you have a list of 2018 events you'd like to attend,

[2017-10-22 21:44] werdnanoslen commented on #290
@chip-rosenthal On the [ATX Scores settings page](https://github.com/open-austin/atx-restaurant-scores/settings), there's an error saying the "Domain's DNS record could not be retrieved." I checked the [dns settings file](https://github.com/open-austin/server-configs/blob/master/dns/db.open-austin.org), which had this as an entry, but I'm entirely unfamiliar with how to assess it from there.

The

[2017-10-23 00:12] chip-rosenthal commented on #290
@werdnanoslen  - I believe the problem may have been that when open-austin.org DNS was migrated to Cloudflare, entries for the microsites were dropped. Whoever is running the DNS would need to add a proper CNAME record.

Also, I think you could delete the CNAME file from the gh-pages branch and just run the app at:

open-austin.github.io/atx-restaurant-scores

[2017-10-25 02:31] VictoriaODell commented on #289
Spoke with them today. @seandellis was on the call too. I think it went well.

Here is an involvement doc I drafted up base don our conversation :
https://docs.google.com/document/d/1KPqFqOxGhHhq2OatQmaHSiQ8kyeTzStXktibWeyM8-o/edit?usp=sharing

Here is the agenda + notes:
https://docs.google.com/document/d/1DOsxJzTU4vNk8ylLkPb9CbDAFo82cqN231OGI6UtE5w/edit?usp=sharing

[2017-10-26 21:05] mapineda commented on #200
@VictoriaODell Capital Factory not available Nov 14th however they are free on that Thursday, Nov 16th. What do you think about moving CHN from Tuesday to Thursday? Also in the comment above you mentioned potentially canceling this night in favor of a leadership meeting?

[2017-10-30 03:13] jonplaca commented on #216
Certificate of Formation to be submitted tomorrow. Board will include members previously mentioned.

I'll keep the group posted on when we receive our Certificate of Formation.

[2017-10-31 20:38] VictoriaODell commented on #216
Was on an email with a few others that are going the non-profit route and I liked this from Code for Charolette:

[2017-11-04 18:33] VictoriaODell commented on #284
@mapineda made a doodle poll for us and we chose Saturday, November 11th from 2-4:00pm
https://doodle.com/poll/sp6inzw3dgfstaeq

[2017-11-04 18:38] mapineda commented on #287
All dates have been updated for 2018

[2017-11-06 16:28] mapineda commented on #287
Potential partner for next year. Annual non-profit membership is $150 but we get to use the event spaces for free https://missioncapital.org/our-network/meeting-spaces/ - we also get a chance to plug into their network and resources.  @VictoriaODell

[2017-11-06 16:45] mapineda commented on #287
This is also a potential partner / event space venue / permanent office space getting built on the East Side by Dan Graham, former CEO of BuildASign. He's specifically looking for non-profits to fill the space. https://www.notleyventures.com/ - I've reached out through twitter.

[2017-11-06 17:27] happinessk opened #295 "Meeting Notes for Communication team 11/6/17"
**Participants:**
- Happiness Kisoso
- Leslie  Barrientos

**Discussion**
- The importance of user centered design
- Establish personas in order to tailor our content and customer touch points in an appealing way
- The importance of establishing a vision
- Plan a ideation session with leadership in December
-  Focus on desk research

**Project Tracking Process**
- Develop a Trello Board (https://t

[2017-11-08 23:58] VictoriaODell commented on #295
Hey y'all!

We don't have a trello but we use waffle which has a similar interface but uses Github. It is linked in our iced-coffee [readme](https://github.com/open-austin/iced-coffee/blob/master/README.md): [https://waffle.io/open-austin/iced-coffee](https://waffle.io/open-austin/iced-coffee)

![image](https://user-images.githubusercontent.com/10767430/32581081-052525a4-c4ae-11e7-8229-07157d5e649

[2017-11-09 22:42] VictoriaODell commented on #195
Closing here

[2017-11-09 22:42] #195 closed

[2017-11-09 22:45] VictoriaODell commented on #216
@jonplaca do we have any ETA on when we will receive the certificate?

[2017-11-09 22:47] VictoriaODell commented on #274
I'm going to work on getting basic docs made this Friday/weekend.

[2017-11-10 21:37] jonplaca commented on #216
@VictoriaODell ~2 weeks; I've followed up with the State and they've confirmed that if in two weeks we do not receive a notification to follow up.

[2017-11-11 20:47] mapineda commented on #291
This can be closed. Congrats Happiness, Leslie,  & Sarah!

[2017-11-11 20:47] #291 closed

[2017-11-11 20:53] VictoriaODell commented on #290
@mscarey has agreed to audit
after auditing the comms team will review.

[2017-11-12 23:40] VictoriaODell commented on #289
We did it!

The design a thon went well. There were 6 teams and 2 projects were from the Open Austin/ ATX Hack for Change project repo. These were the projects OA brought:

This was the civic hacking 101 deck used:
https://docs.google.com/presentation/d/174K-6DU4eNqT1FYkQeQYA6RI8r-fPbukmgwOD5n1zMA/edit?usp=sharing

The winners of the design-a-thon were a group of UT students that picked up the pro

[2017-11-12 23:40] #289 closed

[2017-11-12 23:44] VictoriaODell opened #296 "Onboard Lisa, Sarah, & Happiness"
## Onboarding Steps

- [x] invite to #icedcoffee Slack channel
- [x] add to [@leadership slack user group](https://open-austin.slack.com/admin#user_groups)
- [x] access to open austin google drive
- [x] add to [github org admin group](https://github.com/orgs/open-austin/teams/leadership/members)
- [x] link to core team roles
- [x] access to google calendar
- [x] access to lastpass
- [x] set up wit

[2017-11-12 23:45] VictoriaODell opened #297 "Book Monday's at Terrazas for 2018"

[2017-11-12 23:45] VictoriaODell opened #298 "Plan December Leadership Retreat"
**Discuss potential future leadership retreat**
Last year we did a leadership where we worked to identify some goals for the year. We would like to gather again for some additional time to consider what we want to change in 2018 with the feedback we receive from the community and the partnerships we've grown this past year.

- [x] Reach out to potential facilitators:
- Shellee
- Daniel
- [x] Deter

[2017-11-12 23:47] VictoriaODell opened #299 "Leadership Meetings schedule update"
3rd or 4th Thursday of every month?

[2017-11-12 23:48] VictoriaODell commented on #284
We had our huddle at the new library!

Meeting notes:
https://docs.google.com/document/d/1XWEMZL8mXxiaBKhRh8O-fUR6lIbthQDxnhPOT61D1Ng/edit?usp=sharing

New issues were made from the action items.

[2017-11-12 23:48] #284 closed

[2017-11-13 00:44] VictoriaODell commented on #293
@sortizsh has experience doing this sort of work and said she can work to push this forward. I'd like us to start the new year with this process in place. :)

[2017-11-13 03:04] VictoriaODell opened #300 "November, December, & January Library Meetup Planning"
I started a rough outline of what I'm thinking for our upcoming library meetups.

## November 20th
Community Feedback + Input round 1

## Before December 9th
- [x] Send out survey to partners + Members @sortizsh

## December 9
Leadership retreat

## December 18
Open Government lightning talk and community workshop

## Week of Januaray 8
- [x] Schedule doodle poll for date/ time
- [ ] Shareout with

[2017-11-13 03:42] VictoriaODell commented on #296
Added @open-austin/leadership to be owners of github:
https://github.com/orgs/open-austin/teams/leadership/members
<img width="1052" alt="screen shot 2017-11-12 at 9 41 47 pm" src="https://user-images.githubusercontent.com/10767430/32708878-5b7a9136-c7f2-11e7-97fc-65d2c2595bb5.png">

[2017-11-13 03:45] VictoriaODell commented on #296
@open-austin/leadership has access to change/update the google calendar
<img width="623" alt="screen shot 2017-11-12 at 9 45 29 pm" src="https://user-images.githubusercontent.com/10767430/32708953-dcdbac1a-c7f2-11e7-984e-b3b6c7b2971c.png">

[2017-11-13 19:22] mapineda commented on #297
WIP

[2017-11-13 19:26] mapineda commented on #292
@victoriaodell did you see the latest email from Cap Fac RE: Saturdays for rest of the year? It looks like they're cool with us booking long term but I still want to meet with you and Joshua to discuss. Right now I'm thinking we request Q1  - Q2 dates and then set up a meeting when you get back. Thoughts?

[2017-11-13 19:27] mapineda commented on #292
Ref #287

[2017-11-13 23:14] VictoriaODell commented on #296
Sent everyone the lastpass password

[2017-11-14 18:29] sortizsh commented on #300
link to working ideation doc @happinessk @VictoriaODell  https://docs.google.com/document/d/1hOn1HAV-yhTt6qGOga11KBDPx8L7j6ose57Vc76Bp3Y/edit

[2017-11-14 19:07] sortizsh commented on #300
Please vote on the EOY Leadership planning poll https://doodle.com/poll/8a32t5gavt2hdnf3

[2017-11-14 22:06] mapineda commented on #297
Done! Need to update #287 but dates have been approved for 2018. This can be closed

[2017-11-14 22:06] #297 closed

[2017-11-14 22:08] VictoriaODell commented on #297
awesome @mapineda !

[2017-11-15 05:21] mscarey opened #301 "Archive old hackathon wikis"
While auditing which old projects are still working, I found some deactivated wikispaces wikis for old hackathons. Maybe we should keep the wikis so we'll have a record of defunct projects to help new people avoid repeating old mistakes. The wikis were probably created by @chip-rosenthal. I don't know the email address for login; it's not the open austin info address. Chip might have archived the

[2017-11-15 06:22] mscarey commented on #290
Probably Cycle Nearby, Bike Buddy, and Austin Recycles all have a similar CNAME issue to the one the restaurant scores app had, but I don't have Cloudflare access at the moment and I'm not sure how I'd fix it even if I did.

[2017-11-15 07:03] mscarey commented on #290
### Dormant

- https://www.open-austin.org/projects/lobbying-in-austin.html
(https://github.com/open-austin/lobbying-in-austin/) [Lobbyist chart](https://www.open-austin.org/lobbying-in-austin/)
Data about lobbyist clients is no longer on the data portal, so the incomplete-looking visualization is no longer updated.

### Up:

- [Appleseed School to Prison Pipeline content/map](https://www.open-aus

[2017-11-16 00:05] sortizsh commented on #300
@happinessk  @VictoriaODell @mapineda @lesliebarrientos @seandellis @jonplaca @mscarey can you take a look at the community feedback questions and comment/add questions? https://docs.google.com/document/d/1hOn1HAV-yhTt6qGOga11KBDPx8L7j6ose57Vc76Bp3Y/edit?usp=sharing

[2017-11-16 00:55] VictoriaODell commented on #300
Sure thing @sortizsh! Also we have @open-austin/leadership if you want to get in touch with everyone. :)

[2017-11-16 02:20] VictoriaODell opened #302 "Get CloudFlare Pizza"
@prestonp shared this with us.

## [Cloudflare Wants to Buy Your Meetup Group Pizza](https://blog.cloudflare.com/cloudflare-wants-to-buy-your-meetup-group-pizza/)

- Here are the rules for [reimbursable pizza](https://docs.google.com/document/d/1wvJjiS1iuzf_XYNaah20xTwNfjcBQeiqjmrHi9CEFWM/edit?usp=sharing)
- Here are the [slides we have to present](https://docs.google.com/presentation/d/1afluXpf2e

[2017-11-16 02:25] VictoriaODell opened #303 "Gerrymandering Meetup follow up"
Our Gerrymandering meetup went well. There are still a few loose ends to tie:

- [x] Get Michael's blog post up on medium. I just shared my edits with him
- [ ] Provide and publish a list of resources for getting involved in the convo
- [ ] promote post and resources on social( Twitter, FB, LinkedIn)
- [ ] publish post and resources in a newsletter

Orignial meetup page: https://www.meetup.com/Ope

[2017-11-16 02:28] VictoriaODell commented on #301
oh this is an interesting find @mscarey. Now I'm curious to see if we can get access.

[2017-11-16 15:50] VictoriaODell commented on #303
His post is live on Medium:
https://medium.com/open-austin/gerrymandering-math-and-you-f356e715b877

[2017-11-16 15:58] mapineda commented on #302
I don't think we are using them for anything but i'll look into what they have to offer. They have graciously hosted us in the past. I'll reach out in the next few days. Wish github had a "!Remindme x days" feature like reddit...

[2017-11-17 02:32] chip-rosenthal commented on #290
@mscarey - The three legacy projects you cited (Cycle Nearby, Bike Buddy, and Austin Recycles) probably shouldn't be live on the web. Bike Buddy and Austin Recycles have legacy data (contact info and old recycling pickup routes) that shouldn't be used. If somebody wants to run them, I'd suggest doing something with a Docker container or Vagrant.

[2017-11-17 02:42] chip-rosenthal commented on #301
In 2014, Wikispaces service terminated their free accounts.

http://blog.wikispaces.com/2014/09/wikispaces-is-no-longer-offering-free-non-education-wikis.html

At that time, all of the wikis were exported and the results saved.

(Except one -- the atxdataportal wiki. There was a wiki setup as a documentation site for the data portal that Wikispaces agreed to continue. I may have credentials for th

[2017-11-17 15:04] VictoriaODell commented on #302
look, @mapineda we do use Cloudflare

<img width="761" alt="screen shot 2017-11-17 at 9 03 27 am" src="https://user-images.githubusercontent.com/10767430/32953577-4bf601dc-cb76-11e7-952e-51c8b18c273c.png">

Unsure of what other services are floating out there.

[2017-11-17 15:10] VictoriaODell commented on #296
@mateoclarke updated the wiki with email stuff so now I need to add the new folks: https://slack-redir.net/link?url=https%3A%2F%2Fgithub.com%2Fopen-austin%2Ficed-coffee%2Fwiki%2FAdding-New-Leadership-team

[2017-11-17 16:08] mateoclarke commented on #302
Yeah, we us them for DNS for open-austin.org, austinparkequity.com, austinbudget.party.

The login details are stored in Lastpass

[2017-11-17 16:53] VictoriaODell commented on #298
@sortizsh sent out a doodle poll and scheduled time on the calendar. We chose Saturday, December 9th from 10am-4pm.

Location TBD but we discussed booking rooms in the library. The schedule is TBD right now too!

Shellee said she is holding time for the dates we picked.

[2017-11-20 17:24] danielryne commented on #298
So sorry about the late reply on this, y'all. I'll not be able to make that day, probably until after 3:00 pm because of work. I'm happy to help plan and brainstorm about goals, topics and flow/facilitation, if you want to get together before then @VictoriaODell and @stepwinder ! Let me know!

[2017-11-20 20:42] happinessk opened #304 "Identify what success looks like"
The Comms team is working on identifying the vision and mission for Open Austin 5 - 10 years from now ..... what does success look like for Open Austin in currently and in the future?

[2017-11-20 20:42] happinessk opened #305 "Define who we will interview"
@lesliebarrientos  plans to go to the meeting on Monday (nov 20th ) and try to interview users.

Task for @lesliebarrientos:
- [ ] - Try to discover their purpose and what value they see in attending
- [ ] - How did they hear about the event?
- [ ] - Look at list of questions developed for this meet up.

[2017-11-20 20:48] happinessk opened #306 "Define types of Open Austin Participants"

[2017-11-20 20:51] happinessk opened #307 "Develop research plan"
Currently the Comms team is working on a Communication research plan...a few things we should do:
- [ ] Identify who we should interview
- [ ] interview Open Austin participants/members/attendees/supporters
- [x] Collect data from November 20th meetup
- [x] Synthesis the feedback collect from November 20th meetup
- [x] Review Open Austin Mission and Vision
- [ ] Develop Communication Plan
- [ ]  D

[2017-11-20 20:52] happinessk opened #308 "Define how to promote types of projects"
How might we better promote the different types of projects?
**Ideas:**
- [x]  promote via newsletter
- [ ] tweet new projects

[2017-11-20 20:53] happinessk opened #309 "Define current brand guideline (tone, messaging, feel, colors)"
The Comms team is currently researching the brand guideline of Open Austin.

[2017-11-20 21:05] lesliebarrientos opened #310 "Audit current customer touch-points"
Look at website, social media, events and look at what is working, what we can improve on, and conduct a SWOT (Strengths, weaknesses, opportunities, threats) analysis.

[2017-11-20 21:09] lesliebarrientos commented on #304
This ties in with defining the vision for Open Austin. What is the vision for Open Austin 5, 10 years from now?

As of now, success ties into launching a project and serving it's purpose. For example, BudgetParty was a prototype with the permitting team (research, documentation, and a prototype) and the prototype itself was the project serving it's purpose. After this, the Innovation lab was able

[2017-11-20 21:26] lesliebarrientos commented on #306
Through our discussion with Vickie, we concluded that these are the different types of Open Austin personas that we currently have. Of course, research will help refine these personas.

New to the data world who want to utilize their skills (students, fresh off design school). They want to develop themselves professionally.

Experienced (professionals and mentors) who want to network and learn som

[2017-11-29 00:09] VictoriaODell commented on #300
Update on this!
- We had the November meetup with 2 lightning talks and community input session
- December we will have a more general Open Government meeting with a schedule tbd
- January we will present our changes and what's coming up for the new year.

[2017-11-29 00:11] VictoriaODell opened #311 "Onboard Marcos to Project Co-lead"
## Onboarding Steps

- [x] invite to #icedcoffee Slack channel
- [x] add to [@leadership slack user group](https://open-austin.slack.com/admin#user_groups)
- [x] access to open austin google drive
- [x] add to [github org admin group](https://github.com/orgs/open-austin/teams/leadership/members)
- [ ] link to core team roles
- [x] access to google calendar
- [ ] access to lastpass
- [x] set up wit

[2017-11-29 00:29] VictoriaODell commented on #296
@happinessk, @lesliebarrientos, and @sortizsh y'all should know be receiving emails that come to info@open-austin.org.

I had to update this file: https://github.com/open-austin/server-configs/blob/master/email/virtual
Which was documented here for reference:
https://github.com/open-austin/iced-coffee/wiki/Adding-New-Leadership-team

[2017-11-29 00:29] #296 closed

[2017-11-29 18:25] VictoriaODell commented on #216
Hey @jonplaca any news here?

[2017-11-29 18:26] VictoriaODell commented on #216
Also, what do we do since we lost two officers that we had earlier identified? Sean and Andy.

[2017-11-29 18:50] VictoriaODell opened #312 "CRM"
Get info from Alain

[2017-11-29 18:51] VictoriaODell commented on #312
@sortizsh

[2017-11-29 18:55] VictoriaODell commented on #310
Can we include instagram on this? We don't have Instagram now but it might be nice to have one.

And we'd like to think about the process for posting if we were to start using facebook events along with meetup.

[2017-11-29 18:57] VictoriaODell commented on #290
Hey @mscarey is the full audit done? Looks good now we just need to figure out the steps moving forward.

[2017-11-29 22:16] VictoriaODell commented on #298
Thanks for replying @danielryne! We are chatting with @stepwinder about meeting sometime this coming Sunday, December 3rd, right now.

Here are some current materials we have for planning.

- **Feedback stickies from input session**
Still working some on cleaning it up and we are adding more comments in the notes section over this week. Happiness will work to create a blog post of what we've found

[2017-11-29 23:17] VictoriaODell commented on #201
Wee! All planned for this year. Closing this out.

Before I close, I want to bubble up this comment I made from the previous year's planning thread. In 2018 I think library meetings can have some more discussion time like mentioned below. Especially so based on the feedback we got from our latest community session.

[2017-11-29 23:17] #201 closed

[2017-11-30 00:18] danielryne commented on #298
Cool! Are you also going through the leadership feedback survey results you
got a few months ago? Those responses might be helpful in providing a
lookback and framing for going forward.

Let me know if I can be helpful. Right now, I should be open on Sunday if
that's where y'all land on.

Danny

LinkedIn <https://www.linkedin.com/in/danielrynelucio> | Twitter
<https://twitter.com/danielrynelucio>

[2017-11-30 05:31] mscarey commented on #290
@VictoriaODell Yeah, I've looked at all the projects now. I think the biggest need is to make a [separate page on the website for archived projects](https://github.com/open-austin/open-austin.github.io/issues/150) to keep them separate from active ones.

Andy's original goal for the audit was to turn projects back on that are no longer working. I think "Liberate Appraisal Data" is the only one tha

[2017-11-30 05:49] chip-rosenthal commented on #290
If you need any assistance with the legacy apps or the ch3data VPS, let me know. I'd be glad to get together sometime.

[2017-11-30 06:11] mscarey commented on #290
Thanks @chip-rosenthal. I didn't even realize data.open-austin.org and Cute Pets had the same hosting as Bike Buddy and Austin Recycles, on ch3data. Are data and Cute Pets the only two projects hosted on ch3data that we should keep live?

[2017-11-30 15:06] VictoriaODell opened #313 "Email Docs"
We need to write some words on email etiquette with the info@open-austin.

[2017-11-30 15:09] twentysixmoons opened #314 "Get Google for Non-Profits"
I believe @jonplaca brought this up at one point.

Once we are our registered as own non-profit we can get the google suite for free.

Here are the requirements:
https://www.google.com/nonprofits/eligibility/
<img width="698" alt="screen shot 2017-11-30 at 9 07 44 am" src="https://user-images.githubusercontent.com/10767430/33437599-15a86c7c-d5ae-11e7-8133-db4a574b5c9a.png">

[2017-11-30 15:27] VictoriaODell commented on #306
There are also some good data points that might be helpful from our online engagement.

Here is a snapshot of Twitter Analytics. You can explore more by going into lastpass and getting the twitter password for desktop. Same for Google Analytics.

<img width="975" alt="screen shot 2017-11-30 at 9 25 42 am" src="https://user-images.githubusercontent.com/10767430/33438485-9a2ee5a0-d5b0-11e7-8d01-dc48

[2017-11-30 15:36] VictoriaODell commented on #278
@lesliebarrientos and @happinessk

Andy mentioned above making these for in person and I think y'all talked about this recently. We used to have some paper ones but we only got a few responses then. At another organization I lead we would leave dedicated time for people to fill out the survey. Like 3 minutes or so. Then we would collect them up and review together as a leadership team at the end o