[2015-10-28 01:15] amaliebarras opened #1 "11/13 Logo Design"

[2015-10-28 01:16] amaliebarras opened #2 "11/13 Logo/Brand Redesign"
## Open Austin needs a new logo design/brand design ##

Our current logo is dated and needs a refresh! With increased awareness of Open Austin, established alignment with Code for America, and our website redesign, we felt it was great timing to work on our image. Open Austin will still keep doing the same work we have been doing and stay comitted to open-source, open data, and open government in

[2015-10-28 01:18] amaliebarras commented on #1
Duplicate #2

[2015-10-28 01:18] #1 closed

[2015-10-28 01:23] VictoriaODell opened #3 "11/8 Button Machine"
- [x] Look up pricing for button machine and supplies.
- [x] Recieve feedback on pricing and sizes
- [x] Send to @mateoclarke to order

Button machine pricing:
[1" button machine for $200](http://www.thelashop.com/1-badge-machine-pin-button-maker-w-1000-parts-circle-cutter.html?gclid=CjwKEAjwwbyxBRCS74T049iEp0wSJACkO5v1a9_-z48noSTRm486ChKti8rJ58_lYSad-1MlQSVgjxoC0ODw_wcB) + Shipping and Handling
[

[2015-10-28 01:25] mateoclarke opened #4 "Get clarification from CfA"
on:
- stance of policy advocacy
- Brafilliate vs Official Brigade
- what does dual governance model mean? (from the brigade structure slide)

[2015-10-28 01:28] luqmaan opened #5 "Get projects ready for Ship It Weekend"
We need to get some projects ready for ship it weekend. This means having something specific and useful to work on for the weekend.

Ideally we should get projects to:

- Create 3 issues
- Label those issues with `Ship It Weekend`
- The issues don't need to be technical. Good stuff to work on:
  - user testing
  - marketing materials
  - design

Projects that were worked on in some way this year:

[2015-10-28 01:28] VictoriaODell opened #6 "10/30 Push FU Weekend- FB/Twitter"
We are about a month out from the Hackathon. Time to start pushing it out!
1. Push out graphic on Facebook
2. Push out graphic on Twitter

Get our friends to share.
Schedule for until the meetup.

[2015-10-28 01:29] amaliebarras opened #7 "Create Membership Survey"

[2015-10-28 01:29] luqmaan opened #8 "Prepare for 18F Civic Tech Meetup"
Todo

- [ ] Email to Google Groups. Be sure to explain what 18F is and why this meetup is gonna be cool.
- [ ] Create slideshow.
- [x] Follow up with presenters.

Amalie will be talking.

[2015-10-28 02:04] luqmaan opened #9 "Find a Policy Core Team member"
- [x] Description of role
- [x] Announce at December meetup

[2015-10-28 02:08] mateoclarke opened #10 "Prepare Presentation for December Strategic Plan & Retrospective Meeting"
- [ ] ~~Strategic Planning Doc~~
- [ ] ~~Budget~~
- [x] Slides

[2015-10-28 02:10] amaliebarras opened #11 "12/15 Order Shirts"
- [ ] Finalize shirt design
- [ ] Submit order through customink

[2015-10-28 02:13] VictoriaODell opened #12 "11/13 Stickers"
- [x] Look up Sticker Mule prices and delivery time for stickers ordered
- [x] Decide what imagery should be on the sticker
- [x] Confirm ordering with Mateo
- [x] Order tha dang stickers

[2015-10-28 02:13] amaliebarras opened #13 "Find a Event Core Team Member"
- [x] Description of role
- [x] Announce at December meetup

[2015-10-28 02:17] luqmaan opened #14 "Create awesome-austin list"
Create an awesome list for all the civic tech stuff in Austin.

https://github.com/sindresorhus/awesome

[2015-10-28 02:22] amaliebarras opened #15 "New Project Idea Onboarding / MOU"

[2015-10-28 02:23] mateoclarke opened #16 "Schedule Open Austin meetings at Terrazas for 2016"
I reached out to Bryce (Application Dev for Libary Website) to ask when reservations open through the Drupal site:
- http://library.austintexas.gov/request-a-meeting-room
- http://library.austintexas.gov/rooms-calendar/atb

[2015-10-28 02:24] luqmaan opened #17 "Twice a month hack nights"
Starting in January we'd like to host two hack nights a month.

The second hack night should be somewhere in central/north Austin since a lot of people live there and can't make it easily to downtown.

- [ ] Choose a first location
- [ ] Book the venue

[2015-10-28 02:27] amaliebarras opened #18 "CRM to bring membership data together"
Approach:
one firm/spreadsheet for tracking growth - and getting an idea for who people are,
and one spreadsheet for tracking activity : in person, slack, otherwise.
(we can always join that data w/ member data but I don’t know a good way to architect it so it all lives in one place)

possible existing tool to leverage:
https://github.com/CfABrigadePhiladelphia/laddr

Possible data sources :
Signu

[2015-10-28 02:58] mateoclarke opened #19 "Send Amalie a good Jekyll tutorial"

[2015-10-28 03:05] VictoriaODell commented on #12
StickerMule has a 5 round turnaround time with FREE shipping
If we want these by FU Weekend then we should order them on Friday the 13th.
[StickerMule Website] (https://www.stickermule.com/custom-stickers)

[2015-10-28 03:09] VictoriaODell opened #20 "Review and Updated Director of Marketing Core Team Description"
Look over description found [HERE](https://docs.google.com/document/d/1kbS0wJj9o_Xr5yKBJ2oF9_wAPscZ2gksnOyMMuqVHk4/edit#)
 and determine if any changes to role need to be made. EX: Adding in branding duties. Etc.

[2015-10-28 03:17] VictoriaODell opened #21 "Brainstorm Committees Roles & Groups"
Brainstorm potential committee groups and roles.
How will things be assigned?
How will we follow up with task?
Accountability?
ETC~

[2015-10-28 04:31] mateoclarke commented on #19
http://www.smashingmagazine.com/2014/08/build-blog-jekyll-github-pages/
http://codeforsacramento.org/jekylling-jekyll-02-04-2015/
http://code.tutsplus.com/articles/building-static-sites-with-jekyll--net-22211

[2015-10-28 04:31] #19 closed

[2015-10-28 05:01] VictoriaODell commented on #2
I updated the original comment and outlined what we will need in the case that anyone else will want to contribute or has ideas for this project.

[2015-10-28 05:09] mateoclarke commented on #2
[Here is a repo](https://github.com/open-austin/open-austin-logo) with more versions of the existing logo.

[2015-10-28 05:09] VictoriaODell opened #22 "Photo Folder"
Create a photo folder of past open Austin Events to pull imagery from for future marketing and outreach efforts. Label by event title and date and place in the Open Austin Google Drive.

[2015-10-28 05:28] mateoclarke commented on #12
Once you finalize what imagery goes on the stickers, you can reassign this to me and I can order.

If we finish the Logo Redesign by 11/13, I'd vote for ordering logos with the new logo. If not, we can fall back on the current logo or a FUWeekend logo. Does that sound right?

[2015-10-28 05:29] VictoriaODell commented on #3
@mateoclarke thoughts on sizing and pricing appreciated. I think either the 1.25" or 1.5" would work the best for us with the 1.5" being more versitile.

@amaliebarras @luqmaan

[2015-10-28 05:31] VictoriaODell commented on #12
That is correct! Sounds good. I'm changing the due date to 11/13 since that would be the last day we would want to order them from Sticker Mule.

[2015-10-28 05:58] mateoclarke commented on #3
Not my area of expertise at all, but I'd vote for 1.25". Also playing devil's advocate here, how many buttons do we make before this machine pays off? Looking at button making services, it seems like you can get down to $1 per button at around 200 units. Am I wrong? How much labor goes into making that many buttons. I think Chip make have a surplus of those light blue CfA buttons too.

[2015-10-28 15:41] VictoriaODell commented on #3
Yeah, the 1.25" is pretty standard. I think after all cost it may come to be around $350ish dollars. That including the machine, the backings, mylar, and getting color printings for the button imagery.

So things that could be **cons**:
- up-front cost
- We have to do the button making ourself (time-commitment)
- Maintaining the button machine and supplies

It takes time to cut and put the buttons

[2015-10-29 15:45] mateoclarke opened #23 "Email (Google Group) Reminder about Hack Night"
@luqmaan: can you send out the normal blast before the meetup on Tuesday. Also, should we ask WeWork about utilizing a larger space if they have one available? Let me know how I can help.

[2015-10-31 00:11] amaliebarras commented on #2
![](https://files.slack.com/files-pri/T036FLMDN-F0DHYH7NV/screen_shot_2015-10-30_at_7.02.02_pm.png)

![](https://files.slack.com/files-pri/T036FLMDN-F0DHYPSQZ/screen_shot_2015-10-30_at_7.07.35_pm.png)

[2015-11-01 19:16] VictoriaODell commented on #2
![openaustin_logo_exploration_v1](https://cloud.githubusercontent.com/assets/10767430/10870837/b9ca51fa-809a-11e5-96bc-fe5bb9a6b81e.png)

This was one of my first thoughts.

[2015-11-01 19:28] luqmaan commented on #2
Why a star?

[2015-11-01 19:34] luqmaan commented on #2
Lets explore the pentagram theme a bit more. How is this? :trollface:

![image](https://cloud.githubusercontent.com/assets/1275831/10870906/3bca20ac-809d-11e5-9381-6994cbe0f371.png)

[2015-11-01 19:45] VictoriaODell commented on #2
You're such a troll.
A star because Texas? Our capital has a woman at the top of it holding a star. It's an obvious symbol.
:star: :star2: :hankey:

[2015-11-01 19:56] VictoriaODell commented on #2
An interation of the previous image. Colors are changable of course~
![openaustin_logo_exploration_v2](https://cloud.githubusercontent.com/assets/10767430/10871021/531c694c-80a0-11e5-9be0-6e2af073af1d.png)

[2015-11-01 20:06] luqmaan commented on #2
:+1: Ah okay. Now I get it.

[2015-11-01 21:11] VictoriaODell commented on #2
![openaustin_logo_exploration_v3](https://cloud.githubusercontent.com/assets/10767430/10871376/d31ebbfe-80aa-11e5-868c-dcb4f27b108b.png)

More Variations on the Star thing.

[2015-11-01 21:17] VictoriaODell commented on #2
:thought_balloon:  :thought_balloon:  :thought_balloon:  Just thoughts.

I like the idea of having a symbol that can scale. Right now we have a word mark type thing and it wouldn't work too well as a favicon or on small scale. Unless we do a shorthand type thing and make it "<OA/>" but then i think it loses it's meaning some.

I thought a badge type logo would be cool but then scaling becomes an i

[2015-11-02 00:21] VictoriaODell commented on #2
Also best to find fonts for the logo with https://www.google.com/fonts
This we can ensure that the type we use is web safe. It's better to have the same or simliar type for the brand extensions that we use on the logo.

I've been using Open Sans but I'm liking more geometric "O"s.

[2015-11-02 01:09] VictoriaODell commented on #2
This is just a brain dump.
![openaustin_logo_exploration_v4](https://cloud.githubusercontent.com/assets/10767430/10872513/1ce15ac6-80c9-11e5-9cea-5b82ec3483f7.png)

I want to do some more exploration this week. Also, I prefer "Open Austin" to "Open ATX" because I think having both can cause confusion.

[2015-11-02 01:17] luqmaan commented on #2
:+1:

[2015-11-02 04:23] mateoclarke commented on #2
The star reminds me of this redesign concept for the City of Austin flag:
https://medium.com/@michaelkriegshauser/texans-love-their-flags-b5a2b1b9c524#.9dcef1a6y

<img width="232" alt="screen shot 2015-11-01 at 10 21 30 pm" src="https://cloud.githubusercontent.com/assets/5697474/10874265/107a56d4-80e7-11e5-94f1-11741adbb9ae.png">

[2015-11-02 04:37] mateoclarke commented on #2
I like the Lamp of Knowledge as a symbol. May be too radical of a departure but it symbolizes the quest for wisdom. And (sun)light is a common symbol in transparency and open gov. Just a thought to play with.

<img width="119" alt="screen shot 2015-11-01 at 10 33 05 pm" src="https://cloud.githubusercontent.com/assets/5697474/10874389/10ee4a10-80e9-11e5-9e1f-3eaca14f3019.png">

[2015-11-02 04:41] amaliebarras commented on #2
O hi thread

^ I like the sunlight direction a lot.

I actually kind of like the 8-bit typeface, it's playful but hard to read. I also *really* like the OA with no line in the A, it's modern but professional and recognizable... If I see "OA" I know what's goin on

![sideways idea]
(https://cdn3.iconfinder.com/data/icons/arrows/16/arrow__chevron-small-circle-4-01-512.png)

I'm not also crazy about

[2015-11-02 18:51] mateoclarke commented on #2
Yeah, thinking out loud... :speech_balloon:

I think the star is a nice simple symbol. But it is pretty ubiquitous and as a stand alone symbol, I'm not the biggest fan. I like the spirit of splicing the inside angles to make it "open", but that does give the pentagram effect that Luq pointed out. So the question around the star, is how to make a very common symbol for all things Texas more specifi

[2015-11-02 18:58] mateoclarke commented on #2
If the droplet become an O in open. I can then see a bat becoming an A in Austin. Random thought...

[2015-11-02 20:08] VictoriaODell commented on #2
I too like the bat~ Def want to experiment more. All this feedback is greatt. Keep it up~

[2015-11-02 20:30] #23 closed

[2015-11-02 20:31] mateoclarke commented on #16
<img width="1380" alt="screen shot 2015-11-02 at 2 27 22 pm" src="https://cloud.githubusercontent.com/assets/5697474/10893437/5902ca62-816e-11e5-885d-0440258693d6.png">

We are scheduled. Will create Google Cal Items and Meetup Events now.

[2015-11-02 21:03] #16 closed

[2015-11-03 15:10] luqmaan commented on #14
https://github.com/open-austin/awesome-austin

[2015-11-03 15:10] #14 closed

[2015-11-04 00:32] #7 closed

[2015-11-04 00:32] amaliebarras commented on #7
doneskis. tinyurl.com/oamembership

[2015-11-04 02:47] VictoriaODell commented on #2
Really quick mock of potential bat. Obs need to be refined

![openaustin_logo_exploration_v5](https://cloud.githubusercontent.com/assets/10767430/10928186/f026aea6-826b-11e5-8206-2953b88bb6b3.png)

[2015-11-05 23:20] mateoclarke opened #24 "Connect with Matt Esquibel before Nov 20 presentation to CoA Data Liaisons"

[2015-11-05 23:21] mateoclarke opened #25 "11/20 Presentation to CoA Data Liaisons"
**Meeting Details: 12-2pm on Friday, Nov 20th at City Hall**

This will be an important presentation where we have a chance to help define what the deliverables are for the City's next  90-day-sprint. CIO Stephen Elkins and City Manager Marc Ott might both be in attendance

We've been asked to bring 3-4 Open Austin members that could take part in break out sessions with data liaisons during the se

[2015-11-05 23:22] mateoclarke commented on #24
Need to collaborate on what's expected. bounce ideas like `liberate-the-data` repo, Open Data policy suggestions, etc

[2015-11-06 01:23] VictoriaODell commented on #2
Bear with me on these quick iterations. I'm throwing stuff at a wall and seeing what will stick.
![openaustin_logo_exploration_v6](https://cloud.githubusercontent.com/assets/10767430/10986778/9c87fa6a-83f2-11e5-803c-1edd02ececdd.png)

[2015-11-06 15:30] mateoclarke commented on #2
I dig that! At first, I thought the brackets, curly braces, parens, etc was too much. But in this version, you can barely notice and it stand alone clearly as a bat. :+1:

[2015-11-06 15:34] VictoriaODell commented on #2
Still brainstorming some more. I'd like to see if I can fit an "A" or "O" in there somewhere. I got distracted when I was working on the homepage cause this issue for branding is :fire: .

[2015-11-06 15:52] amaliebarras commented on #2
Just messing around, appropriating vicky's curly braces idea with the comment about having the O and A! what about diz guy?

<img width="316" alt="screen shot 2015-11-06 at 9 50 08 am" src="https://cloud.githubusercontent.com/assets/11826646/11001256/f3f66010-846b-11e5-80ff-7d25f3e8ab15.png">

[2015-11-06 16:17] amaliebarras commented on #2
<img width="490" alt="screen shot 2015-11-06 at 10 16 47 am" src="https://cloud.githubusercontent.com/assets/11826646/11001914/889571ea-846f-11e5-89bd-dfc8a2e53b30.png">

Round two with less awful colors

[2015-11-08 22:12] VictoriaODell commented on #6
Shared the post with:
Hack The System
CS Fraternity
& Social Justice Design group so far~

[2015-11-11 14:53] #24 closed

[2015-11-11 14:59] mateoclarke commented on #25
@luqmaan, do you think you can attend?

[2015-11-11 15:00] mateoclarke opened #26 "11/11 Create a schedule of events for Ship It Weekend"
Need an event agenda to give to Capital Factory & Sponsors

[2015-11-11 15:49] mateoclarke opened #27 "Invite "non-judging panel" to Ship It Weekend"
- [ ] City Council Staff
- [x] Tech & Telecom Commission
- [x] Innovation Office
- [ ] CTM
- [x] St. Edwards

[2015-11-12 18:33] mateoclarke commented on #25
Some talking points for the presentation:
- Who is Open Austin. What do we do? What is our history?
- Code for America partnership
- Events overview
- Projects overview
- Past, present & future policy initiatives
- Type of relationship Open Austin wants with the City
- Things we'd like to see next:
    - List of newly liberated data
    - Open data inventory & directory of liaisons
    - Vision of

[2015-11-12 18:39] mateoclarke commented on #24
had the meeting this week, now focused on preparing for 11/20 presentation for Data Liaisons. #25

[2015-11-12 22:54] luqmaan commented on #25
Yes I'll be attending. Do you want to work on the presentation together?

[2015-11-13 04:41] mateoclarke commented on #25
Yeah, let's take this to Slack to discuss if we should get together one night next week and/or collaborate on some slide over Google Docs.

[2015-11-13 20:34] mateoclarke commented on #26
Event timeline has been created and shared with CapFac
https://docs.google.com/document/d/1rq9PrEcIKxIWkrSxhRQuZvbF0XOEVTAM5Qv2puVm3F4/edit?usp=sharing

[2015-11-13 20:34] #26 closed

[2015-11-13 20:56] mateoclarke commented on #2
![screen shot 2015-11-13 at 2 54 40 pm](https://cloud.githubusercontent.com/assets/5697474/11157356/88a8070e-8a16-11e5-8809-030f41f9ab0b.png)

An "open" O + Vickie's bat

[2015-11-17 00:47] VictoriaODell commented on #12
@mateoclarke ordered~

[2015-11-17 00:47] #12 closed

[2015-11-17 15:40] amaliebarras commented on #2
More iterations on this lil guy

<img width="507" alt="screen shot 2015-11-17 at 9 39 40 am" src="https://cloud.githubusercontent.com/assets/11826646/11216116/2b8781ca-8d0f-11e5-9401-99b9e1d25ecf.png">

[2015-11-17 17:17] #8 closed

[2015-11-17 17:21] mateoclarke commented on #5
- The Innovation Office has done outreach to all the project champions from the ATX Hack for Change.
- I sent an email to all attendees of Code Across.

Through those two emails we should have touched most of our past projects. Now we should just follow up with specific projects that we want to prioritize and do our best to gather needs from project champions.

Also created a table of projects, an

[2015-11-17 17:24] luqmaan opened #28 "Schedule 2016 Hack Nights"
- [x] WeWork Tuesday
- [x] Saturday
- [ ] Test run for somewhere in central/north austin

[2015-11-18 01:30] mateoclarke opened #29 "12/1 Follow up with Lochlin about Juvenile Justice Expungement App"

[2015-11-18 01:31] mateoclarke commented on #29
Lochlin was supposed to follow up with us about what he learned from the Law Clinic about partnerning. We know he is busy with law school so we should follow up in Dec closer to the end of his semester.

[2015-11-18 01:35] mateoclarke commented on #25
https://docs.google.com/presentation/d/1Kx3HFwkA2evt74OP1dCaGnF5BxhKcMQRiyzjRidB3Ik/edit?usp=sharing

[2015-11-19 00:47] amaliebarras commented on #2
<img width="312" alt="screen shot 2015-11-18 at 6 45 29 pm" src="https://cloud.githubusercontent.com/assets/11826646/11259119/900c8512-8e24-11e5-9e4b-cfa64255d55c.png">

real bat wings instead of the curly braces?

[2015-11-19 02:17] mateoclarke commented on #3
Buttonfrog.com seems like a better deal. I'm worried the button creation process would be A LOT of work.

<img width="1003" alt="screen shot 2015-11-18 at 8 16 41 pm" src="https://cloud.githubusercontent.com/assets/5697474/11260489/6cd0146c-8e31-11e5-8393-df8e67cde6e8.png">

[2015-11-19 05:19] mateoclarke opened #30 "Dec 1 Civic Hack Night"
- [x] Meetup event
- [x] Google calendar
- [x] Post go Open Austin Google Group https://groups.google.com/forum/#!forum/openaustin
- [x] Reminder on Slack #general channel
- [x] Agenda on Hackpad

[2015-11-19 06:27] #5 closed

[2015-11-19 23:10] mateoclarke opened #31 "Publish blog post about mayor's recognition of budget in a box"
draft started...

[2015-11-20 00:30] mateoclarke commented on #22
yeah, we should do this!

Got a bunch of photos saved here. Would be better if there were in a Google Drive or something better: https://photos.google.com/album/AF1QipPAHYtvYE6rGTer_bQkt16LH0ynKCYDHzCUMkVh

[2015-11-20 14:43] luqmaan opened #32 "Move twitter bot spam out of #general channel"
The twitter bot spams the #general channel and interrupts conversation. #announcements is a better place for it.

[2015-11-20 15:22] mateoclarke commented on #32
agree

[2015-11-21 20:05] #27 closed

[2015-11-21 20:05] #25 closed

[2015-11-21 20:06] #6 closed

[2015-11-21 21:46] VictoriaODell commented on #2
AI PDF files of current exploration pages!

[open_Austin_logo_exploratoin_v5.pdf](https://github.com/open-austin/iced-coffee/files/40929/open_Austin_logo_exploratoin_v5.pdf)
[OpenAustin_logo_exploration_v4.pdf](https://github.com/open-austin/iced-coffee/files/40930/OpenAustin_logo_exploration_v4.pdf)

[2015-11-21 22:53] benguhin commented on #2
Here's some variations on the bracketbat:

![open_austin_logo_exploration_v6-03](https://cloud.githubusercontent.com/assets/6953063/11320905/22743698-9078-11e5-9e43-470b06ef1f50.png)
![open_austin_logo_exploration_v6-04](https://cloud.githubusercontent.com/assets/6953063/11320906/27374576-9078-11e5-97b6-e2fe9ef519f7.png)

Ai PDF (creative cloud 2014): [open_Austin_logo_exploratoin_v6.pdf](https://

[2015-11-21 22:59] mateoclarke commented on #2
B!

[2015-11-21 23:10] luqmaan commented on #2
B also.

We could use J when we're angry about something.

[2015-11-21 23:54] VictoriaODell commented on #2
More contribution from attendee, Tarissa
[bats.pdf](https://github.com/open-austin/iced-coffee/files/40951/bats.pdf)

[2015-11-22 01:00] VictoriaODell commented on #2
<img width="667" alt="screen shot 2015-11-21 at 6 57 56 pm" src="https://cloud.githubusercontent.com/assets/10767430/11321361/ccfc752c-9081-11e5-819f-ed0859344b03.png">
This is a breakaway from bracket bat but thoughts?
It's based on the "Open Source Initiative" logo.
I was thinking keyhole or geometric shape of O and A stacked on each other. So like "Unlocking data/gov in ATX" or "unlocking the c

[2015-11-22 19:31] VictoriaODell commented on #2
Moar bats <img width="705" alt="screen shot 2015-11-22 at 1 31 16 pm" src="https://cloud.githubusercontent.com/assets/10767430/11325812/56309b70-911d-11e5-93b5-8d9523f08458.png">

[2015-11-22 19:55] VictoriaODell commented on #2
I like the scalabilitly of this one and I think it can be a badge also
<img width="366" alt="screen shot 2015-11-22 at 1 55 01 pm" src="https://cloud.githubusercontent.com/assets/10767430/11325931/b8c5076e-9120-11e5-96ef-1eda6b4f68a4.png">

[2015-11-22 20:08] VictoriaODell commented on #2
Could keep exploring this route and try different bat shapes
<img width="663" alt="screen shot 2015-11-22 at 2 07 32 pm" src="https://cloud.githubusercontent.com/assets/10767430/11325994/6893384a-9122-11e5-8c22-341c86e070cf.png">

[2015-11-22 20:18] VictoriaODell commented on #2
A quick simplification of an earlier iteration.
line weight changes/edge clean up can happen after we agree on a concept.
<img width="465" alt="screen shot 2015-11-22 at 2 16 40 pm" src="https://cloud.githubusercontent.com/assets/10767430/11326035/b23b35d2-9123-11e5-921a-5ca2d5ec62cc.png">

I keep thinking batman though

[2015-11-22 20:30] VictoriaODell commented on #2
Iteration on Keyhole bat
<img width="568" alt="screen shot 2015-11-22 at 2 30 10 pm" src="https://cloud.githubusercontent.com/assets/10767430/11326089/919103a0-9125-11e5-8891-bd930e8909e0.png">

[2015-11-22 21:28] VictoriaODell commented on #2
Didn't come to any solid resolution. Here is a dump of pieces and shapes I've been playing with. I can upload sketches later.
[OpenAustin_logo_exploration_v7.pdf](https://github.com/open-austin/iced-coffee/files/41162/OpenAustin_logo_exploration_v7.pdf)

[2015-11-23 04:17] mateoclarke commented on #32
done! :snowflake: :coffee:
<img width="915" alt="screen shot 2015-11-22 at 10 16 37 pm" src="https://cloud.githubusercontent.com/assets/5697474/11329813/d0ea9264-9166-11e5-9bcb-da8104fd08eb.png">

[2015-11-23 04:17] #32 closed

[2015-11-23 04:18] mateoclarke commented on #22
done! :snowflake: :coffee:

[2015-11-23 04:18] #22 closed

[2015-11-23 04:21] mateoclarke opened #33 "Dec 7 Meetup Todos"
- [ ] ~~Meetup event~~
- [x] Google calendar
- [x] Post to Open Austin Google Group https://groups.google.com/forum/#!forum/openaustin
- [x] Reminder on Slack #general channel
- [x] Slides #10

[2015-11-23 04:23] mateoclarke commented on #33
This will be a retrospective/planning meeting. Not going to publicize it through Meetup.com but it is open to the public as always.

[2015-11-23 15:37] luqmaan opened #34 "Ship It Weekend followup"
- [x] Blog post
- [x] Thank you email to attendees
- [x] Add attendees to google group
- [x] Attendance spreadsheet

[2015-11-23 15:42] mateoclarke commented on #34
- in the thank you email, we should push the next Hack Night. You could send it out through Eventbrite.
- @amaliebarras, can you make sure to get the folks that opted into emails from us onto the google group? And get all the attendees added to our attendance spreadsheet?

[2015-11-23 20:18] mapineda commented on #2
Big fan of this one. I think its sleek.
![screen shot 2015-11-23 at 2 17 41 pm](https://cloud.githubusercontent.com/assets/8691910/11348601/032cb1e0-91ed-11e5-9b4d-668b2fc2bbb0.png)

[2015-11-25 16:29] luqmaan commented on #28
Saturdays:

[2015-11-25 16:42] luqmaan commented on #28
Thoughts on something like this?

[code]
For January we'd have our first meetup on Jan 11 and first hack night on Jan 13. I think we should do this because:

- First week of January will be too quiet
- Third week of January will be too late for our first hack night

[2015-11-25 17:41] amaliebarras commented on #28
Two in one week is a lot but as long as it's just to kick off the year I think people will understand.

[2015-11-27 21:59] amaliebarras commented on #34
Yes!

[2015-11-29 21:09] mateoclarke commented on #28
Thanks for starting this @luqmaan. I don't think the starting on Tuesday the 5th at WeWork would be a bad idea. If it were the first Monday back after a holiday it might be harder. Two events in one week would definitely steal attendance from each other. I think the best January schedule would look something like

[code]

February looks good. But two things to be aware of in March. CfA's Code Acro

[2015-11-29 21:59] luqmaan commented on #28
Good points. Let's just go with jan 5.

[2015-11-29 23:37] mateoclarke opened #35 "Find Lightning Talk Presenters for Jan Meetup (1/11)"
~~We need to find a speaker for our January meetup. Open to suggestions...~~

UPDATED: Looking for 5-6 short (5-10min) presentations from community members. Can be any topic, sharing a story, skillshare, or lessons learned.

[2015-11-30 01:20] VictoriaODell commented on #2
@mapineda I wanted the designer to push that one further and started messing with it myself some too. I like the shape but I don't think it loks a little dark.

[2015-11-30 18:02] mateoclarke commented on #34
The blog post is drafted and scheduled to publish Dec 1 at noon. _still time for revisions and more pictures_

[2015-11-30 19:44] luqmaan commented on #35
Maybe somebody from http://civicanalytics.com/?

I don't know anything about them other than austin + civic, so maybe they're not a good fit.

Can we open an issue for finding/suggesting speakers in general?

[2015-12-01 04:35] mateoclarke opened #36 "Blog post with update on Policy Work"
- Presentation to Open Data Liaisons
- Open by Default repo
- Policy Priorities

[2015-12-02 01:16] VictoriaODell commented on #2
<img width="153" alt="screen shot 2015-12-01 at 7 16 12 pm" src="https://cloud.githubusercontent.com/assets/10767430/11519464/03cd9136-9860-11e5-9967-8660bc87ae3c.png">

[2015-12-02 03:06] VictoriaODell commented on #2
<img width="809" alt="screen shot 2015-12-01 at 9 04 08 pm" src="https://cloud.githubusercontent.com/assets/10767430/11521132/3092c8f8-986f-11e5-95de-c061f0672cce.png">

The line of thinking for the latest iteration. Trying to consolidate what the original logo had going.

[2015-12-02 04:25] VictoriaODell commented on #2
<img width="177" alt="screen shot 2015-12-01 at 10 24 38 pm" src="https://cloud.githubusercontent.com/assets/10767430/11522193/581d9fb4-987a-11e5-8368-26d19ed4ceea.png">
<img width="165" alt="screen shot 2015-12-01 at 10 24 43 pm"src="https://cloud.githubusercontent.com/assets/10767430/11522194/581f54b2-987a-11e5-8ce1-b55891367cf1.png">

More iterations

[2015-12-02 19:04] mateoclarke commented on #2
I really like the first one you posted with orange and grey.

<img width="133" alt="screen shot 2015-12-02 at 1 01 17 pm" src="https://cloud.githubusercontent.com/assets/5697474/11540906/f832bd84-98f4-11e5-84c5-b7c8838f73a1.png">

I also like the version with the circle and the negative space.

Better direction than the bat. Sorry bracket bat :cry:

[2015-12-02 19:08] VictoriaODell commented on #2
:+1:

I want to have a presentation on Monday about it. Thoughts?
I'm meeting again with one of my design friends to get some feedback.

[2015-12-02 19:12] mateoclarke commented on #2
Yeah, let's plan on that.

Another silly idea, thinking about http://www.responsivelogos.co.uk/:
What happens if you start with "OPEN :star:USTIN" where the logo replaces the "A".
Then you shrink a bit to the star above text, then you shrink to just the star.
_Maybe a dumb idea_

[2015-12-03 00:41] mateoclarke commented on #15
Here's an MOU template for sponsors we can build on:
https://docs.google.com/document/d/1lr7DO2c6Y-32HndZSyOr9khttJq9pbNf_pPNZkJlSrY/edit

[2015-12-03 15:53] VictoriaODell commented on #20
Random aside. Considering changing the name. Director of Marketing sound so fancy and long. I like "Marketing Lead" or something that seems friendly. Also, idk. Just rambling thoughts.

[2015-12-03 16:01] VictoriaODell commented on #2
I could see that working better if the ">" was the top point of the star rather than the right point.

[2015-12-03 20:12] #34 closed

[2015-12-03 20:13] #30 closed

[2015-12-03 20:19] mateoclarke commented on #20
:+1: to Marketing Lead

[2015-12-03 23:48] luqmaan commented on #17
Dupe of #28

[2015-12-03 23:48] #17 closed

[2015-12-03 23:49] luqmaan commented on #28
We've booked the WeWork hack nights for Jan, Feb and March in the new boardroom.

Tuesday January 5
Tuesday February 2
Tuesday March 1

[2015-12-03 23:51] luqmaan commented on #20
Chief Swindler

[2015-12-04 00:11] VictoriaODell commented on #20
:cow2: :dash: @luqmaan

[2015-12-04 14:18] luqmaan commented on #20
How about Storyteller?

From https://docs.google.com/document/d/1oEB1CuzCHldxP_bzcvmcrmK0yAE1BzV2AGhtwtYKZVY/edit#

![image](https://cloud.githubusercontent.com/assets/1275831/11591719/a6414240-9a5f-11e5-9712-674390844032.png)

[2015-12-07 04:12] mateoclarke opened #37 "1/28 Recommendations for Task Force for Community Engagement"
https://www.austintexas.gov/tfce

[2015-12-07 04:13] mateoclarke commented on #34
Opening a new issue for sponsorship followup.

[2015-12-07 04:13] mateoclarke opened #38 "Sponsorship Followup for Ship It Weekend"

[2015-12-07 04:54] VictoriaODell commented on #2
:wind_chime:

[2015-12-07 05:26] VictoriaODell opened #39 "Open Austin Boilerplates"
Make a short, medium, and long "About" for Open Austin that can be easily shared for press releases and more. This will help reinforce the Open Austin brand and ensure that our members and the others can best articulate our mission and background.

A Good ref site: http://www.cision.com/us/2012/11/press-release-boilerplate-examples/

[2015-12-07 15:40] mateoclarke commented on #10
https://docs.google.com/presentation/d/1MfYkLkJwS9U_rIL_u5FY21WfibFsTIGxq1wQi4ZLhac/edit?usp=sharing

[2015-12-07 15:40] mateoclarke commented on #10
Going to spin out the Strategic Plan & Budget into a separate Issue...

[2015-12-07 15:46] mateoclarke opened #40 "2016 Strategic Plan & Budget"
Templates:
[CfA Strategic Planning Template](https://docs.google.com/document/d/12EGMSZL2wGKpxwcxCFCTMoeRfx95h4eF493Bh5kdkkA/edit?usp=sharing)
[CfA Budget Template](https://docs.google.com/spreadsheets/d/1r09ttR56hAUi_h5tZOxKQONG4D_WTcEaYHLLA2PCaMA/edit?usp=sharing)

[2015-12-08 04:38] VictoriaODell commented on #2
Presentation from tonight's Meetup:

[OpenAustin_logo_redesign_presentation.pdf](https://github.com/open-austin/iced-coffee/files/54919/OpenAustin_logo_redesign_presentation.pdf)

[2015-12-08 04:56] mateoclarke commented on #2
That presentation is 💯! When do I get my tshirt?

[2015-12-08 16:38] mateoclarke commented on #2
The last page of the [PDF](https://github.com/open-austin/iced-coffee/files/54919/OpenAustin_logo_redesign_presentation.pdf) made it click for me. Looks awesome!

<img width="1339" alt="screen shot 2015-12-08 at 10 36 53 am" src="https://cloud.githubusercontent.com/assets/5697474/11661475/b410ff06-9d97-11e5-953d-d6c4346c7d89.png">

[2015-12-08 16:46] VictoriaODell commented on #2
I was going to do a shirt mockup too but :watch:
:hushed:  Showing implementation of the design is part of selling it. Presentation is major because design is subjective and contextual ~

[2015-12-08 23:08] mateoclarke opened #41 "Core Team Dec 2015 Huddle Agenda"
# Agenda

- Summary of Community Feedback
  - 2016 Budget & 2016 Strategic Plan #40
  - 2015 Annual Report
    - is this worth doing?
    - infographics
- Logo Feedback #2
  - ready to ship?
    - order tshirts #11 & stickers & buttons? #3
- Website Checkin
- Code Across
  - another ideathon?
  - or a Waffle.io style Hackshop event? http://blog.waffle.io/nc-open-data-hackshop/
- Core Team Roles

[2015-12-08 23:57] mateoclarke commented on #9
Some possible responsibilities:
- lead research and drafting of policy language
- lead putting together informational policy toolkits
  - come up with processes for getting newbies a policy 101
- run lead on candidate questionaries for Nov'16 elections

[2015-12-09 00:48] VictoriaODell opened #42 "Open Austin Deck"
Once we get our logo finalized I'd like us to create a template deck for our future Open Austin presentations.

To include:
- styling for quotes, callouts, etc.
- font sizes, weights, and styles

probably missing something but essentially just a good template to use and reuse for our standard presentations.

[2015-12-09 03:38] mateoclarke commented on #42
I like this idea. Something like this right?
https://docs.google.com/presentation/d/1g5U9XzxXoZ-iolBMejqu9LmP8Zf6D9aHIf8Vxcuv7vw/edit

[2015-12-09 03:39] #33 closed

[2015-12-09 03:40] #10 closed

[2015-12-09 05:02] VictoriaODell commented on #42
Yea! That looks like an awesome base.

[2015-12-11 18:05] amaliebarras commented on #35
I still think it'd be cool to hear from someone from community impact, statesman, or tribune working on data apps. Does anyone know people working in that space personally?

[2015-12-11 18:19] amaliebarras commented on #9
In the description I'd clarify that this person would lead a committee to help w/ all those things plus:

- craft blog posts updating community on policy progress
- lead policy breakouts at hack nights

[2015-12-11 18:19] amaliebarras commented on #9
Drafting stuff out here: https://docs.google.com/document/d/1kbS0wJj9o_Xr5yKBJ2oF9_wAPscZ2gksnOyMMuqVHk4/edit

[2015-12-11 21:45] amaliebarras commented on #13
Possible responsibilities:

- drafting out 2016 budget based on strategic plan
- procuring in-kind donations for meetups and hackathons
- forming partnerships with companies around austin that would want to donate to our mission
- occasionally, tactfully asking members on the mailing list for donations when we need them
- attending CFA fundraising workshops :)

[2015-12-11 21:48] amaliebarras opened #43 "Open Austin Infographic"
Create assets using membership data to help future fundraising efforts

[2015-12-14 04:17] VictoriaODell commented on #2
I'll be showing some color/weight options and we can finalize and order shirts!

[2015-12-14 04:23] VictoriaODell commented on #3
Thinking on this. As much as I'd like to be able to do it, it may be better to just order buttons. :disappointed:

[2015-12-14 04:28] VictoriaODell commented on #39
Going to dum what I currently see out there on here:

### Facebook ###
**Short:** Promoting open government, open data, and civic application development in Austin, TX.
**long:**Open Austin is a citizen volunteer group that promotes open government, open data, and civic application development in Austin, TX.

We were formed in 2009 by citizens interested in the City of Austin web strategy and appr

[2015-12-15 00:31] amaliebarras opened #44 "Project Champion Checklist / Roadmap"
Create, or find existing checklist to help guide the engagement of project champions from concept => mockup => beta => live w/ analytics

[2015-12-15 01:24] amaliebarras commented on #43
#format
pdf

#data points
##events
number of hackathons
number of hack nights
number of tacos purchased
number of speakers

##projects
projects and their stages
categories of projects
number of commits on github

##people
number of users who've committed
data from membership slide
social media

##admin
1 new website
1 new logo
3 new core team members

[2015-12-15 01:40] mateoclarke opened #45 "Plan for Code Across"
### Notes from #41
- YES! another ideathon
- nah to a Waffle.io style Hackshop event? http://blog.waffle.io/nc-open-data-hackshop/
- want to hear ideas from other groups, like AURA, City Departments, non-profits, etc.

### Todo
 - [x] Reach out to Diana, Lope about UX stuff
 - [ ] figure out sponsorship
 - [ ] figure out venue

[2015-12-15 02:34] luqmaan commented on #41
# Agenda

- Summary of Community Feedback
  - 2016 Budget & 2016 Strategic Plan #40
  - 2015 Annual Report
    - is this worth doing?
    - infographics
  - Notes
    - small sample size, should've avertised on meetup.com
    - notes
      - what do you like about civic hack night?
        - breakouts and groups
        - diversity of skills and learning from others
        - the people
      - wh

[2015-12-15 05:12] VictoriaODell commented on #2
Realistically, the 17/18th is when I can get everything nice and packaged. Tomorrow evening is my work holiday party~

[2015-12-15 14:37] mateoclarke commented on #29
Luq emailed on 12/11 to set up a meeting in Jan.

[2015-12-15 14:43] mateoclarke commented on #35
At our core team huddle, we decided to go with Lighting Talks from the community. We're all going to reach out to a couple people.

Going to save the ideas above for future events.

[2015-12-15 14:44] mateoclarke opened #46 "Speakers for OpenGovCivTech Meetups"
- [x] JAN 11: Lighting Talks
- [x] FEB 22: Designing for 100% of America - Ben Guhin
- [x] MAR 21: Police Body Cameras - Kathy Mitchell, Texas Electronic Privacy Coalition
- [x] APR 18: Austin's Atlas - Ann Armstrong (Joint Event with Maptime ATX)
- [x] MAY 16: State Water Plan Site Demo, James Seppi, TNRIS
- [x] JUNE 20: Lighting Talks!
  - Diego H  (Sass Colors)
  - Paul Serraino (Leaflet + Reac

[2015-12-15 19:07] mateoclarke opened #47 "testing to see if slack integration works"

[2015-12-15 19:08] #47 closed

[2015-12-15 19:08] VictoriaODell commented on #21
Postponing this until we can find our other 2 core members.

I think it's solid for us to see how our core team members work together first and then also see how people start contributing via the ice-coffee/admin channel on slack before thinking about this as a permanante group structure.

[2015-12-15 19:27] VictoriaODell commented on #21
Closing for now.

[2015-12-15 19:27] #21 closed

[2015-12-16 00:24] mateoclarke opened #48 "Renew Meetup.com Subscription"

[2015-12-16 00:25] mateoclarke commented on #48
I've asked their support if we can pay for a full year to take advantage of CfA budget.  Only see options for 1/mo  & 6/mos. Further action pending their response...

[2015-12-16 00:25] #41 closed

[2015-12-16 15:30] mateoclarke commented on #40
our goals: (from #41)
- continue to grow our community and create a comfortable space for people to come hack
  - to grow the community we have to know the community: create a cms
- taking open data policy recommendations through the city council process
- capitalize on the presidential election year
   - make sure voteatx.us works
- consistency with our brand and message
  - one place to send peo

[2015-12-16 16:23] mateoclarke commented on #48
-- Meetup support

[2015-12-16 16:30] mateoclarke commented on #48
just paid for 6 months. We should now be able to make updates to things like the logo.

[2015-12-16 16:30] #48 closed

[2015-12-16 21:38] VictoriaODell opened #49 "Organize the Google Drive"
So many docs :scroll: :page_facing_up:
I think we should get a little more structed as we move forward. It'll make finding resources and useful information easier, especially if new people join the team or we have role changes.

[2015-12-17 02:26] VictoriaODell commented on #2
<img width="321" alt="screen shot 2015-12-16 at 8 25 21 pm" src="https://cloud.githubusercontent.com/assets/10767430/11859700/348567fc-a433-11e5-8a5f-3416e7114f96.png">

Now to work on the type

[2015-12-17 06:04] VictoriaODell commented on #2
Adjusted the color. I forgot to change it to the one we discussed in the meeting. I lightened it just a smidge more.
<img width="528" alt="screen shot 2015-12-17 at 12 00 16 am" src="https://cloud.githubusercontent.com/assets/10767430/11862488/4d156060-a451-11e5-9e92-e15bd0b58338.png">

I packaged the images up as svg,pdf, ai, jpg, and png. Also included an all black version and a version with the

[2015-12-17 06:09] VictoriaODell commented on #2
Also, how it can appear on dark colored backgrounds.
:cat2:

[2015-12-17 06:13] VictoriaODell commented on #2
1 color orange preferred. If anyone has any thoughts on that let me know. I tried it with orange/white but didn't feel right. All white an option but not preferred unless an absolute.
<img width="346" alt="screen shot 2015-12-17 at 12 09 33 am" src="https://cloud.githubusercontent.com/assets/10767430/11862595/802bab20-a452-11e5-967f-560476d3184b.png">
Whoops, little red mark is to be ignored.

I n

[2015-12-17 15:19] luqmaan commented on #28
Scheduled the WeWork hack nights on Meetup.com and the Open Austin Google calendar.

[2015-12-19 16:33] VictoriaODell commented on #2
Okay~ Made some final adjustments to they type and color. New logos are currently in the Google Drive for Open Austin but will be shared on GitHub.

Currently working on extending the brand colors and making profile photos for social media. Also updating the logo presentation and including some quick brand tips/guidelines.

[2015-12-19 16:52] VictoriaODell commented on #3
@mateoclarke You think we can get 2 variations made?

[2015-12-19 17:07] mateoclarke commented on #3
sure!

[2015-12-19 17:16] VictoriaODell commented on #3
Alright, I'm almost done. Is it better to post the pdf here?

[2015-12-19 17:16] VictoriaODell commented on #3
Ah, I made them to 1.25. Do we want 1.5?

[2015-12-19 17:28] VictoriaODell commented on #3
There are 3 options of 1.25 becaue I couldn't pick :see_no_evil:
Thoughts? the on the first 2 is going to be on the edge of the button.
[Button_125Inch_BlackOrange.pdf](https://files.zenhub.io/567593ba46e449450c50f7bf)
Uploaded using [**ZenHub.io**](http://www.zenhub.io)
[Button_125Inch_FullColor.pdf](https://files.zenhub.io/567593c046e449450c50f7c0)
Uploaded using [**ZenHub.io**](http://www.zenhu

[2015-12-19 21:35] luqmaan commented on #3
Great work on the logo. By opinion is bigger text is better since it's easier to see from a distance.

[2015-12-19 22:12] VictoriaODell commented on #3
@luqmaan on the logo or the button?

[2015-12-19 22:13] luqmaan commented on #3
Button

[2015-12-19 22:14] VictoriaODell commented on #3
@luqmaan
Only 1 of the button options would have the full logo visable w/text.
The other 2 would have the words on the rim of the button.

[2015-12-19 22:27] amaliebarras commented on #3
I think those words along the rim are gonna show up too tiny :( May I submit a couple other concepts?

[2015-12-19 22:27] VictoriaODell commented on #3
@amaliebarras That's the point.

[2015-12-19 22:28] VictoriaODell commented on #3
<img width="619" alt="screen shot 2015-12-19 at 4 27 55 pm" src="https://cloud.githubusercontent.com/assets/10767430/11915473/7d4bae24-a66d-11e5-866a-e45a4d4a7e57.png">
Here is a photo for refrence. I followed the template that buttonfrog has

[2015-12-19 22:28] amaliebarras commented on #3
oooooooh okay!

[2015-12-19 22:29] VictoriaODell commented on #3
The "Fulllogo" pdf file is the only button idea that would have the words on the button.
Feel free to take the PDFs into illustrator and make variations.

[2015-12-19 22:30] VictoriaODell commented on #3
Might actually be good to put the website link on the edge too.

[2015-12-19 22:36] amaliebarras commented on #3
Yeah, I didn't understand. The picture example helped :) These r great.

[2015-12-19 22:44] mateoclarke commented on #3
I like FullLogo the best. Not crazy about the all orange and dark grey. too halloweeny. :jack_o_lantern: I feel like you said you didn't like it but I'd like to see an all white star on grey or dark grey.

[2015-12-19 22:47] amaliebarras commented on #3
<img width="368" alt="screen shot 2015-12-19 at 4 43 57 pm" src="https://cloud.githubusercontent.com/assets/11826646/11915533/e5f323ec-a66f-11e5-8c5a-7a259208fda3.png">

Is the weight of the Raleway up for discussion? Don't know if it's logo discussion or button discussion. But I put them side by side and I strongly prefer the light...

1) I think it looks more modern
2) It's narrower so the logo

[2015-12-19 23:03] VictoriaODell commented on #3
It's actually a modified raleway~ I went in and made some of the edges more round to better match the logo, per feedback from others.

I think the difference in the weight of the logo and the weight of the type is kind of stark with the light option. But it looks like you also made the type larger and actually made it more rectangular in shape since by doing so.

I also believe there is a legibili

[2015-12-19 23:09] VictoriaODell commented on #3
Logo files are here now btw: https://drive.google.com/drive/u/0/folders/0BwKb2oghmQldX2FRNmw1XzVPc1U

[2015-12-19 23:10] amaliebarras commented on #3
Oh, nice. Yeah I do like the more rounded corners, I just don't know how to do that on the light.

And I personally liked the contrast btw the weight of the type and the weight of the logo. If I'm outnumbered on that that's fine. :)

Also yeah, I didn't match the size of yours, I just slapped the weights side by side to compare, I just assumed that a light font would be narrower but it seems I was

[2015-12-19 23:16] VictoriaODell commented on #3
@mateoclarke Yeah but I was building out the color combos and stuff and I think White would make sense to add as option. I'm leaning torwards Canvas for the shirts and a dark grey option.

@amaliebarras Generally light to medium is increased legibility and medium to bold is where things get harder to read/scan for people. I think if we were to go lighter then "regular" would be something needed to

[2015-12-19 23:19] VictoriaODell commented on #3
I'm taking a break until tomorrow.
Hopeful I can get final buttons out and t-shirt tomorrow.
Then stickers and banner next.

[2015-12-19 23:51] mateoclarke commented on #40
(some notes from Dec 2015 feedback meeting wins from this year and opportunities)

### Wins
- Getting invited to UT Annette Strauss Institute Breaking Through conference. Getting on their radar as a civic engagement org.
- Open Data Terms of Use
- Engaging with other groups like McChris' presentation at Maptime
- Hack: 801 vs 1, cited in academic paper

### Opportunities
- candidate survey & visib

[2015-12-21 04:32] VictoriaODell commented on #3
Bump?

[2015-12-21 16:06] VictoriaODell opened #50 "Banner"
Need to produce a banner

should be cake~

Logo/website on the banner!

Reference:
<img width="886" alt="screen shot 2015-12-21 at 10 50 42 am" src="https://cloud.githubusercontent.com/assets/10767430/11936011/bff6c3a8-a7d0-11e5-803e-cb17f965b409.png">

[2015-12-21 16:09] VictoriaODell opened #51 "T-shirt"
Shirt design ASAP~
Ordering from [Custom Ink](http://www.customink.com/).

@mateoclarke "i think around $7-10 per shirt is good if we are ordering around 100 total" plus a nice link about ordering shirts [here](https://medium.com/art-marketing/your-4-t-shirt-is-costing-you-millions-829bf4a7e440#.pw14k3p00)

Currently looking at the Canvas shirts. Leaning torwards a dark grey with the logo in white

[2015-12-21 16:20] VictoriaODell commented on #51
Quick quote for 100 t-shirts with 1 color printed on the front:
<img width="334" alt="screen shot 2015-12-21 at 10 19 59 am" src="https://cloud.githubusercontent.com/assets/10767430/11935247/725cbbb0-a7cc-11e5-8f04-7fa8e04da319.png">
@mateoclarke does that seem okay? Should I look at other shirts?

[2015-12-21 16:49] amaliebarras commented on #3
Do yo thing, I think you have consensus

[2015-12-22 02:43] VictoriaODell commented on #50
@mateoclarke
<img width="758" alt="screen shot 2015-12-21 at 8 43 21 pm" src="https://cloud.githubusercontent.com/assets/10767430/11946743/89081498-a823-11e5-82d6-b6154d754f79.png">

[2015-12-22 02:44] VictoriaODell commented on #50
[Banner_OpenAustin.pdf](https://files.zenhub.io/5678b8ef5f72d5e3728b6777)
Uploaded using [**ZenHub.io**](http://www.zenhub.io)

[2015-12-22 16:13] VictoriaODell commented on #51
Playing around yesterday with some concepts and I'm thinking of a front/back design. Working to get this completed tonight.

[2015-12-22 16:15] VictoriaODell commented on #11
Whoops, I accidently made a duplicate issue. Closing this one. Ref  #51

[2015-12-22 16:15] #11 closed

[2015-12-22 16:35] mateoclarke commented on #50
nice! The banner looks great @VictoriaODell ! One minor suggestion is more spacing between the text and vertical piping at the bottom.

Also interested in your thoughts around the "Open Government, Open Data and Civic Tech in Austin, Texas" tagline. Do you think the order denotes priority.

Further, I kind of see us as having 3 main missions.
1. promote open gov & open data
2. build things with go

[2015-12-22 16:36] mateoclarke commented on #51
I think $11 is high for 1 color printed on the front, but i think we can afford it. Would like to see other options or at least more info on the type of shirt.

[2015-12-22 17:15] VictoriaODell commented on #50
I sure can. Once I get off work I'll make updates and should be finalized.

I think if we feel iffy on the tagline then we should nix it. We can work on our messaging more before we solidify it on things like this.

I can change where it says the tagline to say " Established 2009 in Austin, Texas"
Is there anything else you think should go in that footer section?

[2015-12-22 17:17] VictoriaODell commented on #51
The shirt I picked for this was the Canvas one [here](http://www.customink.com/styles/canvas-tri-blend-t-shirt/242000#title-link)
I'll explore a few more options though tonight.

[2015-12-22 17:22] VictoriaODell commented on #3
<img width="1035" alt="screen shot 2015-12-22 at 11 21 04 am" src="https://cloud.githubusercontent.com/assets/10767430/11961436/342ad55c-a89e-11e5-8155-2baffb83e829.png">

@mateoclarke does this seem reasonable for buttons? They have a discount if you get multiple designs of buttons.
We can get 2 styles one with full logo and one with just the mark.

[2015-12-22 17:54] mateoclarke commented on #50
Nah, I actually like the tagline the more I look at it. Why not roll with it? Was mainly just talking out loud to get us thinking...

[2015-12-22 17:55] mateoclarke commented on #3
yeah that sounds good.

[2015-12-22 19:26] amaliebarras commented on #13
https://github.com/open-austin/iced-coffee/issues/41
Per Dec 15 Core Team Huddle
Maybe fundraising position should be part of an events position. Make sure everything goes smoothly event wise.

Description lives here:
https://docs.google.com/document/d/1kbS0wJj9o_Xr5yKBJ2oF9_wAPscZ2gksnOyMMuqVHk4/edit

"The Events Lead is responsible for organizing and facilitating the physical space at meetups, h

[2015-12-22 19:27] amaliebarras commented on #9
"The Director of Policy leads policy and advocacy related discussions and projects related to Open Government & Open Data at the City of Austin, Travis County and State of Texas. They provide updates to the rest of the community on policy initiatives and their progress. They act as leader of the Gov Team who execute on the policy activities. Responsibilities include: leading research and drafting

[2015-12-22 20:18] mateoclarke opened #52 "1/3 2015 in Review Blog Post"
All the cool kids are doing it so we should to:

- http://www.codeforamerica.org/blog/2015/12/22/this-year-in-civic-tech-2015-in-review/
- http://chihacknight.org/blog/2015/12/22/chi-hack-night-2015-year-in-review.html
- https://medium.com/@CodeForMiami/the-year-in-review-for-miami-civic-tech-2015-7b8a6e397279#.p5kpumcoj

This could benefit from a completed infographic #43.

[2015-12-22 21:52] amaliebarras commented on #52
k. I plan to get this done by 1/3,  coreteam agreed that was an okay deadline at the huddle. is it still?

[2015-12-22 21:54] mateoclarke commented on #52
Sounds good!

[2015-12-22 21:59] mateoclarke commented on #35
JAN 11: Lighting Talks
  - Policy 101
  - Preston Pham - a technical topic
  - Slot 3
  - Slot 4
  - Slot 5

Contact(ed/ing):
- Angela Hanson, Innovation Office (@amaliebarras)
- Daniel, GIS Public Works (@mateoclarke)
- John C's manager, Code (@mateoclarke)

[2015-12-22 23:17] VictoriaODell commented on #50
Alright, well I'm just going to fix the text so it's not so close to the bottom and upload.

[2015-12-22 23:21] VictoriaODell commented on #50
<img width="740" alt="screen shot 2015-12-22 at 5 18 41 pm" src="https://cloud.githubusercontent.com/assets/10767430/11968275/3cdddf50-a8d0-11e5-8175-8640c859362a.png">

Order banner from [here](http://www.vistaprint.com/studio.aspx?pf_id=017&combo_id=134749&xnav=Tablet+Banners+Product+Page)

Here is the PDF:
[Banner_OpenAustin_OutlinedType.pdf](https://github.com/open-austin/iced-coffee/files/703

[2015-12-22 23:26] VictoriaODell commented on #52
Do we know all what we should put on it?

[2015-12-22 23:58] VictoriaODell commented on #3
I believe these are done @mateoclarke

Order 1.25" buttons [here](https://www.buttonfrog.com/products/1-25-inch-round-buttons)

Full color logo with white background here:
[Button_125Inch_FullLogo.pdf](https://github.com/open-austin/iced-coffee/files/70332/Button_125Inch_FullLogo.pdf)

White logo mark with Orange background here:
[Button_125Inch_OrangeWhite.pdf](https://github.com/open-austin/iced

[2015-12-23 14:53] mateoclarke commented on #3
Order placed, we should receive proofs to info[at]open-austin within the next 24 hours. :shipit:

[2015-12-23 14:53] #3 closed

[2015-12-23 14:53] mateoclarke commented on #3
![screen shot 2015-12-23 at 8 52 01 am](https://cloud.githubusercontent.com/assets/5697474/11978629/a43e1dc2-a952-11e5-9165-5a9ad685864f.png)

[2015-12-23 15:02] amaliebarras commented on #52
There is a list in the github issue. but if you have anything to add, have at it

[2015-12-23 15:32] mateoclarke commented on #50
![screen shot 2015-12-23 at 9 29 04 am](https://cloud.githubusercontent.com/assets/5697474/11979327/12ae5f1a-a958-11e5-89aa-4250944d2abe.png)

:shipit:

[2015-12-23 15:32] #50 closed

[2015-12-23 16:26] mateoclarke commented on #3
Proof #1 looks great!
![screen shot 2015-12-23 at 10 25 08 am](https://cloud.githubusercontent.com/assets/5697474/11980308/90f796c8-a95f-11e5-9d6a-8b87136a41eb.png)

[2015-12-23 16:31] amaliebarras commented on #3
I loooooove it!

[2015-12-23 16:35] mateoclarke commented on #3
![screen shot 2015-12-23 at 10 35 04 am](https://cloud.githubusercontent.com/assets/5697474/11980496/e0b262aa-a960-11e5-8fba-3ecdf8a6b95e.png)

[2015-12-23 16:46] mateoclarke opened #53 "OA Stickers"
We got the logo! Let's decide what stickers we want and how many and order them through StickerMule.com ASAP!

I think [clear stickers](https://www.stickermule.com/products/clear-stickers) would look great with our base logo. Also like the idea of an orange [circle sticker](https://www.stickermule.com/products/circle-stickers) to match the orange button.

Maybe we get two styles/sizes? What are yo

[2015-12-23 16:48] mateoclarke opened #54 "Instabus Stickers"
@luqmaan and I talked about buying Instabus stickers with the extra CfA budget. We gotta do that asap. Might as well bundle the order with #53.

"There is no need to bus upset"
Unicorn :unicorn_face:
Instabus.org

[2015-12-23 20:59] VictoriaODell commented on #53
Yeah, We can do what we did with the buttons.

[2015-12-23 23:52] VictoriaODell commented on #51
<img width="505" alt="screen shot 2015-12-23 at 5 52 24 pm" src="https://cloud.githubusercontent.com/assets/10767430/11987053/f47fde60-a99d-11e5-8703-74292cf95fc0.png">
Thoughts?

[2015-12-24 00:10] VictoriaODell commented on #54
Speaking of Instabus and marketing stuff, how is that going?
I think this is a really cool thing and we should get some more material/info out on that.

[2015-12-24 00:22] VictoriaODell commented on #51
Also here is the link to the shirts [Shirts](http://www.customink.com/styles/next-level-tri-blend-t-shirt/186900#title-link)

[2015-12-24 00:39] VictoriaODell commented on #53
I think we should do small [1 inch](https://www.stickermule.com/products/circle-stickers) stickers similar to the buttons in orange.
[OpenAustin_Sticker_1Inch_Orange.pdf](https://github.com/open-austin/iced-coffee/files/71346/OpenAustin_Sticker_1Inch_Orange.pdf)

<img width="300" alt="screen shot 2015-12-23 at 6 37 56 pm" src="https://cloud.githubusercontent.com/assets/10767430/11987409/5776c0fa-a

[2015-12-24 00:55] VictoriaODell commented on #53
Also, we should def get the stickers all at once for that discount~

[2015-12-24 02:26] VictoriaODell commented on #53
Okay, [clear sticker](https://www.stickermule.com/products/clear-stickers) of our full color logo. I think we should order them 2"x2" if we opt for the above 1"x1" to compliment. Let me know if any adjustments should be made.
<img width="357" alt="screen shot 2015-12-23 at 8 25 39 pm" src="https://cloud.githubusercontent.com/assets/10767430/11988323/5d30bf3c-a9b3-11e5-86e0-c5d0d017a8cb.png">

[Ope

[2015-12-24 17:08] mateoclarke commented on #51
Like the color. White on grey looks good. The small logo off to one side looks nice but it also seems super simple. I'd kinda like to see a larger centered logo. $10 per unit is good too.

[2015-12-24 17:18] mateoclarke commented on #53
At first I thought 1x1 & 2x2 seemed super small. Was thinking 1in and 3in would be better, but now I'm not totally sure. The full logo being 3 inches wide and a little less than that on the height seems good. The 1 inch circle would be nice though. Like that size.

<img width="456" alt="screen shot 2015-12-24 at 11 14 20 am" src="https://cloud.githubusercontent.com/assets/5697474/11996739/8709f284

[2015-12-26 16:48] VictoriaODell commented on #53
@mateoclarke So why don't we do the 1inch round and then make the clear one 3inch?

If that's fine you can go ahead and put the order in with the above pdfs .

[2015-12-26 16:52] VictoriaODell commented on #51
@mateoclarke
<img width="503" alt="screen shot 2015-12-26 at 10 51 00 am" src="https://cloud.githubusercontent.com/assets/10767430/12007183/93ef7542-abbe-11e5-9ba3-6afda0fb74c4.png">
Here is the file for the white logo:
[OpenAustin_White_front.eps](https://files.zenhub.io/567ec59cbbfdbd437514b950)

[2015-12-26 17:04] mateoclarke commented on #53
on it!

[2015-12-26 17:05] mateoclarke commented on #51
I kinda like the centered and bigger option. What does everyone else think?

[2015-12-26 21:39] amaliebarras commented on #51
Bigger is better!

[2015-12-26 23:26] #9 closed

[2015-12-26 23:49] mateoclarke commented on #51
Ok, going to go ahead and order the second option.

[2015-12-27 00:31] mateoclarke commented on #51
@VictoriaODell, Do these look like good numbers to buy? Not seeing a women's option for Next Level Tri Blend. Maybe we get 50 Canvas Jersey V-Necks and 50 Next Level Tri Blend? Probably cost quite a bit more to do smaller volumes.
https://docs.google.com/spreadsheets/d/1FHADyiV88DAgHF6hn8a1sL6pLQBwuVY0ZTLK4M9Asko/edit#gid=0

<img width="504" alt="screen shot 2015-12-26 at 6 06 56 pm" src="https://

[2015-12-27 00:38] VictoriaODell commented on #51
We should probably get Xsmall(a few) and 2XL for both women and men @mateoclarke

[2015-12-27 00:46] VictoriaODell commented on #51
uh, which shirts have "women's options"?
Also, I think we should more evenly distribute to large/extra large.

[2015-12-27 00:48] mateoclarke commented on #51
I went of the percentages that the [Josh Baer article](https://medium.com/art-marketing/your-4-t-shirt-is-costing-you-millions-829bf4a7e440#.pw14k3p00) recommended.

There are some shirts that are have a "women's fit" but maybe that is a separate shirt option. I was just trying to follow the advice of the article.

[2015-12-27 01:24] mateoclarke commented on #51
60 Crew Necks & 40 V Necks. Any objections?
<img width="514" alt="screen shot 2015-12-26 at 7 01 25 pm" src="https://cloud.githubusercontent.com/assets/5697474/12008466/2842efa0-ac03-11e5-9f76-025b681a7e83.png">
<img width="507" alt="screen shot 2015-12-26 at 7 01 35 pm" src="https://cloud.githubusercontent.com/assets/5697474/12008467/284af9e8-ac03-11e5-83d2-ce644a7a043c.png">

[2015-12-27 02:01] mateoclarke commented on #51
<img width="715" alt="screen shot 2015-12-26 at 7 41 29 pm" src="https://cloud.githubusercontent.com/assets/5697474/12008585/324b5872-ac0b-11e5-9f40-f534ea9eb9cd.png">

[2015-12-27 02:01] mateoclarke commented on #51
<img width="546" alt="screen shot 2015-12-26 at 7 54 18 pm" src="https://cloud.githubusercontent.com/assets/5697474/12008589/7150d8e4-ac0b-11e5-8bab-ac51ad6aead7.png">

Final cost with tax

:shipit:

[2015-12-27 02:01] #51 closed

[2015-12-27 02:10] mateoclarke commented on #2
Is there more work to do here @victoriaodell? I think we can close out this issue now that the new versions of the logo is uploaded to Google Drive. I'll go ahead and add them to the logo repo.

[2015-12-27 02:44] mateoclarke commented on #54
![](https://raw.githubusercontent.com/luqmaan/instabus-stickers/master/instabus-sticker.png)
https://github.com/luqmaan/instabus-stickers/blob/master/instabus-sticker.png

[2015-12-27 02:44] mateoclarke commented on #54
ordered :shipit:

[2015-12-27 02:44] #54 closed

[2015-12-27 02:47] mateoclarke commented on #53
ordered

<img width="1000" alt="screen shot 2015-12-26 at 8 45 37 pm" src="https://cloud.githubusercontent.com/assets/5697474/12008662/ae2b683c-ac11-11e5-8ceb-ac64203eee1a.png">

:shipit:

[2015-12-27 02:47] #53 closed

[2015-12-27 21:04] mscarey commented on #35
If you're still looking for lightning talks, I think I could easily talk 10 minutes about "Free law on the web." That would cover resources for downloading law under an open license, metadata standards for organizing it, and maybe lessons learned from the Open Austin Bill Tracker project.

[2015-12-30 03:40] amaliebarras commented on #35
Awesome! I haven’t yet heard from Angela, (reached out again via email) so if she doesn’t respond this could fill that slot.

[2015-12-30 17:30] VictoriaODell commented on #2
I'm currently working on extending the colors and doing some general guidelines stuff. I also want to make the logomark available by itself in the repo also.

[2015-12-30 17:31] VictoriaODell commented on #38
What needs to be done for this?
Should we send out "Thank You" emails?

[2015-12-30 17:50] VictoriaODell commented on #46
I think we should also consider short discussions followed by break-out groups.

I've done that previously within an organization(Feminists United) and it got a great response since everyone got presented to for a bit and then we went into smaller groups to further discuss the issues. In the end we came together and recapped a bit on what each group discussed in relation to the topic.

We did this

[2015-12-30 19:35] amaliebarras commented on #35
Angela is a go!

[2016-01-03 00:11] luqmaan opened #55 "Update github.com/open-austin/open-austin-logo"
We need to update https://github.com/open-austin/open-austin-logo with our fancy new logo.

[2016-01-05 05:22] mateoclarke commented on #35
@mscarey That sounds awesome! Let's plan on adding you to the lineup! (Sorry for the delaying in responding. Just back back from my holiday vacation abroad.)

[2016-01-05 18:17] mateoclarke commented on #35
Think we're good on presenter, just need to confirm lightning talk names. Going to close this issue for now.

[2016-01-05 18:18] #35 closed

[2016-01-05 22:05] mateoclarke commented on #40
pointing to full notes from Core Team Huddle post Dec Planning & Feedback Meeting: https://github.com/open-austin/iced-coffee/issues/41#issuecomment-164624479

[2016-01-06 01:31] VictoriaODell opened #56 "Update Logos across the web"
- [x] Twitter
- [x] Facebook
- [x] Website
- [x] Github

Did I miss anything?

[2016-01-06 01:49] VictoriaODell commented on #2
I've updated the Google Drive to have files that are of the star symbol only.
They can be found here: https://drive.google.com/open?id=0BwKb2oghmQldMkpRNmtiVXRzVTA

Available in black. white, and full color.

[2016-01-06 01:49] VictoriaODell commented on #55
I need help doing this. @mateoclarke ?

[2016-01-06 01:50] VictoriaODell opened #57 "Open Austin New Logo Blog Post"
I'm updating the slides now and would like to translate them into a blog post.

[2016-01-06 02:15] mateoclarke commented on #56
Just updated Github...

[2016-01-06 02:16] VictoriaODell commented on #56
@mateoclarke I had trouble trying to figure out Wordpress.

[2016-01-06 02:24] #56 closed

[2016-01-06 02:25] #2 closed

[2016-01-06 02:53] mateoclarke commented on #55
done! https://github.com/open-austin/open-austin-logo/pull/1

[2016-01-06 02:53] #55 closed

[2016-01-08 06:14] mateoclarke commented on #56
Just added it to Meetup.com which we had left out.

[2016-01-11 03:32] amaliebarras opened #58 "Reach out to CFA for Austin sign-ups"

[2016-01-11 05:54] amaliebarras commented on #43
[OAInfographicV1.pdf](https://github.com/open-austin/iced-coffee/files/85346/OAInfographicV1.pdf)

First version! I just used the data that was readily available. Couldn't find some of the points like speakers and tacos, but I replaced with stuff I knew we did have. Do y'all have any...

- questions about or corrections to the data?
- additional data points?
- design feedback?
- suggestions for so

[2016-01-11 17:29] mateoclarke opened #59 "[Code Across] Register event with CfA"
Cfa has a registration form so they have an accurate list of all the brigades participating.

https://cfa.typeform.com/to/rvfNMX

The main thing we need to do first is create an event URL.

[2016-01-12 05:05] VictoriaODell commented on #40
I'd like to take a closer look at our goals. I've written down things that I've been thinking about. Original list in bold. I felt like things were kind of vague to me.

our goals: (from #41)
- **Continue to grow our community and create a comfortable space for people to come hack**
  - **to grow the community we have to know the community: create a cms**
    - How many members would we like to se

[2016-01-12 05:27] VictoriaODell commented on #59
Would we want this to be an Eventbrite page?

[2016-01-12 05:33] mateoclarke commented on #59
yeah eventually, but I don't think it matters too much for this registration page. It would probably be best to create page like open-austin.org/codeacross2016 which would have an event description and links to an eventbrite.

[2016-01-12 05:37] VictoriaODell commented on #45
Code Across is March 5th correct? So we have about a month and a half to plan.

Here are some quick links to previous Code Across Documents we should refrence and update for planning:
- [Code Across 2015 Planning ](https://docs.google.com/document/d/1kQnNlsQzMHfzP4qIWhEFyTR85EuPDUVGtw_cTdlF-B0/edit#heading=h.6drmge15o9ys)
- [Code Across 2015 Agenda](https://docs.google.com/document/d/1q2wPe0Msd0qo

[2016-01-12 05:44] VictoriaODell commented on #45
I saw you created a list of potential sponsors for 2016. We should try to get names associated with these places if we can. Or at least best email to reach someone.
[Potential 2016 Sponsors](https://docs.google.com/document/d/1pAsvnfr_6t6vkTax5NPfv6os8ZNLf_p4DzAVCT4YQrE/edit)

Thoughts?

[2016-01-12 05:56] mateoclarke commented on #45
yup, great idea.I have a contact for at least half of these places.

[2016-01-12 06:05] mateoclarke commented on #43
This is great!

Would recommend these changes:
- under events: name of the hackathon instead of venue. also include MyCreekATX maybe?
- very hard to read the skills listed. also the colors don't seem to fit the rest of the scheme.
- wondering what the "10 hacked on means", are those projects within the open austin repo? that's one thing that we need to try to figure out is keeping a list of projec

[2016-01-12 06:11] mateoclarke commented on #18
this was recommended as a good tool:
https://airtable.com/templates/sales-and-customers/personal-crm

[2016-01-12 15:40] mapineda commented on #13
Interested in contributing as Events Lead. Will be at the meetup this weekend to discuss details.

[2016-01-12 15:48] VictoriaODell commented on #13
@mapineda sweet!

[2016-01-12 17:05] amaliebarras commented on #43
Thanks for the feedback!

- Agree on changing to hackathon name instead
- Agree on the pie chart… I fought with it for so long and couldn’t get it right. think I’ll just change it to a bar instead. pie charts are dumb anyway
- 10 hacked on is something I took from our end-of-year wrap up presentation, the “alphas and experiments” and I took the 3 from “beta and official”, would you use those words

[2016-01-12 18:10] mateoclarke commented on #43
Yeah, I can look into Github metrics for you. Maybe with @luqmaan's help. I know there is a way use the Github API to query data from an organization or from repos.

For example, this url endpoint returns all the "[events](https://developer.github.com/v3/activity/events/types/)" that occur in our org's repos. The only thing tricky is that this includes comments and other more trivial events. Not s

[2016-01-13 01:15] luqmaan opened #60 "Share lightning talk slides"
Share them on our website and post to Meetup.

• [Matt Carey, OA Policy Lead](https://github.com/mscarey) - [Free Law on the Web](https://github.com/open-austin/iced-coffee/files/88240/Law.on.Web.slides.pdf)
• [Preston Pham](https://github.com/prestonp) - [Leaflet Primer: Developing with Open Source Web Maps](http://open-austin.github.io/leaflet-talk/)
• [Gus Ireland](https://github.com/gusIreland

[2016-01-13 01:50] luqmaan commented on #60
I scheduled a basic blog post to be published on Jan 13, 2016 @ 12:36. Feel free to change it. https://www.open-austin.org/wp/wp-admin/post.php?post=1685&action=edit

[2016-01-13 04:35] mateoclarke commented on #60
Thanks for doing that @luqmaan! Added some images from twitter, intro slides link and a little elaboration about the topics covered.

[2016-01-13 04:35] #60 closed

[2016-01-14 19:07] amaliebarras commented on #43
[OAInfographicv2.pdf](https://github.com/open-austin/iced-coffee/files/90852/OAInfographicv2.pdf)

Cool! Here are all the edits except the github metrics.

[2016-01-16 16:29] wilsaj opened #61 "Update US City Census entries"
A lot of Austin entries in the Open Knowledge Foundation's US City Census could be updated:
http://us-city.census.okfn.org/place/austin

Notably:
- All datasets on the data portal or GIS FTP site are in the public domain, so the licensing column can be cleared up.
- Some of these datasets that were previously missing have been added to the data portal in the past year, so finding them and updating

[2016-01-16 16:44] VictoriaODell commented on #57
Posted in wordpress as a draft!
Can someone review it for me?
@mateoclarke @amaliebarras @luqmaan

[2016-01-16 16:45] VictoriaODell commented on #13
Is this done then? :dancers:

[2016-01-16 18:26] mateoclarke commented on #46
https://www.glasshousepolicy.org/
Francisco Enriquez, Co-Founder and Managing Director

[2016-01-16 18:26] VictoriaODell opened #62 "Fill out Brigade Prospective Programs/Projects/Events"
Document is here [Brigade Prospective Programs/Projects/Events](https://docs.google.com/spreadsheets/d/1icv29i4w0AcUKWs8klku5ciusWFesm2WVxaE9kFh59c/edit#gid=1193001767)

We need to get it filled out with everything we know now and then commit to updating it as needed.

[2016-01-16 18:38] VictoriaODell opened #63 "Event NanoSurvery"
We need to create a 2 question survey to pass out after each of our events to collect feedback.

Surveys should be anonymous and ask 2 questions:

1. What did you like about tonight's' meeting?
2. What didn't you like about tonights meeting?

Let's try to get these 4 or so to page so we can save some trees.

[2016-01-16 18:41] VictoriaODell opened #64 "Demographic Survery"
We need to recognize the skill sets and types of volunteers we are lacking through a demographic survey:

CFA has a good survey that we could reference: https://cfa.typeform.com/to/BEKp9Y

This will help us see how we can better market ourself to reach those people who aren't currently coming.

[2016-01-16 18:43] VictoriaODell opened #65 "Space Planning"
Start a running list of places we could go to host our events as we grow or need to accommodate larger crowds.

[2016-01-16 18:45] VictoriaODell opened #66 "Capitalize on the presidential election year 7/16"
- [ ] Get VoteATX up and running with updated County Clerk data
- [ ] Aug/Sept, requesting polling locations
- [ ] Sept/Oct, cleaning data and adding to app
- [x] Update Policy Guide & Candidate Questionnaires
- [ ] June/July/Aug
  Invite Annette Strauss Institute rep to Open Gov & Civic Tech Meetup in late summer/early fall

[2016-01-16 18:48] VictoriaODell opened #67 "Create News Contact List"
We need to ceate a list of news contacts so that we can proactively reach out them letting them know we are available to give quotes related to civic tech & city gov tech.

[2016-01-16 18:50] VictoriaODell opened #68 "Blog post for Civic Hack Saturday"
Get it in 24 hours! :dancer:

[2016-01-16 18:52] VictoriaODell opened #69 "Civic Hacking Roadmap"
Part of our goals are to communicate and clarify what our process is for moving projects through the pipeline. This will make it easier for people to navigate from idea to hack team to production.
- [x] _In Process:_ Gather resources & Insite. What would best serve others, how can it best be distilled, where can it be presented?
- [ ] Draft roadmap
- [ ] Feedback
- [ ] Implement feedback/ Draft ag

[2016-01-16 18:55] mateoclarke opened #70 "Fill out Prospective Project & Events Google Spreadsheet"
https://docs.google.com/spreadsheets/d/1icv29i4w0AcUKWs8klku5ciusWFesm2WVxaE9kFh59c/edit#gid=1193001767

[2016-01-16 18:55] VictoriaODell commented on #70
@mateoclarke I already made that an issue.

[2016-01-16 18:56] VictoriaODell commented on #70
#62

[2016-01-16 18:56] mateoclarke commented on #70
oops

[2016-01-16 18:56] #70 closed

[2016-01-16 18:57] VictoriaODell commented on #62
@mateoclarke I put the document in our Open Austin Google Drive already too.

[2016-01-16 19:38] mateoclarke commented on #40
Here is our link to our [2016 BUDGET](https://docs.google.com/spreadsheets/d/1r09ttR56hAUi_h5tZOxKQONG4D_WTcEaYHLLA2PCaMA/edit#gid=0).

Main things in here to note out of **$4,900 total**:
- Budgeting **$3,900 for Events**.
    - $2,400 for snacks and drinks at Civic Hack Night & Civic Hack Saturday
      - $100 for each event
    - $500 in case we need to rent a venue
      - This does not includ

[2016-01-16 19:38] mateoclarke commented on #40
btw, very open to changes to the Budget if i missed something above.

[2016-01-16 19:42] mateoclarke commented on #13
yeah!

[2016-01-16 19:42] #13 closed

[2016-01-16 19:46] mateoclarke commented on #65
Patti said Galvanize is a new bootcamp that is opening up a big new space on 2nd street in March:

 Also added them to the [potential sponsors list](https://docs.google.com/document/d/1pAsvnfr_6t6vkTax5NPfv6os8ZNLf_p4DzAVCT4YQrE/edit).

[2016-01-16 19:47] mapineda commented on #65
I'll reach out and contact them.

[2016-01-16 19:49] mapineda commented on #65
Open-Source co-working is another potential venue. Attended the last Refresh Austin event they had there. Decent main space and smaller break-away offices. http://www.opensourcecoworking.com/

[2016-01-16 19:50] mateoclarke commented on #43
@amaliebarras: I think this version is good to ship. We could add more fine grade github details but I think its more trouble than its worth and there is already enough content in this. And I don't want to hold you back.

What are the next steps? How do should we push this out?

[2016-01-16 19:57] VictoriaODell commented on #42
I updated the deck from the last meeting so ya'll can copy/paste for future meetup decks: https://docs.google.com/presentation/d/1QvCowZBzfkhN-rAjH4I0kYSBQZUGDTAj5ey1KiF-Ris/edit#slide=id.p

The master slides are fixed too.
To use the theme you can:
-  import it to any presentation from the [Open Austin Slide Deck](https://docs.google.com/presentation/d/1TvporjT9u0AZ_z61DSr-FdJ1gMXNXSrfa1xSebt0ZQ4

[2016-01-16 21:54] mateoclarke commented on #40
The [2016 Strategic Plan](https://docs.google.com/document/d/12EGMSZL2wGKpxwcxCFCTMoeRfx95h4eF493Bh5kdkkA/edit?usp=sharing) is all but done. We should accept suggestions but let's try to get this sent to CfA by the end of the week.

The main incomplete item is #62 that is linked from the Strategic Plan.

[2016-01-16 22:01] mateoclarke commented on #42
:+1: That looks great!

[2016-01-17 10:06] mapineda commented on #40
Is there a gCal where all planned events are listed? If so, is there access
to add events n' such?

On Sat, Jan 16, 2016 at 3:54 PM, Mateo Clarke <notifications@github.com>
wrote:

--
Marco Pineda
m | 314-401-2324

Author | "The Bitcoin Book: A Comprehensive Guide To Bitcoin"
Founder | Sanitation Project <http://www.sanitationproject.com>

Connect with me on Linkedin <http://www.linkedin/in/pineda

[2016-01-17 19:17] VictoriaODell commented on #40
@mateoclarke looks good to me.

[2016-01-17 19:18] VictoriaODell commented on #40
@mapineda there is this calendar:
http://www.open-austin.org/calendar#events

I don't know how to add stuff but @luqmaan has.

[2016-01-18 21:56] amaliebarras commented on #49
Worked on this today! I narrowed it down to a few folders... I think it makes more sense now, but we can always work on it more.

[2016-01-18 22:26] VictoriaODell commented on #49
Awesome. I tried staring at everything and became overwhelmed. X|

*Victoria O'Dell* | Visual Designer & Activist
*c:*469.951.1576  *e:*victoria.d.odell@gmail.com  *w:*victoriaodell.com

On Mon, Jan 18, 2016 at 3:56 PM, Amalie Barras <notifications@github.com>
wrote:

[2016-01-18 22:31] amaliebarras commented on #43
I can PDF it and put it in the Google Drive in the Photos & Design Files folder.

Up to y'all as far as what we use it for. There was another issue on there that linked to it I'm pretty sure. I think one of the ideas was to use it to help with sponsorship too. @VictoriaODell Did you have anything in mind for using this on social, etc?

[2016-01-18 22:44] amaliebarras commented on #43
[OAInfographicV3.pdf](https://github.com/open-austin/iced-coffee/files/95094/OAInfographicV3.pdf)

Changed it to say 2015 instead of 2016 - lol.. and moved a couple pixels. It's in the drive now

[2016-01-18 23:11] amaliebarras commented on #18
AirTables is pretty great, but in order to switch over to it we would have to switch forms (again). Not only would this be super confusing, but I played around with the forms feature, and it looks like there's no way to add a timestamp field, or multiple choice inputs. This would make all our responses open-text which would become harder to use.

A workaround would be using the same google form an

[2016-01-19 14:59] mateoclarke commented on #18
@amaliebarras: Can you add the AirTable credentials to LP? I'd like to poke around.

I thought one of the selling points with AirTables was how easily it integrates with other services.
https://airtable.com/integrations/googledrive.

On the integration and automation note, https://zapier.com/ would be a good tool to try to automate things. I'd love for us to have this: https://zapier.com/zapbook/m

[2016-01-19 16:18] amaliebarras commented on #18
I added the credentials.

I didn't know about the Google Drive integration, I must have missed that selling point. It wasn't super obvious how to connect, the way that I logged in, hope you have better luck when you poke around!

Those zapier connections look amazing! Pulling in the Meetup RSVPs would be an awesome place to start. That would make this solution make a lot more sense, if we can pull

[2016-01-19 16:37] mateoclarke commented on #18
We needed (and will continue to need) a checkin form at Civic Hack Saturday. Since people came and left at all different times, there was no set time for intros. There was no opportunity to do manual check-ins and add personal notes. Luqmaan didn't pause at any point for a standup either (That might be something to add in the future?).

I think the manually note tracking is totally worth doing whe

[2016-01-19 16:59] amaliebarras commented on #18
Okay, good points. I didn't think about the Saturday Civic Hack format being come and go as you please. I guess we should have both.

I agree that having people sign-in would make the links back to the membership database smoother, because right now I have to manually check spellings for those who've filled it out, and I just try my best on the others.

I just know that in the past when we've reli

[2016-01-20 16:26] luqmaan opened #71 "Update projects list"
We need to update the projects list that shows up at http://www.codeforamerica.org/brigade/projects?q=austin.

What projects are missing?

Some lists
- https://github.com/open-austin/ship-it-2015/blob/master/README.md
- https://gist.github.com/luqmaan/bd4df852c4c460c0c79e
- https://gist.github.com/mateoclarke/b0c4c0ce6f30f3a6aff8

[2016-01-20 16:52] mateoclarke commented on #71
And this is currently our master list and what populates the data that gets sent to CfA right?
https://github.com/open-austin/Civic_Project/tree/master/projects

Would it be easier to manually update a Google Spreadsheet? Or a csv hosted on Github? Instead of having all of these yml files updated separately and then running a rake task to create new documents? Or is this system sufficient? If so,

[2016-01-21 19:05] amaliebarras commented on #62
Business Partners:
What are our goals with these? I feel like lots of IBMers have shown interest in what we're doing, could they be a potential business partner too?

Looks gorgeous and thorough: here are some thoughts we could add.

Membership goals:
Also want to make a note on there about using the data we're already collecting around members skills / topic interests. Probably a couple more mont

[2016-01-21 23:19] luqmaan opened #72 "Test"
Testing moving to #iced-coffed-github slack channel.

[2016-01-21 23:19] #72 closed

[2016-01-23 17:27] mateoclarke opened #73 "Update/revise Open Austin Advocacy Agenda for 2016"
Chip (@chip-rosenthal) made this really nice list of Open Austin Advocacy Agenda Items back in July 2015.
https://docs.google.com/document/d/12LhAoZYSO4gRmGDrcMmQiu1PExepkXvdrZ2v3N6UdT4/edit#heading=h.8etlohtj8lub

A handful of these items have moved forward, others need new focus. Can we take some of the [Policy priorities](https://docs.google.com/document/d/1SAwpRkuTDZamxTHlxL_WJlpJ573yRu36OR8cC

[2016-01-23 17:34] mateoclarke commented on #37
I've started working on list of recommendations that includes items from our [Policy Priorities](https://docs.google.com/document/d/1SAwpRkuTDZamxTHlxL_WJlpJ573yRu36OR8cCExYxRg/edit) list and the [Advocacy Agenda from 7/2105](https://docs.google.com/document/d/12LhAoZYSO4gRmGDrcMmQiu1PExepkXvdrZ2v3N6UdT4/edit?usp=sharing).

https://docs.google.com/document/d/1ZAGcMuLitb0MRjRk8UZKNvm2flc_lGq29KDcur

[2016-01-23 17:35] mateoclarke commented on #49
This looks good to me, going to close this issue.

Reopen if there is more work to be done.

[2016-01-23 17:35] #49 closed

[2016-01-23 22:46] mateoclarke commented on #68
Who is taking the lead on this? @luqmaan or @VictoriaODell or me?

[2016-01-23 22:56] mateoclarke commented on #57
Hey @VictoriaODell, just saw this now. Great job!

I fixed the embedded slideshow. It wasn't working with that wierd Wordpress shortcode thing. Not sure how that is supposed to work so I just used the <iframe> embed option instead.

Scheduled it to publish Monday morning at 9am. Feel free to change that time.

[2016-01-23 22:56] #57 closed

[2016-01-23 23:00] mateoclarke commented on #42
I think this is complete so I'm going to close it out. We'll use the deck for the Feb library meetup!

[2016-01-23 23:00] #42 closed

[2016-01-24 00:07] mateoclarke commented on #37
The doc has been shared with the group via Slack. Looking for feedback throughout the week with a deadline of 1/28.

[2016-01-24 01:48] luqmaan commented on #68
I'll do it.

[2016-01-25 10:13] mscarey commented on #73
Here are what I see as the most actionable suggestions in the Open Data Priorities document. Any feedback on whether we should add or subtract any requests from this list?

1. Centralized ticketing systems for citizen request for information about datasets published through Socrata.
2. Survey data collected by, or on the request of the City should be “Open by Default,” meaning the data should be m

[2016-01-25 17:25] mateoclarke commented on #40
Sent to Monique at CFA.

We should not leave this document to die on the vine but refer back to it on a quarterly basis to see how our activities are aligning towards our goals.

[2016-01-25 17:25] #40 closed

[2016-01-25 17:27] mateoclarke commented on #62
Including some of Amalie's ideas in the Strategic Plan. Luqmaan filled out enough of this project document and I sent the Strategic Plan to CfA. We're good on this.

[2016-01-25 17:27] #62 closed

[2016-01-26 18:17] mateoclarke commented on #29
Lochin responded and we're discussing the best way to frame an open source project that would have limited access for end users. The UT Clinic lawyers are worried about the tool getting into the hands of bad lawyers that would charge clients a fee.

Depending how this negotiation plays out, we're aiming to have them pitch at a Hack Night.

Going to close this issue now.

[2016-01-26 18:17] #29 closed

[2016-01-26 18:19] mateoclarke commented on #31
I think this item should be rolled into the 2015 Year in Review post #52

[2016-01-26 18:19] #31 closed

[2016-01-26 18:19] mateoclarke commented on #36
I also think this should be rolled into the 2015 Year in Review post #52

[2016-01-26 18:19] #36 closed

[2016-01-26 18:20] mateoclarke commented on #36
also Open License, Terms of Usage publication by CoA should be listed as a policy win in the review.

[2016-01-29 00:52] mateoclarke commented on #37
Presented the 5 points in person to the Task Force today via 3 minutes of citizen input. Also email them to Diane Miller of [Civic Collaboration](http://civiccollaboration.com) who moderates the Task Force meetings.

[2016-01-29 00:52] mateoclarke commented on #37
[Jan-2016OpenAustinRecommendationsforTaskForceonCommunityEngagement.pdf](https://github.com/open-austin/iced-coffee/files/109093/Jan-2016OpenAustinRecommendationsforTaskForceonCommunityEngagement.pdf)

[2016-01-29 00:52] #37 closed

[2016-01-29 04:03] VictoriaODell commented on #69
[The Project Canvas](http://www.open-austin.org/wp-content/uploads/2015/03/project_canvas_v4-FINAL.pdf) is a stellar start. It ask all the appropriate questions for beginning a project and thinking about the life of it. I think we can make it in a way that breaks the parts down a little better and makes it available to fill out digitally.

[2016-01-29 04:08] mateoclarke opened #74 "2/3 Agenda Management RFP Recommendations"
We have a meeting at 9am 2/3 at City Hall with Agenda Coordinator Catie Powers for our input of RFP Requirements for agenda mgmt software.

Putting together a list of recommendations:
https://docs.google.com/document/d/1FOLuCR6kRRTLQD5dyJCuIquRkEoaGi0aqAVlBFwVuPY/edit?usp=sharing

[2016-01-29 04:11] VictoriaODell commented on #69
I signed up for a design course with friends but was unable to complete it because of the time-commitment and timing. My friends had similar issues. I did save the coures material though might be good to look through and reference.

[Human-Centered Design](https://drive.google.com/open?id=0BwKb2oghmQldcXdOVmg0a1NMWEk)

[2016-01-29 04:46] mateoclarke commented on #73
@mscarey this is a great list! :tada:  Thanks!

As a next step, let's move these items into a Google Doc (maybe in the style of this [Recommendations doc](https://docs.google.com/document/d/1ZAGcMuLitb0MRjRk8UZKNvm2flc_lGq29KDcur7Kr4I/edit?usp=sharing)).

We can add some supporting info under each Recommendation and start circulating it to City Council Members, Committees and Boards, and revising

[2016-01-29 04:48] VictoriaODell opened #75 "Tweet about Projects that need help"
Go through project idea repo and identify open issues and help-wanted to schedule tweets.

Link to issues/project main page.

[2016-01-29 04:49] mateoclarke commented on #75
:+1:

[2016-01-29 05:28] VictoriaODell commented on #69
The workshop Mateo shared is great [slides 8-15 have a good starting point on what to do to start finding problem owners](https://docs.google.com/presentation/d/1-0-6YWDLOaQhjP0-PbxNhtF1k_7ZLM95JOWzY_1Jhek/edit#slide=id.gece7a391a_0_28).

[2016-01-29 05:42] VictoriaODell commented on #69
**Onboarding new members to projects** [Video](http://forum.codeforamerica.org/t/2015-february-5-brigade-discussion-onboarding-new-members-to-projects/140) Note: for some reason the video stopped for me.

**How to welcome new coders to a civic hackathon**
[This one is my favorites so far though.](https://18f.gsa.gov/2015/04/03/how-to-welcome-new-coders-to-a-civic-hackathon/) 18F put together a nic

[2016-01-29 15:54] mateoclarke opened #76 "Agenda for 1/31 Core Team Huddle"
[Agenda on Google Docs](https://docs.google.com/document/d/1bVXYSpO5J7xV9blq-pUVIuxj568JhSHYxr9pk-lKgfA/edit?usp=sharing)

[2016-01-29 19:23] mateoclarke opened #77 "Tweet about Task Force for Community Engagement Recommendations"

[2016-01-29 19:25] mateoclarke commented on #77
Referencing #37

[2016-01-30 03:52] mateoclarke opened #78 "[Code Across] Make "Civic Hacking 101" better"
I made this presentation in like 5 minutes. Its not very good, and we ask every new person that comes to a Civic Hack Night to listen to it.

"Let's Make 'Civic Hacking 101' Great Again!"

![](http://media0.giphy.com/media/xTiTnlYp7fOmTLD0Yw/giphy.gif)

[2016-01-30 03:53] mateoclarke commented on #78
https://docs.google.com/presentation/d/1EylkNx3IjwPy3ow2NsmgxHSeG_I9cxAGbKTILoeV-Lo/edit?usp=sharing

[2016-01-30 06:10] VictoriaODell commented on #78
I'll be making edits at this link:
[Civic Hacking 101 Edits](https://docs.google.com/presentation/d/1tceKempW_8ZoxzeGcfuC1K96kBz0zaMkBxmT1pgv1bo/edit?usp=sharing)

[2016-01-30 18:57] luqmaan commented on #78
Lets talk about BASEDEF since it shows the many ways you can contribute to an open source project. http://begriffs.com/posts/2016-01-29-making-twenty-percent-time-work.html

[2016-01-30 21:26] VictoriaODell commented on #78
:+1:

[2016-01-31 00:00] mateoclarke opened #79 "Add Marco & Matt to info@open-austin.org"

[2016-01-31 04:19] mscarey commented on #73
Here's a [new Advocacy Agenda document](https://docs.google.com/document/d/1G-2yEphw1igKpaFQfSwPevWH3mMOACav9n-tDBViDro/edit?usp=sharing). Most of this material was adapted from [last year's policy priorities](https://docs.google.com/document/d/1HJBP3FHDU4mxYzSy6XRC6BwL5WcRNFW5n-4uSmJvRyo/edit?usp=sharing), from the [community engagement task force document](https://docs.google.com/document/d/1ZAG

[2016-01-31 07:04] VictoriaODell commented on #73
Beautiful~ :two_hearts:

[2016-01-31 07:10] VictoriaODell commented on #76
I added a few points~

[2016-01-31 23:41] luqmaan commented on #69
Another thing we can do is ask people who open a project idea to come do a 5-minute pitch at the civic hack nights.

[2016-02-01 00:51] luqmaan opened #80 "[Code Across] Set up meetup event"
Set up meetup event

[2016-02-01 00:51] luqmaan opened #81 "[Code Across] Set up eventbrite page"
Set up eventbrite page

[2016-02-01 00:51] luqmaan opened #82 "[Code Across] Send Email to Google Groups"
Send Email to Google Groups

[2016-02-01 00:52] luqmaan opened #83 "[Code Across] Buy more civic hack canvas posters"
Buy more civic hack canvas posters

[2016-02-01 00:56] luqmaan opened #84 "[Code Across] Write up in-depth program"
Goals

1. Reach out to non-profits, designers and people who we are interested but don’t wan’t to come  to hack nights. Involve the people that wouldn’t normally come to hack nights. People that have problems we can solve.
2. Have project ideas / problem statements for teams ready to start building things around. For example a design document for how to represent an intersection or a styleguide fo

[2016-02-01 00:57] luqmaan opened #85 "[Code Across] Food sponsor"
Find sponsors. We would like to provide lunch, snacks, post-its, etc.

Sponsorship Outreach ([contact info](https://docs.google.com/document/d/1pAsvnfr_6t6vkTax5NPfv6os8ZNLf_p4DzAVCT4YQrE/edit))
- [x] Google Fiber (providing $1,000 via donation)
- [x] Socrata
- [ ] USAA
- [ ] Atlassian
- [x] General Assembly UX
- [ ] Bloomfire
- [ ] IBM Design
- [x] Rackspace
- [ ] Booz Allen
- [x] Github via [thi

[2016-02-01 00:59] luqmaan opened #86 "[Code Across] Reach out to design/usability people"
Reach out to design/usability people and get their input on how to run the Code Across America event.

Some people:

- [x] Diana Turner?
- [x] Fresh To Design

We need to either meet with the at the Tuesday hack night or set up a meeting.

[2016-02-01 01:00] luqmaan opened #87 "[Code Across] Set up Code Across committee"
We briefly talked about this, but I'm not sure what specific steps we need to take for it.

[2016-02-01 01:01] luqmaan opened #88 "[Code Across] Location sponsor"
We need a venue! We have some outlined [here](https://docs.google.com/document/d/1bVXYSpO5J7xV9blq-pUVIuxj568JhSHYxr9pk-lKgfA/edit)

### Some options (checks indicate we've reached out):
- [x] St. Ed's Munday Library (Sarah is running point on this)
- [x] Capital Factory (Sarah has a spaced reserved as a backup plan but it will cost.)
- [x] WeWork/GA (@mapineda is having the discussion)
- [x]  Obj

[2016-02-01 04:52] mateoclarke commented on #87
We decided this would start with a huddle at the Hack Night on Tuesday. @VictoriaODell is going to invite some UX folks from the Design meetup. If enough people are interested in doing a break out on this, we'll form the committee then, or schedule another time to discuss the event planning.

[2016-02-01 04:58] mateoclarke opened #89 "Schedule Speaker for March Library Meetup"
reference #46 to speaker ideas

[2016-02-01 04:59] #76 closed

[2016-02-01 05:00] mateoclarke commented on #85
[Potential 2016 Sponsors](https://docs.google.com/document/d/1pAsvnfr_6t6vkTax5NPfv6os8ZNLf_p4DzAVCT4YQrE/edit)

[2016-02-01 05:03] mateoclarke commented on #45
Going to close out this issues since we are breaking Code Across todo into smaller issues with the Code Across America Milestone

[2016-02-01 05:03] #45 closed

[2016-02-01 05:05] mateoclarke commented on #52
Think this should be the first blog post once the site is live. Would make sense to make use of the Infographic in this post. #43

[2016-02-01 05:05] mateoclarke commented on #43
Let's plan to include this in the first blog post once the new site is live. #52
We should tweet it out then too.

[2016-02-01 05:05] #43 closed

[2016-02-01 05:13] mateoclarke commented on #88
I've emailed Dave Waldron & Sarah Sarif at St Ed's. cc/ed Marco too.

[2016-02-01 05:28] mateoclarke commented on #74
I've sent an email to Shellee O'Brien looping her in on the recommendations doc and the 2/3 meeting.

[2016-02-01 15:33] mateoclarke opened #90 "[Code Across] Review, update, and Print Civic Tech Hack Canvas"
This is something we can discuss with the committee.

http://www.open-austin.org/wp-content/uploads/2015/03/project_canvas_v4-FINAL.pdf

AI: http://cityofaustin.github.io/civic-tech-canvas/

[2016-02-01 15:37] mateoclarke opened #91 "[Code Across] Speakers"
Decide if we want a keynote presentation, any presentations in the morning, or anything to close.

If so, reach out to speakers of interest

[2016-02-01 15:43] mateoclarke commented on #81
Sarah Sharif from St. Ed's wanted to be looped in on this. We talking about how to make the registration process between Code Across and ATX Hack for Change as seamless as possible.

[2016-02-01 15:45] mateoclarke commented on #81
invited her to the 2/2 Civic Hack Night.

[2016-02-01 15:46] mateoclarke commented on #88
Dave Waldron responded back. He's agree St Ed's would be a good host. He's checking availability.

[2016-02-01 17:47] mateoclarke opened #92 "Invite ppl to 18F Happy Hour meet and greet on Thurs 2/18"
Should make sure core team knows about it. Maybe a few other folks that have expressed interest in 18Fs work (like Hailey).

[2016-02-01 17:48] mateoclarke opened #93 "Give Robert S ideas for locations for 2/18 18F meet and greet"

[2016-02-01 17:49] mateoclarke opened #94 "Follow up with Maptime about March/May meetups"

[2016-02-02 01:41] VictoriaODell commented on #86
I emailed my F2D friends and Mateo reached out Diana.
Hope to hear back.

[2016-02-03 00:44] #93 closed

[2016-02-03 00:44] #92 closed

[2016-02-03 01:01] mateoclarke opened #95 "Tweet out for sponsors for recycle atx"

[2016-02-03 01:42] amaliebarras commented on #63
Would it be alright if we changed question two to "what would you do differently?" that way we can involve the community in solutioning?

[2016-02-03 01:49] VictoriaODell commented on #63
:+1:

[2016-02-03 02:04] amaliebarras commented on #63
[NanoSurvey.pdf](https://github.com/open-austin/iced-coffee/files/114977/NanoSurvey.pdf)

Assigning to Vickie to proof and/or print!

[2016-02-03 02:18] VictoriaODell commented on #63
Solid!
I'll work to get these printed.

[2016-02-03 02:34] amaliebarras commented on #64
So our current survey does actually ask about skill sets and interests. Was there something else within those categories that these questions don't cover?

Totally get that demographics is a super important dimension to look at for diversity and inclusion reasons. Do y'all think we should have a separate survey for this? Or add it to current survey? I'm worried that too many questions would be a d

[2016-02-03 03:10] amaliebarras opened #96 "Open Austin connect cards"
We need to print cards for when we go to things like CityUp and other meetups, so that we can look legit when we approach potential new members and sponsors

[2016-02-03 03:11] amaliebarras commented on #96
[OA Cards.pdf](https://github.com/open-austin/iced-coffee/files/115051/OA.Cards.pdf)

First pass - basically just copied the banner. Would y'all include anything else? @VictoriaODell for proof & feedback then I'll order 'em.

[2016-02-03 03:18] mateoclarke opened #97 "talk to sarah about atxhackforchange site update"
get Pati Silva on Asana if possible.

[2016-02-03 03:50] mateoclarke opened #98 "Ask Austin CityUp for a letter of support for Global City Team Challenge"
https://www.us-ignite.org/globalcityteams/

specific ask cc/ Marco

[2016-02-03 04:21] VictoriaODell commented on #85
Here is the [Sponsor Prosepctus for 2015](https://docs.google.com/document/d/1-XSgvvxjTKrAida_T_OfNNsRi-onkNyhyOkqdroZMcI/edit) I copied over into the 2016 folder. We need to update it.

[2016-02-03 04:31] mateoclarke commented on #85
haha, we're duplicating work. I already started a similar one-pager/prospectus.
https://docs.google.com/document/d/1Uuepsj7Ssx4Wo2fQ_IbZ3u1q0d77vIQJk1sKS_Nr7UA/edit?usp=sharing

[2016-02-03 04:32] VictoriaODell commented on #84
[Took this document](https://docs.google.com/document/d/1b1ng9rSpwC1NauI4-mpGEbi1sKDh1Cvc8sghOB3c5Gk/edit#) from last year and am writing comments/working on updates to language and process.

[2016-02-03 04:38] VictoriaODell commented on #85
@mateoclarke where was the link at though?!!

[2016-02-03 04:46] mateoclarke commented on #85
¯\_(ツ)_/¯

[2016-02-03 04:46] mateoclarke commented on #85
I did my first pass. Rip it up!

[2016-02-03 07:28] mateoclarke commented on #74
Yay! Got some great feedback from Shelle @stepwinder!

Here is what we are taking into our meeting with the City Clerk's office:
https://docs.google.com/document/d/1FOLuCR6kRRTLQD5dyJCuIquRkEoaGi0aqAVlBFwVuPY/edit?usp=sharing

[2016-02-03 07:28] #74 closed

[2016-02-03 23:10] mateoclarke commented on #96
I think that looks good. Don't think they really need to be two sided. Might be good to leave the back blank so you can scribble your info for people since the print won't be personalized.

But it looks fancy either way. If there is a cost difference, i'd just go with one-sided.

[2016-02-03 23:17] luqmaan commented on #96
Even if cost wasn't an issue, the back should be blank so you can write extra stuff there.

[2016-02-04 02:04] amaliebarras commented on #96
Good points y'all. I'll just do the one side

Sent from my iPhone

[2016-02-04 05:52] mateoclarke opened #99 "CfA Financial Support Form"
https://cfa.typeform.com/to/nKr72O

[2016-02-04 05:54] mateoclarke commented on #99
that was easy, form submitted. Just had to link to our Strategic Plan and ask for the max amount, $500

[2016-02-04 05:54] #99 closed

[2016-02-04 05:57] mateoclarke commented on #85
Going to start sending out emails tomorrow and Friday. Have a look and make suggestions if you haven't already.

[2016-02-04 06:19] mateoclarke commented on #63
i like

[2016-02-04 06:54] mateoclarke commented on #85
Note to self: To #38 as a part of this

[2016-02-04 07:03] #77 closed

[2016-02-04 07:04] #97 closed

[2016-02-04 07:06] mateoclarke opened #100 "Blog post on recent Policy work"
- Recommendations for the Task Force on Community Engagement
- Recommendations for the City Clerk on Agenda Management RFP
- Overall updates to Policy Priorities
- outline of what's next, council questionaries' etc

[2016-02-04 07:20] #94 closed

[2016-02-04 07:22] mateoclarke commented on #77
scheduled a tweet, we can blog about it in more detail with #100

[2016-02-04 07:24] mateoclarke opened #101 "2/13 Schedule tweets for the lead into Civic Hack Saturday"
...making sure to @UrbanCoLabATX.

[2016-02-04 07:48] mateoclarke commented on #81
Added the event to the OA Google calendar.

[2016-02-04 07:50] mateoclarke commented on #81
Could we just use Meetup for registration? I guess one negative is they don't have as good export features for email and participant info as Eventbrite. In the past, we've made a Meetup page which is mainly to notify ppl, and then we ask them to go somewhere else (like Eventbrite) to register. That feels clumsy. But maybe its best.

[2016-02-05 06:45] mateoclarke commented on #84
A format for interactive brainstorming to consider incorporating:

CityCamp:
http://citycamp.com/oakland/
https://docs.google.com/document/d/1AWfTSB1MMbWCdgzuESQF4izY8vKBxRAC_Afch-8uRCQ/edit#
http://www.citycamp.govfresh.com/start-a-camp/

[2016-02-06 17:16] luqmaan commented on #68
Too late.

[2016-02-06 17:16] #68 closed

[2016-02-06 21:12] mapineda commented on #89
I have a possible speaker.  He does cool things with python, libs and data.  He'll be attending the February Library Meetup to get a feel for how his talk should go.

[2016-02-08 02:33] VictoriaODell opened #102 "Update github bio link"

[2016-02-08 02:36] VictoriaODell commented on #102
Can we update our Github bio to go to the[ project ideas](https://github.com/open-austin/project-ideas) page instead? It currently goes to the issues for the project-ideas page and the project-ideas page will help orient people a little better. Especially those new to github and the organization.

[2016-02-08 03:04] luqmaan commented on #102
Done.

[2016-02-08 03:04] #102 closed

[2016-02-08 06:51] mateoclarke commented on #88
Some options:
- [ ] [Livestrong](http://www.livestrong.org/who-we-are/our-history/our-home/tours-community-space/)
- [ ] WeWork/GA
- [ ] Galvanize
- [ ] Iron Yard (may have to do table/chair rentals)
- [ ] City facility like Jones Building Room 400A or Boards and Commission Room?
- [ ] Vuka

[2016-02-08 06:55] mapineda commented on #88
I'll start following up with those venues this week. Do we have a contact
at Livestrong?

On Mon, Feb 8, 2016 at 12:52 AM Mateo Clarke <notifications@github.com>
wrote:

[2016-02-08 07:03] mateoclarke commented on #88
[This page](http://www.livestrong.org/who-we-are/our-history/our-home/tours-community-space/) has some info about Livestrong's space. It leads to this [broken form](https://secure.livestrong.org/site/SSurvey?ACTION_REQUIRED=URI_ACTION_USER_REQUESTS&SURVEY_ID=2343), but I'm worried that the space there won't be large enough (says it only holds 40, we need more like 60). Worth sending in the form an

[2016-02-08 07:07] mateoclarke commented on #88
Thanks for helping to reach out @mapineda. Here's some language you can use when you reach out: https://docs.google.com/document/d/1Uuepsj7Ssx4Wo2fQ_IbZ3u1q0d77vIQJk1sKS_Nr7UA/edit?usp=sharing

I'll reach out to City facilities and Vuka. Can you try some of the others? And throw any others you think of on the list?

[2016-02-08 15:47] mateoclarke commented on #88
reached out to innovation office folks about City Facilities, waiting to hear back now.

[2016-02-08 18:22] mateoclarke commented on #88
Best option from the City so far would be Asian American Resource Center. Very new facility but pretty far north. East of I-35, on Cameron, North of 183.
https://austintexas.gov/page/asian-american-resource-center-rentals

They are booked on 3/5 but available on 3/6

[2016-02-08 18:31] mapineda commented on #88
Reached out to Livestrong. Iron Yard looks like it could fit 60 people. Are
they willing to work with us again?

On Mon, Feb 8, 2016 at 11:30 AM Mateo Clarke <notifications@github.com>
wrote:

[2016-02-08 18:36] mateoclarke commented on #88
Yeah, Iron Yard would work. But the space was kinda noisy because of all the concrete and glass and we had to rent tables and chairs. Let's hold off on reaching out to them just yet.

[2016-02-08 18:37] mateoclarke commented on #88
I reached out to Chelsea from Impact Hub Austin/Vuka.

[2016-02-08 21:24] amaliebarras commented on #88
Remember, Iron Yard did just push back a bunch of cohorts because of unforeseen construction. They're supposed to be back up and running Feb 29 but it may be cutting it close

Sent from my iPhone

[2016-02-09 07:18] mateoclarke commented on #89
Kathy Mitchell of Texas Electronic Privacy Coalition, the presenter from EFF Austin tonight would be a great for Open Austin. http://www.meetup.com/EFF-Austin/events/228376517/

Especially because she is proposing some policy action around Body Cameras and Police Open Data policy that is right in line with our positions around procurement, transparency and data publication. There is also a short t

[2016-02-09 07:26] mateoclarke commented on #89
@mapineda: if you're potential speaker is interested after attending, throw his name into #46.

Keep in mind we want the library meetup talks to be beginner friendly so a deep dive on python might be a better presentation for a Lightning Talk or a potential skillshare event. We were able to mix in a couple technical talks into the Lightning Talk format at that seemed to go pretty well for folks. I

[2016-02-09 07:26] #89 closed

[2016-02-09 07:27] mateoclarke commented on #79
Chip is helping with this.

[2016-02-09 07:29] mateoclarke commented on #98
emailed team@austincityup.org asking for a letter of support. cced Marco and Derek

[2016-02-09 07:30] mateoclarke commented on #96
@amaliebarras: Sounds like we ordered 1,000 at $30. Going to close this out but don't forget to send me the recipient and I'll reimburse once we have money in our CfA account

[2016-02-09 07:31] #96 closed

[2016-02-09 08:35] mateoclarke commented on #85
Sent emails to folks at Socrata and Google Fiber and cc/ed Marco. Added a checklist to the issues description [:arrow_up: at the top] of other good targets. Think we wait to target more technical product companies and bootcamps for events more aimed at coder audiences (like civic hack nights)

Going to let you take it from here @mapineda

[2016-02-09 16:24] mateoclarke commented on #88
gotcha, so Iron Yard is probably a no go.

Also got an update from Sarah at St Ed's yesterday. Sounds like the Munday Library isn't totally out of play. It's just taking some time to figure out because of internal politics and she didn't want to hold us back from securing a spot. I have a walk through scheduled over there on Friday at 8:30 (anyone is welcome to join). We should have resolution abo

[2016-02-10 05:49] #79 closed

[2016-02-10 22:57] mateoclarke commented on #88
- got No's back from City Hall & Zilker Botanical.
- Daniel recommend Carver library branch but they are booked.
- I submitted a form to request For the City Center on the east side.
- Vuka is booked on 3/5. We could try them on 3/6?

Here's a good list of some more options:
https://library.austintexas.gov/sites/default/files/u20/meeting_spaces_2015.pdf

Any update on your end @mapineda?

[2016-02-11 00:22] mapineda commented on #88
No update from Livestrong (venue too small anyways) or GA/WeWork

On Wed, Feb 10, 2016 at 4:57 PM Mateo Clarke <notifications@github.com>
wrote:

[2016-02-11 00:24] mapineda commented on #88
I'm at the OpenStreetMap event at Object Rocket/Rackspace. Place seems
pretty big, plenty of tables. I'll ask if they would be willing to help.

On Wed, Feb 10, 2016 at 6:22 PM Marco Pineda <mapineda1222@gmail.com> wrote:

[2016-02-11 01:24] mapineda commented on #85
Thanks @mateoclarke reached out to Rackspace today, waiting for a response.

[2016-02-11 01:51] VictoriaODell opened #103 "Gov Team & things"
I'm updating our new web pages and under "[Advocacy](http://0.0.0.0:4000/open-austin-org/advocacy/)" we are putting the [current websites Policy section](https://www.open-austin.org/policy).

I noticed this section says open austin "gov team". Is that a title we still want to use going forward or are there suggestions for anything else?
<img width="666" alt="screen shot 2016-02-10 at 7 45 33 pm" s

[2016-02-11 06:22] mateoclarke commented on #88
cool, thanks for reaching out to Object Rocket! I've updated the list up above :arrow_up:. Let's add venues and their responses at the top of this issue.

[2016-02-11 06:53] mateoclarke commented on #101
@VictoriaODell: Want to make sure this in on your radar. Can you make sure to schedule some tweet in the lead up to Saturday?

[2016-02-11 14:03] VictoriaODell commented on #101
Will do. :dizzy:

[2016-02-12 04:26] mateoclarke opened #104 "2/22 Meetup Slides"

[2016-02-12 04:27] mateoclarke opened #105 "2/22 Meetup Announcement via Google Group"
Aim to do this on 2/18

[2016-02-13 18:21] luqmaan opened #106 "ACC Highland Campus for hack nights"
Brian McCullough suggested ACC's extended Highland Campus as a location for future hack nights. We should get in touch with them.

http://www.austincc.edu/board-of-trustees

http://www.austincc.edu/highland-campus/accelerator/staff

[2016-02-14 16:39] mateoclarke commented on #106
Ellen Lazaretti made an introduction for us with 2 professors in the UX program. Apparently they are planning a student hackathon for this spring. Waiting on their response.

David Correa <dcorrea@austincc.edu>
Marc Bonasso <marc.bonasso@austincc.edu>

[2016-02-14 17:00] #101 closed

[2016-02-14 17:07] mateoclarke commented on #88
We should have final word from St Ed's Monday or Tuesday. If that doesn't work out and we don't hear back from any of the other potential hosts, I guess we fall back on Capital Factory and just shorten the length of the event.

Instead of a 10am-4pm, we could do 12:30pm-4:30pm. Not offer a full meal and instead afternoon snacks. That way we'd spend less on food and around $250 for Cap Fac.

[2016-02-14 17:08] mateoclarke commented on #85
@mapineda, heard back from Ben Balter form Github. You mind filling out this form?
https://community.github.com/r/benbalter

[2016-02-14 17:21] mateoclarke commented on #80
http://www.meetup.com/Open-Austin/events/228847668/

[2016-02-14 17:21] #80 closed

[2016-02-14 17:22] mateoclarke commented on #81
waiting on St Eds to confirm venue before setting this up. But we need to do this ASAP.

[2016-02-14 17:31] mateoclarke commented on #87
this didnt really get off the ground. closing

[2016-02-14 17:31] #87 closed

[2016-02-14 18:14] mateoclarke opened #107 "AC4D Partnered Event"
We've talked about a co-hosted event with AC4D, "Designing for Social Impact Workshop"
https://open-austin.slack.com/archives/eventplanning/p1455379930000061

Here are some todos:
- [x] Figure out a rough date.
   - End of April so not to conflict with other pre-ATXH4C workshops?
- [x] Decide what problem statement we want to focus in on?
  - [Safety & Justice](http://www.codeforamerica.org/focus/

[2016-02-14 19:48] mapineda commented on #85
Traditional sponsorship request seeking money?

On Sun, Feb 14, 2016 at 11:08 AM Mateo Clarke <notifications@github.com>
wrote:

[2016-02-14 19:51] mapineda commented on #85
Filled out the form and submitted.

[2016-02-14 23:10] mateoclarke commented on #85
nice, thanks man!

[2016-02-16 01:52] VictoriaODell commented on #107
Hey @mateoclarke, is that the best list of Venues we have? If so, I'd like to create a spreadsheet of that. If not, can you point me to another list?

[2016-02-16 02:06] mateoclarke commented on #107
Yes, its the best we've got but I'm sure there are some missing.

[2016-02-16 02:07] mateoclarke commented on #107
Here's a few more: https://library.austintexas.gov/sites/default/files/u20/meeting_spaces_2015.pdf

[2016-02-16 02:37] VictoriaODell commented on #78
Making progress on this:https://docs.google.com/presentation/d/1tceKempW_8ZoxzeGcfuC1K96kBz0zaMkBxmT1pgv1bo/edit#slide=id.gd22b63b33_0_12

Still need to input BASEDEF but I'm combing through now with some edits. If ya'll have any suggestions write comments.

[2016-02-16 03:30] VictoriaODell commented on #78
At a stopping point on this for tonight: https://docs.google.com/presentation/d/1tceKempW_8ZoxzeGcfuC1K96kBz0zaMkBxmT1pgv1bo/edit#slide=id.p

@luqmaan BASEDEF is an awesome add. :+1:
@mateoclarke you've been giving these presentations. Can you review?

[2016-02-16 05:54] mateoclarke opened #108 "Civic Hack Night Partners/Donors"
We've started outreach to sponsors for CodeAcross, but we also need to look forward and try to secure partners for Civic Hack Nights so I don't have to pay for Chipotle every month.

I started this donor prospectus doc that we can push this out more broadly:
https://docs.google.com/document/d/1jB7Z4Bh0JBRjv8i-G5ACvrSt9f0sGqXe5C8_DofYsTc/edit

**Important Note** I'm using the term Donor/Partner ins

[2016-02-16 23:14] mateoclarke commented on #69
Here is how OpenOakland describes their process: [PDF](http://www.openoakland.org/wp-content/uploads/2015/11/OpenOakland-Projects-04.pdf)

[2016-02-16 23:24] luqmaan commented on #69
That PDF is a great starting point. Can we copypasta that text onto our site?

[2016-02-17 00:02] mateoclarke commented on #69
Two options I see:

1) I could see some of this onboarding info going into a new section on the `/projects` page:
http://open-austin.github.io/open-austin-org/projects/

Regardless, I think we should move the "Project Status" section below the Project Gallery but add a table of contents/anchor tag links to "Project Status" and "X Steps to Leading a Project".

2) Alternatively, we could create a pa

[2016-02-17 02:34] VictoriaODell commented on #69
1)Yeah, I could see some of this on the /projects page or maybe living in a blog post. I think we could benefit a lot from looking at this and making one unique for Open Austin. Also, this is specifically about leading a project and I'd like to see a partner to it about how to contribute. I think that is where [BASEDEF](http://begriffs.com/posts/2016-01-29-making-twenty-percent-time-work.html) fit

[2016-02-17 23:15] mateoclarke commented on #107
Got an email response from For the City Center (we had reached out to them regarding CodeAcross). Their venue rental fees for non profits are reasonable.

[2015 FTCC Rental Information - NonProfit & General Use.pdf](https://github.com/open-austin/iced-coffee/files/135333/2015.FTCC.Rental.Information.-.NonProfit.General.Use.pdf)

[2016-02-17 23:17] mateoclarke commented on #78
Yeah these improvements are great. Let's plan to use this moving forward. I'd also like to eventually do a narrated screen capture of this slide deck to post as a video to the website.

[2016-02-17 23:19] mateoclarke commented on #78
Oh, not sure how this fits into use for a CodeAcross workshop because that is on Sarah S and Keith C to decide. But I'll share this link with them and tell them we can help.

[2016-02-18 02:22] mateoclarke commented on #78
Going to close this out for now. We may need to repurpose this a bit if ATXH4C wants to use this for a pre-hackathon workshop but this is already a big improvement.

[2016-02-18 02:22] #78 closed

[2016-02-18 03:29] mateoclarke commented on #88
closing this out as St. Ed's gave us the green light

[2016-02-18 03:37] VictoriaODell commented on #78
Sweet.
I'd like to do an iteration of this specifically geared towards designers. I'm sure other groups could benefit towards tailored presentations but that's a further out thought.

[2016-02-18 04:21] VictoriaODell commented on #107
That does seem reasonable.

If you find/have any more venue docs can you put them in here:
[https://drive.google.com/drive/u/1/folders/0BwKb2oghmQldMDlLVnNIQk9tTEU](https://drive.google.com/drive/u/1/folders/0BwKb2oghmQldMDlLVnNIQk9tTEU)

[2016-02-18 04:58] VictoriaODell commented on #59
Did you regsiter us @mateoclarke

[2016-02-18 05:28] mateoclarke commented on #81
http://codeacrossaustin2016.eventbrite.com

[2016-02-18 05:29] #81 closed

[2016-02-18 05:30] mateoclarke commented on #59
REGISTERED!
![screen shot 2016-02-17 at 11 29 56 pm](https://cloud.githubusercontent.com/assets/5697474/13134649/6c439700-d5ce-11e5-8630-5c4148c8c1a1.png)

[2016-02-18 05:30] #59 closed

[2016-02-18 05:57] mateoclarke opened #109 "[Code Across] Invite non profit and city ppl to event"
Here's a list of folks we should reach out to. _Please add any others_

- [x] Capital of Texas Food Bank - Jackie Gallo
- [x] AURA
- [x] Austin Free Net
- [ ] GTOPS grant recipients, contact John Spiers Digital Inclusion
- [x] Austin Justice Coalition
- [x] UT Hack the System
- [x] Bike Austin
- [x] Austin Monitor
- [ ] Neighborhood Groups
- [x] Austin EcoNetwork
- [x] ATX Safer Streets
- [x] Visi

[2016-02-19 05:08] mscarey commented on #103
I do feel better about "Policy Team" instead of "Gov Team." I almost want to avoid calling it a "team" because policy work is a function for everyone to help with when they want. But, there are situations where people might want to refer to themselves as policy team members in correspondence, so "Policy Team" is good.

[2016-02-20 02:42] mateoclarke commented on #91
CTM,
Monique CFA
InnoOffice

[2016-02-20 02:43] mateoclarke opened #110 "[Code Across] Market Event through Social"

[2016-02-20 02:44] mateoclarke opened #111 "[Code Across] Draft a Outreach email template"

[2016-02-20 02:45] mateoclarke opened #112 "[CodeAcross] Update Eventbrite with Parking Info"

[2016-02-20 02:47] mateoclarke opened #113 "[Code Across] Designate Photographer and/or Videographer"
maybe we need to devote budget to this?

[2016-02-20 02:48] mateoclarke commented on #84
Vickie & I got a draft agenda started today:
https://docs.google.com/document/d/18WwQ0ttA_M73nk16jkCcU7afIGPZjkkXOBNxOPmFPB8/edit?usp=sharing

[2016-02-20 02:48] mateoclarke opened #114 "[Code Across] Order Food"
For Breakfast:
- [x] 12 Large Muffins (to be cut in half)
- [x] 8 Apple Danishes (to be cut in half)
- [x] Coffee (4 96oz boxes from Starbucks)
- [x] OJ (2 64oz bottles)
- [x] Ice

For Lunch:
- [x]  [Emoji Classic](http://emojisclassic.com/)
- [x] Vitamin Water (for 24)

[2016-02-20 02:49] mateoclarke opened #115 "[Code Across] Check Supplies, Order more if necessary"
Last years supply list
https://docs.google.com/document/d/1USZ_FsWZ0eP4jNzvYa-gBYAMCrdQFJGERToY1vUL7Ys/edit

Leftover from last CodeAcross
- [x] Post Its
- [x] Pens and Sharpies

Office Max
- [x] Trash Bags
- [x] Masking Tape
- [x] Name Bagdes
- [x] 2 Post It Wall Pads
- [x] 2 Big 11x11 Post It Pads

[2016-02-20 02:53] mateoclarke opened #116 "[Code Across] Tasks & Task Runner Assignements"
- Setup
- Timekeeper
- Registration & Checkin
- Lunch
    - delivery
    - setup
- Cleanup: recycling & trash

[2016-02-20 16:46] mateoclarke commented on #111
@VictoriaODell, Here's the sample message from last year:

[code]

[2016-02-20 16:47] mateoclarke commented on #109
Orgs we reached out to last year:

Organization
Contact
Austin Open Source GIS
Sara Safavi <sara@sarasafavi.com>
PyLadies ATX
Sara Safavi <sara@sarasafavi.com>
Girl Develop It
Cecy Correa <cecycorrea@gmail.com>
Austin API Meetup
D Keith Casey Jr <keith@caseysoftware.com>
Austin on Rails
Damon Clinkscales <scales@pobox.com>
Open Hack Meetup
J. Austin Hughey <jaustinhughey@gmail.com>
Austin Technolo

[2016-02-21 15:28] mateoclarke commented on #108
List of Potential Sponsors: https://docs.google.com/document/d/1pAsvnfr_6t6vkTax5NPfv6os8ZNLf_p4DzAVCT4YQrE/edit

[2016-02-21 15:29] mateoclarke commented on #112
https://drive.google.com/file/d/0B1cMlEZm_nJ0WjgySHlGOExkdGtYZ3F5R0ZFUlBPdGlodFIw/view?usp=sharing

[2016-02-21 15:29] #112 closed

[2016-02-21 15:33] mateoclarke commented on #104
https://docs.google.com/presentation/d/1zOtGE83a31dSP-oFEMveF4qRJnfR0C1yyYAz2hOE_zw/edit?usp=sharing

[2016-02-21 15:34] mateoclarke opened #117 "[Code Across] Blog Post"
per John Clary's recommendation. Basically the same info as the Eventbrite but with some more details.

EX: https://www.open-austin.org/article/1390

[2016-02-21 19:05] VictoriaODell commented on #117
@mateoclarke do we have the address of the library?

[2016-02-21 19:07] VictoriaODell commented on #117
@mateoclarke womp. JK I found it..... :see_no_evil:

[2016-02-21 19:50] VictoriaODell commented on #117
Published.

[2016-02-21 19:50] #117 closed

[2016-02-22 03:07] #105 closed

[2016-02-22 03:36] #104 closed

[2016-02-23 00:43] VictoriaODell opened #118 "Code Across Feedback Form"
Fill out this form for CFA once the event is done.

https://docs.google.com/a/continuum.io/forms/d/1i-EM6kK-l-0G1I-bZ4tLAPXg1N838De4MV8CUWl7Ajc/viewform

[2016-02-24 07:44] mateoclarke commented on #111
We need to move forward this email outreach template so we can start spammin' it up and inviting people. @VictoriaODell can you give suggestions to the template below?

[2016-02-24 08:13] mateoclarke commented on #109
sent out a bunch of invites to meetups using #111

[2016-02-24 14:06] VictoriaODell commented on #111
Yes I have edits but won't be able to do anything until 7:30pm tonight.

Can we schedule some emails to go out in the am?

[2016-02-24 15:26] mateoclarke commented on #111
I don't have email scheduling software. Do you use something?

[2016-02-24 16:05] VictoriaODell commented on #111
I've used this before:

https://www.streak.com/email-tracking-in-gmail

It does other stuff too

[2016-02-25 03:31] VictoriaODell commented on #111
Who are we sending this to.
:eyes:

[2016-02-25 03:33] mateoclarke commented on #111
these groups: https://github.com/open-austin/iced-coffee/issues/109#issue-134489168

[2016-02-25 04:35] VictoriaODell commented on #111
Suggestion-sh? I think it's kind of the same but different. Lol I added an intro part. I hate emailing :skull:

[2016-02-25 04:40] mateoclarke commented on #111
works for me

[2016-02-25 07:10] mateoclarke commented on #109
Scheduled emails to go out via Eventbrite to the 106 registrants from last year.
<img width="795" alt="screen shot 2016-02-25 at 1 09 04 am" src="https://cloud.githubusercontent.com/assets/5697474/13312478/8a9f6bfa-db5c-11e5-9bb9-0fdb8a1970e0.png">

[2016-02-26 17:11] mateoclarke commented on #88
Here is another venue available to rent at $25/hr: http://sustainablefoodcenter.org/about/rental-space

[2016-02-26 17:12] mateoclarke commented on #65
This issue had a long list of options. We should turn these options into a Spreadsheet.
https://github.com/open-austin/iced-coffee/issues/88

[2016-02-28 19:50] mateoclarke opened #119 "Confirm with St Ed's we can start setup at 9am"

[2016-02-28 19:56] mateoclarke opened #120 "[Code Across] Stuff to bring"
@mateoclarke
- [x] box of extension cords & outlets
- [x] ice chests
- [x] cups
- [x] ask Jesse about:
    - extra tables for lunch
    - check in location
    - setup at 9:30am
- [x] ask Google about swag
- [x] post it notes
- [x] canvas paper
- [x] tape
- [x] name tags
- [x] trash bags

@VictoriaODell
- orange water cooler

Charles Purma:
- 20 Civic Tech Planning Canvas

[2016-02-28 20:20] mateoclarke opened #121 "[Code Across] Make slides for convocation intro"
[Link to planning document
](https://docs.google.com/document/d/18WwQ0ttA_M73nk16jkCcU7afIGPZjkkXOBNxOPmFPB8/edit#)

## Intro
"Explaining what success looks like for people new to the civic hack conversation.
Examples of last years projects and models of the success that begins today.
Short overview of what to expect through the breakout sessions & down selection process."

## Policy Theme example

[2016-02-28 20:31] mateoclarke opened #122 "[Code Across] Reach out to Kerry, Angela and Hailey for a volunteer presentation from CoA"
- What does an ideal collaboration between citizens and the city look like via civic tech, design, and open data?
- How does this fit into ATX Hack for Change?
- What inspired you at CfA Summit Oakland that you wish we could kick of in Austin?

~10min

[2016-02-28 22:45] #119 closed

[2016-02-28 22:51] VictoriaODell commented on #85
@mapineda any updates? Should we close this or reach out to more sponsors?
We will probably have enough budget but may be cutting it close. A couple $100 sponsors would be awesome.

[2016-02-28 22:58] VictoriaODell commented on #84
Updated these today

[Playbook](https://docs.google.com/document/d/18WwQ0ttA_M73nk16jkCcU7afIGPZjkkXOBNxOPmFPB8/edit#heading=h.k7gl8vcc11u5)
[Program](https://docs.google.com/document/d/1zg3RE5ue203FxL01eSn3m3Nx81IdZs0TUz6YPnfymA4/edit#)

[2016-02-29 04:46] mateoclarke commented on #120
- emailed St Ed's team, waiting on response.
- emailed Parisa about swag

[2016-02-29 04:49] mateoclarke opened #123 "[Code Across] After event, migrate todo's and discussion to Google Doc for next year's reference"
https://docs.google.com/document/d/1b1ng9rSpwC1NauI4-mpGEbi1sKDh1Cvc8sghOB3c5Gk/edit

[2016-02-29 04:52] mateoclarke commented on #114
- emailed Emoji Classic Grilled Cheese, but they might not have any dairy free, dairy free + veg or gluten free options.

Here are some backup ideas:
  - [Schlotzskys](https://ordering.schlotzskys.com/index.cfm?fuseaction=order&product_group_id=11&gclid=Cj0KEQiA0sq2BRDRt6Scrqj71vQBEiQAg5bj0xQDznU6OVIPbaFgt2ueQRUA5dh_r2e4u83EeYhA0FgaAqJ78P8HAQ)
  - [Central Market](http://www.centralmarket.com/Stor

[2016-02-29 05:17] mateoclarke commented on #122
- email sent

[2016-02-29 06:12] mateoclarke opened #124 "[Code Across] Send Email with FAQs, Program, and Parking Map to Attendees"
## FAQs
Do you have to enter with a team?
- No we will not pre-selected teams. Activities will start in larger groups and converge into smaller groups throughout the day, but you should not expect to work with the same team throughout the event.

Can you go solo and be placed on a team?
- Groups will form organically around issues or problem statements that folks want to work on.

What is the expe

[2016-02-29 06:17] VictoriaODell commented on #121
Lol nothing really here yet.
[Slide Deck](https://docs.google.com/presentation/d/1aWNB5wWr9ZIjwvMNEZR2uoGJcK9zDKuFw0_B1JIhFBk/edit#slide=id.p)

I'll probably be working on this more during Hack Night.

[2016-02-29 14:49] luqmaan commented on #124
Is this a hackathon?

- No, Code Across Austin is not a hackathon in the sense of shipping code. CodeAcross is about bringing in dev, designers, etc that would normally come out to our events ​*plus*​ non-profits, city staff, community organizers etc that normally would not come to our hack events. Our bimonthly hack nights are more focused on shipping code. Find the next Open Austin hack night at

[2016-03-01 05:36] mateoclarke commented on #124
- sent FAQ email.
- scheduled parking and bus info email for 1 day 6 hours before event.

[2016-03-01 05:37] #124 closed

[2016-03-02 02:20] VictoriaODell commented on #113
Javier will be off and said he can take photos

[2016-03-03 17:16] luqmaan opened #125 "What should we do with the existing Open Austin webapps?"
These webapps are running on the Open Austin server.

- austin-recycles.open-austin.org
- bike-buddy.open-austin.org
- data.open-austin.org
- tec-filer.open-austin.org
- cute pets atx

We need to decide what to do with them:

- Enhance them
- Leave them running as is
- Archive them

[2016-03-03 17:21] mateoclarke commented on #125
Are there any negatives to leaving them running as is on the CH3 Data server that Chip has managed?

I think Data and Cute Pets are the two that have the most priority. But would like the other 3 to stay running for archival reference if the cost isn't too high.

[2016-03-04 04:56] #110 closed

[2016-03-04 04:58] #84 closed

[2016-03-04 04:58] #109 closed

[2016-03-04 04:58] #111 closed

[2016-03-04 04:58] #122 closed

[2016-03-04 05:03] #113 closed

[2016-03-04 05:04] #91 closed

[2016-03-04 05:04] #90 closed

[2016-03-04 05:04] #86 closed

[2016-03-04 05:06] #85 closed

[2016-03-05 03:11] #120 closed

[2016-03-05 03:41] #121 closed

[2016-03-05 03:42] mateoclarke commented on #82
oops, forgot to do this. oh well.

[2016-03-05 03:42] #82 closed

[2016-03-05 04:08] #114 closed

[2016-03-05 04:15] #115 closed

[2016-03-06 15:09] mateoclarke opened #126 "[Code Across] Follow up emails with more info"
- [Google Slides](https://drive.google.com/open?id=1aWNB5wWr9ZIjwvMNEZR2uoGJcK9zDKuFw0_B1JIhFBk)
- Link to Slack
- Link to Github issues with Code Across tag
- Upcoming events

[2016-03-06 15:16] mateoclarke opened #127 "[Code Across] blog post summary"

[2016-03-06 15:17] #98 closed

[2016-03-06 18:13] luqmaan commented on #126
Can I get a link to the slides? I want to post them to Meetup.

[2016-03-06 18:17] mateoclarke commented on #126
https://drive.google.com/open?id=1aWNB5wWr9ZIjwvMNEZR2uoGJcK9zDKuFw0_B1JIhFBk

[2016-03-06 18:18] VictoriaODell commented on #126
Here is the view only link: https://docs.google.com/presentation/d/1aWNB5wWr9ZIjwvMNEZR2uoGJcK9zDKuFw0_B1JIhFBk/edit?usp=sharing

[2016-03-07 15:19] mateoclarke commented on #126
<img width="475" alt="screen shot 2016-03-07 at 9 18 34 am" src="https://cloud.githubusercontent.com/assets/5697474/13573515/a83e3802-e445-11e5-988e-fc0501d72e83.png">

[2016-03-07 15:19] #126 closed

[2016-03-07 15:22] mateoclarke commented on #127
Content from the thank you email:

[code]

[2016-03-07 15:35] #116 closed

[2016-03-07 15:39] mateoclarke commented on #118
done

[2016-03-07 15:39] #118 closed

[2016-03-07 19:36] VictoriaODell commented on #127
I can work on this tonight + add photos in.
Where would I post it though?

[2016-03-07 20:59] mateoclarke commented on #127
@VictoriaODell good question on how to post to the new Jekyll site.

A couple options:
1. _(Easiest)_ Draft it in Google docs and send it to me or @luqmaan
2. _(Hardest)_ Clone the `open-austin-org` repo to your local computer and submit your draft via a Pull Request to `master`. I use an app called [MacDown](http://macdown.uranusjr.com/) to edit Markdown files. Advantage to this is you can previe

[2016-03-07 21:02] mateoclarke commented on #127
btw, its totally on the todo list to better document this process. that was just a first stab. curious to hear what challenges you run into

https://github.com/open-austin/open-austin.github.io/issues/48

[2016-03-07 21:24] amaliebarras commented on #127
Noiiiiiice!

Sent from my iPhone

[2016-03-08 00:59] VictoriaODell commented on #127
Ok, putting something together now.

[2016-03-09 03:16] VictoriaODell commented on #127
Link to draft.

https://docs.google.com/document/d/1wPTwPrGtF1H6XdX7vN-J80s_O1RePQoQveulimjyVcU/edit

[2016-03-10 14:39] #83 closed

[2016-03-10 14:44] VictoriaODell commented on #123
It'd be nice if we could review the feedback responses and go over some things that went well and what could be improved on.

Where is the feedback form hosted? I tried looking for it 👀

[2016-03-10 14:56] amaliebarras commented on #123
There was this one from last year? https://drive.google.com/open?id=1jOYC2r1eT1Dn7rCor1qlMcLHfJ5pfZNY8K0T27WoMVE unless y'all made another

Sent from my iPhone

[2016-03-10 15:03] VictoriaODell commented on #123
@mateoclarke sent out one for feedback on this year's event I believe.

[2016-03-10 15:08] VictoriaODell commented on #127
I need to update what was posted with social sponsors + donor shoutouts

[2016-03-10 17:05] mateoclarke commented on #123
Only one response:
https://docs.google.com/spreadsheets/d/1rG6p_l3THR8kRLhqKwsxeC65_Vnw0FfHh1LXdpJ5TWQ/edit?usp=sharing

[2016-03-10 17:09] mateoclarke opened #128 "Add creative commons license to Civic Hacking 101 v2"
upon the request of Open Twin Cities

[2016-03-16 04:01] mateoclarke opened #129 "Make a Google Spreadsheet of Donors"
![screen shot 2016-03-15 at 11 00 15 pm](https://cloud.githubusercontent.com/assets/5697474/13801645/e36593f4-eb01-11e5-9125-65dca47a4ecc.png)

[2016-03-16 04:08] mateoclarke opened #130 "Write blog post about Project Framing Playbook, civic hack canvas adoption in DC & Japan"
This is blog worthy:

We can highlight how the canvas was adopted last year. Got adopted in Japan. And then DC. And updates we plan to make.

Photos:
![img_4970](https://cloud.githubusercontent.com/assets/5697474/13801753/092acf9a-eb03-11e5-90f3-77434d668183.JPG)
![img_4969](https://cloud.githubusercontent.com/assets/5697474/13801754/0aff0f66-eb03-11e5-8674-8719bd86a147.JPG)
![img_4968](https://cl

[2016-03-16 04:08] #127 closed

[2016-03-16 04:09] VictoriaODell commented on #103
Closing this.

We are using "Policy Team" now  on the site. Going to open an issue about IA of advocacy page in the open-austin.github.io repo.

[2016-03-16 04:09] #103 closed

[2016-03-16 04:11] mateoclarke commented on #129
or maybe I'll give AirTables a shot.

[2016-03-16 04:11] VictoriaODell commented on #44
womp I made #69 which is essentially this.

Closing

[2016-03-16 04:11] #44 closed

[2016-03-16 04:31] mateoclarke commented on #129
https://docs.google.com/spreadsheets/d/1cO4vRogh3-ytbwRA2goaQtrQE3WPVdRRzaHjP-94elU/edit#gid=1121272520

[2016-03-16 04:38] mateoclarke commented on #123
Added link to Github for all the closed issues to the main playbook under the pre-event planning section.

[2016-03-16 04:38] #123 closed

[2016-03-16 04:43] VictoriaODell commented on #129
@mateoclarke does a google doc seem okay? I'm not sure what the best solution is but we have a few things we need to document. I think 1 sheet with pages could work but I haven't used AirTables before.

[2016-03-16 04:43] mateoclarke commented on #64
With Caroline P O'Meara, the UT grad student interested in collected data about our brigade, maybe this is a good time to revisit how and when we do intake info on skills, motivation, and demographics.

[2016-03-16 04:44] mateoclarke commented on #129
yeah, I like what you're doing. Let's go with that.

[2016-03-16 04:44] VictoriaODell commented on #64
What if we put a survey in front of our slack invite?

[2016-03-16 04:45] VictoriaODell commented on #129
ok!

[2016-03-16 04:46] mateoclarke commented on #61
Maybe this would be better under the project-ideas repo? Would be nice to start a collection of beginner friendly projects and tutorials we could point ppl at.

[2016-03-16 04:52] mateoclarke commented on #64
Interesting idea. Adds some friction to getting plugged in on Slack. But I can see the benefit.

What about existing slackers?

[2016-03-16 04:58] VictoriaODell commented on #64
We can post it in slack.
Send out an email for it and include it in our event emails.
Tweet + Facebook.
Make sure that it's posted on our Meetup page.

And also probably go around and check if people have taken it at hack nights and Saturdays?
That's kind of it. We just hope they see it and we catch them?

[2016-03-16 05:14] VictoriaODell commented on #88
Working on making a comprehensive list here:
https://docs.google.com/spreadsheets/d/1cO4vRogh3-ytbwRA2goaQtrQE3WPVdRRzaHjP-94elU/edit#gid=170603235

Before we start inputting more info, any thoughts about the format?

[2016-03-16 05:16] VictoriaODell commented on #108
Working on putting this on a sheet also:
https://docs.google.com/spreadsheets/d/1cO4vRogh3-ytbwRA2goaQtrQE3WPVdRRzaHjP-94elU/edit#gid=0

I haven't started laying out this section though.

[2016-03-16 05:35] mateoclarke commented on #88
think you could add columns for public transit and parking availability. Other than that... :ok_hand:

[2016-03-16 05:35] #88 closed

[2016-03-16 15:14] amaliebarras commented on #64
Totally. I’ll dive in to this more on Saturday.

[2016-03-18 02:01] VictoriaODell commented on #88
I added some stuff to the events list and spiffed it up some.
If ya'll have a good idea of the venue or new venues can ya'll add them?

https://docs.google.com/spreadsheets/d/1cO4vRogh3-ytbwRA2goaQtrQE3WPVdRRzaHjP-94elU/edit#gid=170603235

We need a [Work Hard Anywhere](http://workhardanywhere.com/) for event spaces~  :cat2:

[2016-03-19 15:23] VictoriaODell commented on #67
I created a master contact list we just need to get some contacts on it!
https://docs.google.com/spreadsheets/d/1cO4vRogh3-ytbwRA2goaQtrQE3WPVdRRzaHjP-94elU/edit#gid=516533352

Closing this but we need to input our contacts~

[2016-03-19 15:23] #67 closed

[2016-03-19 15:24] VictoriaODell commented on #65
Plz add things here PLZZ

https://docs.google.com/spreadsheets/d/1cO4vRogh3-ytbwRA2goaQtrQE3WPVdRRzaHjP-94elU/edit#gid=516533352

[2016-03-19 15:26] VictoriaODell commented on #38
lol I think we missed the boat.
:boat:

[2016-03-19 15:26] #38 closed

[2016-03-19 15:27] VictoriaODell commented on #52
Maybe next year? ~
lol maybe if we have a b-day or something we can try this again.

[2016-03-19 15:27] #52 closed

[2016-03-19 16:22] amaliebarras commented on #52
Nooooo :(

Haha it’s okay, something to build on for next year. :)

Ams

[2016-03-19 16:44] VictoriaODell commented on #65
Adding the resources from issue #107 that we need to put into the doc^^
https://library.austintexas.gov/sites/default/files/u20/meeting_spaces_2015.pdf
![image](https://cloud.githubusercontent.com/assets/10767430/13899929/e3bb2134-edc7-11e5-8dc4-97e5e9ffc713.png)

[2016-03-19 16:55] VictoriaODell commented on #39
**Shortest: **
Open Austin is a citizen volunteer-driven organization that promotes open government, open data, civic applications in Austin, Texas.

[2016-03-20 15:13] mateoclarke commented on #52
I think we should still post it.

[2016-03-20 15:27] mateoclarke commented on #52
first day of spring! is that a good enough reason to post it?

[2016-03-20 17:47] mateoclarke commented on #67
Chip actually had created a press list here: https://docs.google.com/spreadsheets/d/1qyglFdsLeC4JMhWsPCupEBGwn9fLp12CXsdK59JgEpU/edit#gid=0

Going to move over some of this info into the new contact list

[2016-03-20 18:06] VictoriaODell commented on #67
:star2:

[2016-03-21 23:59] VictoriaODell opened #131 "Social Mixers"
What:
Social mixers at coffee shops &/or bars with other local meetup groups and organizations.

When:
A monthly social hour would be ideal. Possibly starting in May to allow some time for organization and outreach.

Why:
A lot of our current events have our members pretty engaged in a presentation or projects and they don't allow much time for socializing(aside from after events).

Also, this wou

[2016-03-22 15:53] mateoclarke commented on #131
Couple feelings on this:

- Social/happy hour meetups are cool and I agree, a good way to chat with our frequent members more. We've done a few, 18f, Monique in town, etc. Down to do more.
- "Social mixer" reminds me of college greek life, drinking, etc. Think this should be phrased differently.
- If the goal is to reach other communities, cross pollenate, get them involved in our work, why not op

[2016-03-22 16:15] VictoriaODell commented on #131
Despite my mention of continuing this conversation, This is actually a really weird week for me and I'm going to lay low. I currently don't want to discuss this further and am closing the issue for now.

[2016-03-22 16:15] #131 closed

[2016-03-23 18:37] VictoriaODell opened #132 "Code Across review"
It would be stellar if we could document some breakpoints we had and package up what could be done better or differently for next year.

[2016-03-30 02:57] mateoclarke opened #133 "blog post for Body cam meetup"
https://docs.google.com/document/d/1_Ng8_9J_ZAxh-BfWyhaj7IwJFMnugQHqwUxGONTE0qU/edit

[2016-03-30 02:58] mateoclarke opened #134 "Add ATXH4C workshops to calendar"
April 7: Hackathon 101
[event URL](https://dabble.co/austin/coding/classes/hackathon-101-with-open-austin-st-edward-s-university-and-city-of-austin-s-innovation-office)
- [x] Schedule tweets
- [x] Add to Google Cal
- [x] [Meetup.com](http://www.meetup.com/Open-Austin/events/230103725/)

May 5: Intro to Hackathon Tech + Tools
[event URL](https://dabble.co/austin/coding--3/classes/intro-to-hackathon

[2016-03-30 04:59] mateoclarke commented on #133
http://www.open-austin.org/blog/2016/03/29/open-gov-civic-tech-bodycam-recap

[2016-03-30 04:59] #133 closed

[2016-03-30 05:00] mateoclarke commented on #130
we are probably going to do a webinar with CFA on the Civic Tech Planning Canvas in May so we can wait to time this post with that webinar.

[2016-03-30 05:09] mateoclarke opened #135 "blog post idea: we gave the city these recommendations about agenda records and here is what they published"
https://docs.google.com/document/d/1FOLuCR6kRRTLQD5dyJCuIquRkEoaGi0aqAVlBFwVuPY/edit

https://data.austintexas.gov/Government/Austin-City-Council-Agenda-Items/es7e-878h?utm_content=buffer7d894&utm_medium=social&utm_source=twitter.com&utm_campaign=buffer

[2016-03-30 05:10] #95 closed

[2016-03-30 05:10] #4 closed

[2016-04-01 22:31] VictoriaODell opened #136 "[Designing Mobility Workshop] Location time-checks"
- [x] Check if we can get in the library an hour early
- [x] Check YMCA availability + hours + cost
- [ ] Check in with the Lutheran church as a host space
- [x] Avoid knee activities!

Eric said ideally 9am - 4:30ish ...I think >.>  <.<

[2016-04-01 22:34] VictoriaODell opened #137 "[Designing Mobility Workshop] Sponsorship/ Prosepctus"
### [Donor Partner Prospectus: Designing for Civic Solutions Workshop](https://docs.google.com/document/d/1Fc2awKqL2YTEHrjiN_iKomradNqiNbhJUp1y40hDj1U/edit)

- [Email template](https://github.com/open-austin/iced-coffee/issues/137#issuecomment-207855424)
- [Eventbrite](https://www.eventbrite.com/e/designing-for-civic-solutions-workshop-tickets-24534044989)

### Donors Logos
![austin-cityup-logo-of

[2016-04-01 22:43] VictoriaODell commented on #137
Potential contacts to reach out to should be posted on the [Master contact list](https://docs.google.com/spreadsheets/d/1cO4vRogh3-ytbwRA2goaQtrQE3WPVdRRzaHjP-94elU/edit#gid=516533352)

@mateoclarke you had some recommendations for people to reach out to. Can you post them here, identify them on the list/add them?

I know we identified IBM design.

[2016-04-02 03:36] #73 closed

[2016-04-02 05:55] mscarey commented on #135
OK

http://www.open-austin.org/blog/2016/04/02/austin-city-council-agendas-become-open-data

[2016-04-02 05:55] #135 closed

[2016-04-02 15:57] mateoclarke commented on #136
I have an email out to the YMCA for availability and cost.

[2016-04-02 16:05] amaliebarras commented on #136
I sent an email out to Karly this morning too, asking about Iron Yard, it might be a free space. April 24 is like week 9 or 10 for us so I will be in town and able to at least open up and lock up, if not attend.

Ill keep ya posted!

[2016-04-02 23:29] mateoclarke commented on #137
Here is the potential sponsors doc we started earlier this year:
[Potential 2016 Sponsors](https://docs.google.com/document/d/1pAsvnfr_6t6vkTax5NPfv6os8ZNLf_p4DzAVCT4YQrE/edit)

For this event, I think it makes sense to focus on orgs that have a specific interest in Mobility and/or Design (not just straight up tech companies, at least at first). @VictoriaODell, please let me know as soon as you ha

[2016-04-02 23:37] mateoclarke commented on #135
Hey @mscarey! Thanks for jumping in and handling this! Great job with the blog! :tada:

[2016-04-03 00:12] VictoriaODell commented on #137
@mateoclarke will do. I'll work on it some tonight!

:star2:

[2016-04-03 00:25] mateoclarke opened #138 "[Designing Mobility Workshop] Make Event Program"
This is what we did for Code Across:
https://docs.google.com/document/d/1zg3RE5ue203FxL01eSn3m3Nx81IdZs0TUz6YPnfymA4/edit

This is the DR worksheet that we'll run participants through:
http://library.ac4d.com/d/AC4D_designlibrary_worksheet_DesignResearch.pdf

And here is the rough agenda:
9:00AM – Introductions and Introduction to Design Research
10:00AM – Focus Generation
10:30AM – Field Research

[2016-04-03 01:22] mateoclarke opened #139 "Follow up with CTM to make sure "App Library Page" gets updated"
http://austintexas.gov/page/mobile-app-library

[2016-04-03 01:36] mateoclarke commented on #134
and schedule some tweets!

[2016-04-03 01:45] VictoriaODell commented on #134
👌🏼

[2016-04-03 05:03] VictoriaODell commented on #137
Rough first draft here: https://docs.google.com/document/d/1Fc2awKqL2YTEHrjiN_iKomradNqiNbhJUp1y40hDj1U/edit

I left comments for myself to come back and edit. I pulled some of the language from the AC4D workshop page. Kinda busy since I'm with family in Galveston but want to get this done tomorrow if possible.

@mateoclarke had some things that need to be discussed~
A few comments directed toward

[2016-04-03 05:15] VictoriaODell commented on #134
I put some tweets in buffer for the event this Thursday. I'll promote it on our Facebook tomorrow and post it a few groups that may be interested.

Once that's done we can start pushing the event that is in May. :bird:

[2016-04-03 21:31] mateoclarke commented on #134
Added these to the Google Calendar.

Should we add them to Meetup.com as well?

[2016-04-03 21:40] mateoclarke commented on #106
meeting up with David and Marc on 4/12 at 6pm at ACC Northridge campus

[2016-04-03 21:40] mateoclarke commented on #106
anyone interested in how we can partner more with ACC, come along or feed me some ideas.

[2016-04-03 21:55] mateoclarke commented on #107
So this event has spawned several other issues. Going to close this one for now but I added it under the Design Workshop Milestone.

[2016-04-03 21:55] #107 closed

[2016-04-03 22:23] mateoclarke commented on #137
Thanks for getting that started @VictoriaODell!

I just added my comments. Lmk what's next. We should also pass it to Eric for review before we send it out. Want to make sure he's cool with us calling out AC4D alumni. Think he will be but just in case.

[2016-04-03 22:51] mateoclarke commented on #137
Also, are we set on the name "Designing Mobility Workshop"? I kind of just threw that out as a random place holder.

some others ideas started with the pair Eric threw out:
- Civic Design Workshop/Bootcamp
- Design-led Innovation Impact Lab
- Human-Centered Design Workshop/Bootcamp
- Mobility Innovations Workshop
- Designing Innovations for Mobility

haha these all sounds so buzzwordy :bee:

cc/ @

[2016-04-03 22:54] mateoclarke commented on #136
Just called the library. No flexibility to start early. 10am is when the open. PERIOD.

[2016-04-03 22:55] VictoriaODell commented on #134
I think we should post to meetup. We get a lot of visibility there and I don't believe the others have a meetup account/ org.

[2016-04-04 00:26] mateoclarke commented on #134
added meetup event...

[2016-04-04 02:34] VictoriaODell commented on #137
Yeah, a little buzzy. :bee:

What about

- Designing for Austin Workshop
- Designing for Civic Solutions Workshop

I was just thinking we should probably follow up with Daniela and let her know what we decided on too. I can do that.

[2016-04-04 02:38] mateoclarke commented on #137
I like those better! :smile:

Of the two I vote "Designing for Civic Solutions Workshop"

[2016-04-04 02:39] VictoriaODell commented on #137
Sweet.  Making the changes in the document now.

[2016-04-04 02:42] VictoriaODell commented on #137
I think it's good to send to Eric to review now. :eyes: :page_facing_up:

[2016-04-04 18:13] amaliebarras commented on #136
Iron Yard offered up their space for this event:

[2016-04-04 21:10] VictoriaODell commented on #136
Hey @amaliebarras that's neat~ At no charge?

Right now I believe we are focused on staying around the Rundberg area since that's what we've scoped out and have started planning around. I think that has some flexibility since the workshop is centered around mobility but I'm unfamiliar with the Iron Yard campus and surrounding area.

[2016-04-04 21:20] amaliebarras commented on #136
I saw that conversation, but saw a few comments that you weren’t having any luck with library / church venues, and we’re coming up close to the date if we want to include the location in promo, etc..

Iron Yard would be free. It’s right across Woodland from St. Eds, is bike able from my house (central) has a bus stop close by, and has parking.

[2016-04-04 21:30] mateoclarke commented on #136
Thanks for making moves on this @amaliebarras!

Iron Yard is a great venue. And I'm totally interested in making an event work there. But for this particular event, I'm worried about whether there are many places within walking distance that are conducive to man-on-the-street style interviews. A big component of the morning is ethnography/interviews in the field. So we need to be close to a place

[2016-04-04 21:42] VictoriaODell commented on #136
No, that sound right @mateoclarke.

We do still need a spot for our upcoming Civic Hack Saturdays though. Isn't this month our last at Urban Co-lab before we would have to pay?

[2016-04-04 22:02] amaliebarras commented on #136
I get what you mean, but I think there are a few areas around here that
would have people hanging out on a Saturday that would be good enough for
an interview. You wouldn't think so because Iron Yard is tucked in, but
Penn Field as a complex is a very short drive to that giant Ben White
shopping center w/ Target / Wheatsville, biking distance to Radio and that
whole area, and a walk from Opal Divi

[2016-04-04 22:16] mateoclarke commented on #136
Yeah, I hear all that @amaliebarras. The places you listed would work well. I think maybe @VictoriaODell should scout it out when she has a chance. And maybe loop in Eric once you have a better impression.

From an initial conversation I had with him way back when this event was just an idea, I think I recall that he didn't really like the idea of groups having to drive to do ethnography. And its

[2016-04-04 22:37] VictoriaODell commented on #136
I can try to swing by the area tonight after work to check it out. Tomorrow I want to be at our Civic Hack night and Wed-Fri I'll be in SA for the NNIP conference.

I'll update ya'll this evening.

[2016-04-04 22:44] amaliebarras commented on #136
Yeah @victoriaOdell come scope it out and eat lunch with me 😻

Even if it was in Rundberg, I was thinking that the only people who wouldn't be able to drive were those who walked and biked to the event, which would probably be people who lived in Rundberg. And we will have at least a few OAers there with cars. But it's also awkward logistically to drive by interview hahah

Sent from my iPhone

[2016-04-04 22:49] VictoriaODell commented on #136
@amaliebarras it's almost dinner time! lol. Javier is going to pick me up from work and we'll drive by the area to check it out here in a few.

[2016-04-04 23:52] amaliebarras commented on #136
Haha I sent that before you said you were going tonight. But ok enjoy!

Sent from my iPhone

[2016-04-05 01:28] VictoriaODell commented on #136
Hey~
I checked out the area. Torn between the trade-offs.

 X_X

[2016-04-09 17:37] VictoriaODell commented on #136
Talked to Eric this past week.
He spoke with his design team and the library should work with the times we have now.~

Thanks again, @amaliebarras for looking out for us too!

[2016-04-09 17:37] #136 closed

[2016-04-09 19:06] VictoriaODell opened #140 "Event Page"
### [Eventbrite page](http://www.eventbrite.com/e/designing-for-civic-solutions-workshop-tickets-24534044989)

- [x] Working on the event page on Eventbrite page, Right now.
- [x] I know Eric mentioned bios. I'll check in with him on that.
- [x] Create a blog post announcement on open-austin.org

[2016-04-09 19:10] VictoriaODell commented on #140
@mateoclarke should I keep this question?
"Would you like to receive updates about the ATX Hack for Change hosted by St. Edward's the first weekend in June?"

[2016-04-09 19:31] VictoriaODell commented on #140
Event page here: http://www.eventbrite.com/e/designing-for-civic-solutions-workshop-tickets-24534044989

I'm going to share it with Eric and check in about the bios.

[2016-04-09 20:00] VictoriaODell commented on #137
@mateoclarke Have you sent this to anyone yet? If so who? I don't want to duplicate efforts. I can send some stuff out today.

[2016-04-09 20:05] VictoriaODell commented on #138
Sent an email to Eric to check up on this since time has changed.

[2016-04-09 20:47] mateoclarke commented on #137
Behind on email so much I'm dreading it. 😖

Will start a list up a the top :arrow_up: with folks I reach out to.

[2016-04-09 20:49] VictoriaODell commented on #137
~Email party~

[2016-04-09 21:21] mateoclarke commented on #137
## Email template:
---
Hello {person/company}!

Open Austin is partnering with alumni from the Austin Center for Design to host a free to attend workshop on using design thinking and ethnographic research for civic problem solving.

Our upcoming event on Saturday, April 23rd will focus on addressing civic issues under the theme of Mobility. We are asking for donations to help us pay for coffee, lu

[2016-04-09 21:32] VictoriaODell commented on #134
I put a couple of tweets in the buffer but it's full now~
I scheduled some post for Facebook too. I think once we get a little closer we promote it more.

[2016-04-09 21:36] mateoclarke commented on #140
yeah, i would keep the question. It doesn't hurt.

[2016-04-09 21:37] VictoriaODell commented on #140
@mateoclarke Q: How do you make the event image big and at the top? I can't figure it out :cat2:

[2016-04-09 22:03] mateoclarke commented on #140
It has to do with which version of their WSYIWYG editor you pick. I switched it to their "Standard Editor"

![screen shot 2016-04-09 at 5 01 40 pm](https://cloud.githubusercontent.com/assets/5697474/14406692/ef055f88-fe74-11e5-98ec-1788ae09a41b.png)

[2016-04-09 22:36] VictoriaODell opened #141 "Slides for Workshop"
Work in progress here: https://docs.google.com/presentation/d/1_X1nwd5g2EpDGmsf5eVlGs5IOWgPypZ6ZDXdTgi6UoM/edit#slide=id.g11ba1cac38_0_52

Going to send to Eric to see if he wants their slides in here too or if they have a deck they are working from.

[2016-04-11 03:13] mateoclarke commented on #140
Added todo up top to create a page on our site.

[2016-04-11 04:01] mateoclarke commented on #137
We have donor commitments from Vizias and HubCiti! I've added their logos up top :arrow_up:. We should start including the logos as we move forward with the event page and slides.

There might be a few more via the City Up consortium so I'll keep the door open on that and wait a few more days before I finalize the amount that each of those companies are willing to give.

[2016-04-13 02:01] VictoriaODell commented on #140
Blog post live: http://www.open-austin.org/blog/2016/04/12/designing-for-civic-solutions-workshop

[2016-04-13 02:49] VictoriaODell commented on #137
Added both logos to the Eventbrite page and slide deck. Need to update the blog post. >,>

[2016-04-13 22:33] VictoriaODell commented on #138
Updated Agenda from Eric:
Need to input this in the program
10:00AM – Introductions and Introduction to Design Methods (Vickie/Mateo for 5-15 minutes, then Eric)

11:00AM – Research, Focus Review + Field Research (Bhavini)

12:30PM – Break and Lunch

1:30 PM – Synthesis (Laura)

2:45 PM -- Break

3:00 PM – Ideation & Down Selection (Samara)

3:45 PM – Story Boarding as Prototyping Tool (James)

4:

[2016-04-15 01:26] VictoriaODell opened #142 "Open Austin Sponsorship packet"
We should work on a partnership packet to help us with our outreach for $$$
## Here are some great resources to get us started

[NDoCH Kickoff presentation that includes slides about sponsorship
](https://docs.google.com/presentation/d/1XgZZin13bPW0Xep7iTemRfJnJ9T-3TRDp6uul0bab_Y/edit#slide=id.g85f3b8d0c_4_0)[Recording of presentation ](https://slack-redir.net/link?url=https%3A%2F%2Fwww.youtube.co

[2016-04-15 02:23] VictoriaODell opened #143 "Press release"
Create a Press release for our event Next Saturday.

I can start drafting.

[2016-04-15 03:50] VictoriaODell commented on #106
How did the meeting go for this?

[2016-04-15 04:57] VictoriaODell commented on #143
@mapineda you said you could help get this out correct?

[2016-04-15 12:58] mapineda commented on #143
Yes

Marco Pineda

[2016-04-15 15:47] mapineda commented on #143
Is there a google doc draft we can work on together? Also, is do we have a  list of media correspondents to send this out to after it is finished?

[2016-04-15 16:04] VictoriaODell commented on #143
[There is now!](https://docs.google.com/document/d/1OggfmlmVulXgbnBaSnaS8CETE1xfKdNJBF2BpYwOp3w/edit?usp=sharing)

I think we do have a list in another issue that has news contacts we just need to fish around for it. :eyes:

[2016-04-15 16:23] mateoclarke commented on #143
I think I moved all the old press contacts that Chip collected into the [Master Contact List](https://docs.google.com/spreadsheets/d/1cO4vRogh3-ytbwRA2goaQtrQE3WPVdRRzaHjP-94elU/edit#gid=516533352). We definitely should add more contacts from places like Built In Austin, Austin Monitor and 512 tech.

[2016-04-16 15:10] mateoclarke opened #144 "[Designing for Civic Solutions] Gather supplies"
- [x] 40 Pen, Pencil, Sharpie, Highlighter (1 per participant) - each will need these for note taking during research, as well as drawing during the storyboarding time.
- [x] Clipboards - 2 per group for note taking in the field
- [x] Pins/Easels/Tape - Participants will need to put their research - namely, hand scribed notes from cut outs from 8.5x11 sheets of paper, onto "something" - whether th

[2016-04-16 16:57] VictoriaODell commented on #143
Okay, I think we have a pretty good start.

I'm sending Eric and Daniela an email update about with the program today and will ask if we can get a quick quote to include in our press release.

[2016-04-16 17:24] VictoriaODell commented on #138
Sent to Eric and Daniela to review!

[2016-04-16 19:15] VictoriaODell commented on #142
Goals would be to get this done by the end of the month/2 weeks so we can send this out and get taco money and stuff~ @luqmaan

[2016-04-17 22:59] VictoriaODell commented on #138
I think this should be good to go.
https://docs.google.com/document/d/1z9QM_Ne5mQFhcL-P8GWIaD4oGPdTa-TkHwecdYnsLYg/edit#

[2016-04-18 03:30] VictoriaODell commented on #143
Updated to include quotes. Super excited for how this is turning out @mapineda !

https://docs.google.com/document/d/1OggfmlmVulXgbnBaSnaS8CETE1xfKdNJBF2BpYwOp3w/edit

[2016-04-18 16:46] mateoclarke commented on #143
@VictoriaODell: maybe we should add one sentence recognizing our donors?

[2016-04-18 16:50] mateoclarke commented on #143
added a line, but it bumps the ### to the second page, oops.

[2016-04-18 17:18] VictoriaODell commented on #143
@mateoclarke Awesome. I just add the ### to the page footer.
Will post this on our blog now and we can tweet/ start emailing it out.

[2016-04-18 17:36] VictoriaODell commented on #143
Posted on the website: http://www.open-austin.org/blog/2016/04/18/open-austin-collaborates-with-ac4d-alumni-to-host-workshop

Heh, maybe should have found another picture but I'm at work right now💻

[2016-04-19 04:23] VictoriaODell opened #145 "Blog post for Open Gov meetup"
[I started a post ] (https://docs.google.com/document/d/1TBvnvRl1MZRj7DK9o6Y_2Ep92bQ0FuB3lHusHaMavdM/edit) but it's kinda incoherent right now. >.>

@mateoclarke and @amaliebarras ya'll take notes too? 👀

[2016-04-19 13:45] amaliebarras commented on #145
I took no notes :( :( :(
I took pics though :) You can also use my ones on twittah

[2016-04-19 14:31] VictoriaODell commented on #145
No problem! I know you did last time that's why I'm asking. I'll likely use some tweets. 🐤🐦

[2016-04-20 00:13] VictoriaODell commented on #145
Ann is sending her slides tonight and will send the scans of our maps tomorrow. 🗺

I'll work on cleaning this post up some tonight.

[2016-04-20 02:03] VictoriaODell commented on #144
We have
- 51 sharpies with Fine points
- 25 "flip chart"/fat sharpies
-  ~ 79 pens
- 2 pairs of scissors
- 3 small things of tape
- 5 rolls of duct/large tape
- 48 pencils

Post its
Stacks= The amount I would feel okay giving 1 person/ group depending on the activity. I should check with Eric about consistency of the colors. ;_;
- 6 stacks of teal
- 11 stacks of coral
- 5 stacks of hot pink
- 5 st

[2016-04-20 04:26] VictoriaODell commented on #137
@mateo
So HubCiti donated $100, Vizias donated $100, b-cycle donated $100 and IBM donated supplies correct?

[2016-04-21 03:14] mateoclarke commented on #137
and USAA donated $300 just today. I've added all their logos to

- the Google slide deck
- the Eventbrite
- the event blog post
- the Press Release blog (no logos, just listed)
- the Press Release Google Doc  (no logos, just listed)

[2016-04-21 04:21] VictoriaODell opened #146 "Food"
# Breakfast Snacks

# Lunch
### Dieteary needs

- [x] 1 No cinnamon
- [x] 2  Gluten Free (Ask on Catering Call)
- [x] 1 Gluten free + Vegan (Ask on Catering Call)
- [x] 1 No Bell peppers
- [x] 1 Peanut & Soy Allergy (Ask on catering call)
- [x] 6 Vegetarian
- [x] 1 Vegan

### Breakdown
Currently this number is for 50 sandwhiches
1 Vegan- Daniela x 10.99
	1 Box Lunch: Tofu Beets & Wasabi

6 Vegetar

[2016-04-21 18:54] mateoclarke commented on #137
forgot to add the logos to the program, just did that.

[2016-04-21 23:15] VictoriaODell commented on #146
Ordered the food.
The quote I got on the phone was right at $475 with delivery.
We got the basic box lunches for most people but I had to order some salad for people too.
I'll call again tomorrow to confirm everything.

[2016-04-23 20:30] VictoriaODell commented on #146
Catering ended up being 361.50~
@mateoclarke I need to learn how to use expensify.

[2016-04-23 20:30] #146 closed

[2016-04-23 20:31] VictoriaODell commented on #143
📄

[2016-04-23 20:31] #143 closed

[2016-04-23 20:31] VictoriaODell commented on #141
💯

[2016-04-23 20:31] #141 closed

[2016-04-23 20:32] VictoriaODell commented on #144
✏️ 📃

[2016-04-23 20:32] #144 closed

[2016-04-23 20:32] VictoriaODell commented on #140
*foams at mouth*

[2016-04-23 20:32] #140 closed

[2016-04-23 20:32] VictoriaODell commented on #138
🙌

[2016-04-23 20:32] #138 closed

[2016-04-23 20:32] VictoriaODell commented on #137
💰 💸

[2016-04-23 20:32] #137 closed

[2016-04-23 20:40] VictoriaODell opened #147 "Post event blog post"
Write up with:

- [x] links to [opening-closing slide deck](https://drive.google.com/open?id=0BwKb2oghmQldd3o1RWxEQjh5RlU)
- [x] [link to AC4D resources](http://library.ac4d.com/)/ Won't be getting their slide deck
- [x] Tweets from participants
[code]
[code]

- [x] [Workshop images](https://drive.google.com/open?id=0BwKb2oghmQldd3o1RWxEQjh5RlU)
- [x] Special thanks and shout out to sponsors
- [x]

[2016-04-23 20:47] VictoriaODell opened #148 "Post event survey"
Copied our Code Across form and pasted it below:
https://docs.google.com/forms/d/1TavdYqkaIGGxLWE7b4SaEP951QMCctBJjKX_NBuHlac/viewform

[2016-04-23 20:50] VictoriaODell opened #149 "Post Event Retrospective"
@mateoclarke @luqmaan After/if we get some feedback on from the survey we should make some notes on what went right and what went wrong.

[2016-04-23 20:55] VictoriaODell opened #150 "Post event email"
I'll work on getting a write-up. It would be good if we finish the blog post + send out the survey at the same time. So this happens after issue #147 and #148

I'll email the Eventbrite people

@mateoclarke I think it would be great if you could send the blog post + a follow email to our donors.

[2016-04-24 15:35] mateoclarke commented on #145
I got some notes. I can add stuff and post today.

[2016-04-24 17:01] VictoriaODell commented on #145
Ann just sent me the slides and scans I can post them once I get to my computer.

[2016-04-24 19:05] VictoriaODell commented on #145
[Austin's Atlas Scans.pdf](https://github.com/open-austin/iced-coffee/files/233603/Austin.s.Atlas.Scans.pdf)

[2016-04-24 19:06] VictoriaODell commented on #145
[April 18 presentation_smaller.pdf](https://github.com/open-austin/iced-coffee/files/233605/April.18.presentation_smaller.pdf)

[2016-04-25 00:42] mateoclarke commented on #145
✅
http://www.open-austin.org/blog/2016/04/24/open-gov-civic-tech-austin-atlas-recap

[2016-04-25 00:42] #145 closed

[2016-04-26 02:07] mateoclarke commented on #149
sounds good. Would love to hear how things went in the afternoon!

[2016-04-26 04:02] VictoriaODell commented on #148
Went ahead and sent this out.

[2016-04-26 04:04] #148 closed

[2016-04-26 04:08] VictoriaODell commented on #147
I reached out to Ellen to do a separate blog post about her experience as a participant/ what she took away from the event. Hopefully, we can get that by Sunday.

Workin on putting this post together now.

[2016-04-26 04:37] VictoriaODell commented on #147
WIP: https://docs.google.com/document/d/1FwSmxSotPZiQUllNeXrBghny9f7I0Yt6GfXhC4uhywE/edit#

[2016-04-28 15:13] amaliebarras commented on #46
Cool, Becca A signed up for a lightning talk June 20!

[2016-04-28 15:17] mateoclarke commented on #46
Yay, I'll add a list to the top.

[2016-04-28 20:52] mateoclarke commented on #147
we should make sure to post this blog to https://cfa.slack.com/messages/brigade-wins/

[2016-05-01 18:40] #125 closed

[2016-05-01 18:52] luqmaan commented on #39
Check out the About Open Austin section here http://www.open-austin.org/candidate-questionnaires/documents/2014_OpenAustin_OpenGovBriefing.pdf

[2016-05-04 00:43] VictoriaODell commented on #63
Closing this. We have them now just need to upkeep~

[2016-05-04 00:43] #63 closed

[2016-05-13 18:27] mateoclarke opened #151 "5/16 Meetup"
- [x] Update Meetup
- [x] Update Calendar
- [x] Email Announcement
- [x] Twitter
- [x] [Slidedeck](https://docs.google.com/presentation/d/1czm4VlA9376cmfobLgrxLLwA01_NXFBKs34FcDVrn_I/edit?usp=sharing)

[2016-05-13 18:32] mateoclarke opened #152 "Find recurring event host for Civic Hack Night & Civic Hack Saturday"
https://docs.google.com/document/d/1Q2of58M4zLPnNQAM8fybtlMo7LI7z_4dWyJdQyzLrMg/edit

[2016-05-14 16:07] mateoclarke opened #153 "Update Projects we want highlighted for CoA "App Library""
The CoA just [updated the Open Data Portal homepage](https://data.austintexas.gov/). One of the main tiles takes visitors to an ["App Library"](http://austintexas.gov/page/mobile-app-library) which includes "Austin Community Apps". We should decide what projects we want highlighted from there.
- [ ] Choose projects we wanted highlighted
- [ ] Send Update OA Logo
- [ ] Contact Ashlee Harris with Ci

[2016-05-14 16:10] mateoclarke commented on #139
duplicate

[2016-05-14 16:10] #139 closed

[2016-05-14 16:15] mateoclarke commented on #153
@luqmaan, can you help me select a few of the projects we should highlight that use City Open Data for their App Library page? I don't think they necessarily need to be projects from our volunteers.

[2016-05-14 16:21] mateoclarke commented on #130
Charles Purma and I just did the webinar on the Code Across Playbook and Civic Tech Canvas on Thursday. I'll take the lead on writing a follow up blog once the recording is edited and posted: http://forum.codeforamerica.org/t/2016-may-12-second-ndoch-planning-webinar/392

[2016-05-15 21:36] #151 closed

[2016-05-15 21:38] mateoclarke opened #154 "5/28 Civic Hack Saturday"
- [x] Confirm location: Chicon Collective, 301 Chicon. Thanks @mapineda!
- [x] [Meetup](http://www.meetup.com/Open-Austin/events/wwjktlyvhblc/)
- [x] Google Calendar
- [x] Twitter

[2016-05-15 22:06] mateoclarke commented on #154
@VictoriaODell Will you help us throw some tweets into the twitter machine next week before the Hack Saturday?

[2016-05-15 22:13] mateoclarke opened #155 "Add Missing Projects to Website"
Running list of project pages that don't exist or need attention:
- [x] ATX Body Cams
- [x] Budget in a Box
- [ ] My Building Doesn't Recycle
- [ ] Transit Time
- [x] Texas Appleseed School to Prison Pipeline
- [x] Community Data Portal (aka: PANDA, the People of Austin's Network for Data Accessibility)
- [ ] Bill Tracker
- [ ] CAMP: Cultural Asset Mapping Project
- [ ] Lobbying Data Dive

[2016-05-15 22:16] mateoclarke commented on #155
I think the way we can tackle this is to:

1. Create the markdown file in the website repo with the most basic obvious info on each project.
  - This page should be the record of source on our projects: https://github.com/open-austin/open-austin.github.io/tree/master/_projects
2. Then reach out to a project member and ask them to either edit the markdown page on Github or send us more details on t

[2016-05-15 22:16] mateoclarke commented on #155
More details on what each project file needs: https://github.com/open-austin/open-austin.github.io/issues/47

[2016-05-16 16:13] #134 closed

[2016-05-17 04:18] mateoclarke opened #156 "Blog Summary for May 16 Meetup"

[2016-05-17 04:20] mateoclarke commented on #156
bunch of crappy notes:

## Open Performance

Managing for results. Interested performance records with business planning.  Accomplishing strategies. That all used to be housed in the budget office. Kim is Former met deputy budget officer. Operating budget.

Goal is to take was was being done inside budget group and making it much bigger more visible and get to a point where data driven decisions a

[2016-05-17 04:23] mateoclarke commented on #156
[OPM_OpenAustin.pdf](https://github.com/open-austin/iced-coffee/files/267404/OPM_OpenAustin.pdf)

[2016-05-17 04:28] mateoclarke commented on #142
How is this coming along? Feel like we could probably find a sponsor for tacos at the June 7 if we have an ask ready by the end of this week, or next?

[2016-05-19 19:04] mateoclarke opened #157 "OA Table at ATX H4C"
## The plan
- Amalie to run table as needed on Saturday (with help from any other OA coreteam and members)
- Mateo to run table as needed on Sunday (with help from any other OA coreteam and members)

### Important Times:

Saturday:
- 7 a.m. In-Kind Sponsor Setup Alumni Gym
- 8 a.m. Breakfast Alumni Gym
- 9 a.m. Project Pitches Alumni Gym
- 12 p.m. Lunch Alumni Gym
- 6 p.m. Dinner Alumni Gym
- 10 p

[2016-05-19 19:25] amaliebarras commented on #157
As long as it’s okay if it goes unmanned for a little bit, we should take the table. I’ll be the point person. & I’m more than down to be there when I’m not doing administratey things (like presenting and trello boarding or standups).

[2016-05-19 19:34] mateoclarke commented on #157
cool we have a plan, added some notes above

[2016-05-19 19:39] mateoclarke commented on #157
Details in PDF:
[SponsorPacket2016.pdf](https://github.com/open-austin/iced-coffee/files/273344/SponsorPacket2016.pdf)

[2016-05-19 19:43] mateoclarke commented on #157
Added the important times above.

![](http://dsh.re/69f0d)

[2016-05-19 19:47] mateoclarke opened #158 "Reporter from the CityLab (Atlantic) seeking interview about open data Austin"

[2016-05-19 19:50] mateoclarke commented on #158
[Lily Rockwell blog on records requests going awry](http://cityhall.blog.statesman.com/2015/11/09/heres-how-three-open-records-requests-went-awry-at-austin-city-hall/)

[2016-05-19 19:56] mateoclarke opened #159 "Mozilla HiveATX blog post?"
Info on Community Call:
https://docs.google.com/document/d/1CXO3YEKt-Td_CiNjjvRlbSP62pEBvCxZ74V73EJPpcA/edit
- We officially announced Austin as our 3rd Hive Gigabit Fund city on Monday and we've been getting some great press coverage, check out http://mzl.la/HiveATX-statesman and http://mzl.la/HiveATX-austininno!
- I've [Robert Friedman] accepted a position as the Portfolio Strategist for Hive Au

[2016-05-19 20:01] mateoclarke commented on #159
Invited Robert Friedman to write a guest post.

[2016-05-19 20:02] VictoriaODell commented on #142
EOW next week is more reasonable.
I cant start flowing what we have into the template.

[2016-05-19 20:03] VictoriaODell commented on #157
I don't believe I'm committed to anything yet and should also be able to help with the table as needed.

[2016-05-21 10:03] luqmaan opened #160 "Onboard Gus"
Administrative
- [ ] send announcement
  - [ ] email
  - [x] slack
- [x] set up with hack@open-austin.org email
- [x] invite to #coreteam
- [x] invite to #icedcoffee
- [x] add to @coreteam slack group
- [x] access to open austin google drive
- [x] link to the [open austin strategic plan](https://docs.google.com/document/d/12EGMSZL2wGKpxwcxCFCTMoeRfx95h4eF493Bh5kdkkA/edit)
- [x] link to [core team

[2016-05-22 22:11] luqmaan commented on #157
I'll do it.

[2016-05-23 22:12] #158 closed

[2016-05-25 01:02] VictoriaODell commented on #154
Posted on Facebook and have some tweets in buffer~

[2016-05-25 03:08] mateoclarke commented on #160
I added Gus to Google Drive and Calendar.
I also updated the [email config](https://github.com/open-austin/server-configs/blob/master/email/virtual)
Guess we need to coordinate with Chip about updating the config on the email server.

[2016-05-25 03:10] mateoclarke opened #161 "Publish ATX Hack for Change post"
Please give this a look and add comments or make suggestions.
https://docs.google.com/document/d/1HsmhD2-BzulE998aahxfXoUp1M1EU4BxEjibwuDVt8g/edit?usp=sharing

Should we create a Medium account to post there as well? cc/ @VictoriaODell

[2016-05-25 03:11] mateoclarke commented on #159
He got back and said he's interested but it would be later in the summer when things start moving forward.

[2016-05-28 14:55] #154 closed

[2016-05-28 15:29] VictoriaODell commented on #142
Here is a prospectus I made for work:
[AnacondaCon_Prospectus_preview_v25.pdf](https://github.com/open-austin/iced-coffee/files/287771/AnacondaCon_Prospectus_preview_v25.pdf)

@mateoclarke would be great to get a letter similar to the one on page 4 but for Open Austin. It would not have to be as long. I'm making this prospectus horizontal since It'll likely just be living digitally.

[2016-05-28 17:07] mateoclarke commented on #156
http://www.open-austin.org/blog/2016/05/28/may-open-gov-civic-tech-meetup-recap

[2016-05-28 17:07] #156 closed

[2016-05-28 17:34] VictoriaODell commented on #142
Super WIP But here is the current iteration of the prospectus
[OA_sponsorship package_v2.pdf](https://github.com/open-austin/iced-coffee/files/287812/OA_sponsorship.package_v2.pdf)

[2016-05-28 20:58] VictoriaODell commented on #161
💯
https://medium.com/@mateoclarke/think-government-is-broken-then-hack-your-city-f7f0a6c002c#.f58hdpiac

[2016-05-28 20:58] #161 closed

[2016-05-28 21:01] VictoriaODell commented on #150
Sent the email out to participants awhile ago with survey link, links to slides, etc.

[2016-05-28 21:01] #150 closed

[2016-05-28 21:02] VictoriaODell commented on #147
📆 📆 📆 💀
Publishing tomorrow
https://github.com/open-austin/open-austin.github.io/blob/Workshop-Recap-Draft/_posts/2016-05-28-Recap-Designing-for-Civic-Solutions.md

[2016-05-28 21:09] VictoriaODell commented on #106
@mateoclarke
When you talked to Marc did having hack nights at ACC highland or Northridge seem like an option?
Is that something we want to/can do?

If so we should roll it into issue #65 and put it in our spreadsheet

Maybe we should talk more about this at our huddle. Seems like space planning is something we need to look into more with our free passes running out. 📆

[2016-05-28 21:38] VictoriaODell commented on #132
Very late but I went ahead and marked up a copy of the playbook with notes.
If ya'll have time ya'll should add things ya'll remember to it too. I don't remember if we agreed to not having CA again but may be useful moving forward:

https://docs.google.com/document/d/1t1256PLst0virp-mhtFwRHjxG7Nla6jroQV5J3StsAw/edit

Closing now. 🐱

[2016-05-28 21:38] #132 closed

[2016-05-29 14:41] mateoclarke commented on #106
ACC Northridge is very far north. ACC Highland didn't seem like an obvious possibility. His department offices are at Northridge. I could ask explicitly if we could host an event there, but my gut says getting reoccurring space there would be hard since we aren't a student org.

[2016-05-29 14:48] mateoclarke commented on #152
Updating here even though I relayed this to most of y'all IRL.

WeWork is much more expensive than we originally budgeted. $350/mo for the membership instead of $45.  @luqmaan is running lead on either asking his company for more money or finding another space (potentially Return Path has room in his building?)

Also moved the [Odoro sponsorship letter](https://docs.google.com/document/d/108OsNUje

[2016-05-29 14:49] mateoclarke commented on #152
![](http://dsh.re/f3b7c)

[2016-05-29 16:11] mateoclarke commented on #129
The spreadsheet has been made. Going to close out this issue.

[2016-05-29 16:11] #129 closed

[2016-05-29 16:12] mateoclarke commented on #142
added a personal letter. It probably sucks. Sorry, open to suggestions.

[2016-06-01 01:52] #147 closed

[2016-06-01 03:37] VictoriaODell commented on #142
@amaliebarras I'm working on this and I think it would be cool if we had some stats on membership or somethind. Do we have anything we can use? I know you made that one infographic but idk where it is

<.<

[2016-06-01 20:36] amaliebarras commented on #142
https://drive.google.com/drive/folders/0B9wiW10zDGPCMm44R2NPRTZpeEE Infographic filez here bb

[2016-06-01 22:58] mateoclarke commented on #160
[Core Team Roles](https://docs.google.com/document/d/1kbS0wJj9o_Xr5yKBJ2oF9_wAPscZ2gksnOyMMuqVHk4/edit#heading=h.lfkg13polpyn)

[2016-06-01 23:23] mscarey commented on #157
I'm only semi-committed to a project so far, so I can also be at the table if needed. (probably not Sat. PM though)

[2016-06-02 14:30] mateoclarke opened #162 "Get the CFAPI working again"
https://github.com/codeforamerica/cfapi
https://github.com/open-austin/Civic_Project

[2016-06-02 14:32] mateoclarke commented on #153
@luqmaan @VictoriaODell What projects did we choose to highlight for the sponsorship packet. Should we use the same ones for this?

[2016-06-02 14:33] mateoclarke opened #163 "Update the project process page"
http://www.open-austin.org/projects/process is out of date. There is some stuff on written on hackpad. We should consolidate.

[2016-06-02 14:34] mateoclarke opened #164 "July Core Team Huddle"
## Todo

- [x] send Doodle Pool for week of July 4th
- [x] [agenda](https://docs.google.com/document/d/1vvMt1T6_XZZff_HcpmyBd3ttoiwekVvURFZ2fnuWMOk/edit)

[2016-06-02 14:35] mateoclarke opened #165 "Synthesize: why does open austin exist as a brigade?"
Why is continuing as a Brigade important to our community? What is the essential problem in our community that Open Austin will address/addresses? Where are we trying to do?

Luq: Open Austin works to build a community around open government, open data, and civic technology in Austin.
Ams: to make technology (as a means to engage with government) more inclusive, demonstrate value of open data
Vick

[2016-06-02 14:36] mateoclarke commented on #142
From the 6/1 coreteam huddle:

Add to prospectus: (Vickie)
http://www.open-austin.org/projects/atx-buildings-osm-import.html

[2016-06-02 14:44] mateoclarke commented on #65
So at our 6/1 coreteam huddle we talked about getting a consistent space for Civic Hack Nights and Civic Hack Saturdays at least through Nov/Dec when the new Central Library opens.

## TODOS:
- [ ] Follow up about Return Path @luqmaan
- [ ] ask for $ @luqmaan
- [ ] Research more spaces where we can get a consistent commitment, 2-3 events per month @mateoclarke @mscarey @mapineda @luqmaan
- [ ] Fig

[2016-06-02 14:48] mateoclarke opened #166 "June 7 Civic Hack Night"
- [x] Confirm space with WeWork @mateoclarke
- [x] Confirm taco sponsorship with Jim Nasby, Bluetreble @mateoclarke
- [x] Email announcement? @luqmaan
- [x] Twitters/Facebooks,etc @VictoriaODell
- [x] Bring swag & number holder

[2016-06-02 14:49] mateoclarke opened #167 "Research more about funding/ consulting"
- What has worked for other brigades
- Where do we start
- What makes sense for us right now & in the future

[2016-06-02 14:50] mateoclarke commented on #65
Another todo
- [ ] Figure out if and when we want to use our last event at Urban Co-Lab @luqmaan

[2016-06-02 14:55] mateoclarke opened #168 "Create “docs” folder for core team processes/todo templates."
Docs Templates:

- [x] Hack Night/Event Todos (see #166 )
- [x] Onboarding new coreteam (see #160 )
- [x] ~~Move Slackin docs to open-austin-org repo.~~
- [ ] AWS instance setup
- [ ] ~~Streamline partnering with non-profits like Texas Appleseed~~

[2016-06-02 15:26] mateoclarke commented on #168
Maybe this should've been a ticket on https://github.com/open-austin/open-austin.github.io

That's where we decided this folder would live.

[2016-06-06 20:44] luqmaan opened #169 "Hack For Change blog post"
1. What the event was
2. What the projects were
  - Description
  - Repo link
  - Photo

[2016-06-07 14:40] mateoclarke commented on #66
@avickers mentioned to me at ATX Hack for Change that he was interested in helping lead efforts for VoteATX. He helped with the front end last time around.

[2016-06-07 14:40] mateoclarke commented on #28
Closing this out and starting a new thread

[2016-06-07 14:40] #28 closed

[2016-06-07 15:13] mateoclarke opened #170 "Schedule Hack Nights/Saturdays for second half of 2016"
We need to book locations for Civic Hack Nights/Saturdays starting in July going forward. Let's us this thread to coordinate who is reaching out to which potential sponsors.

The general pattern (with exceptions for holidays) is:
- Civic Hack Saturday on 1st Saturday
- Civic Hack Night on 2nd & 4th Tuesdays
- Civic Tech Meetup on 3rd Mondays

### June
- [x] Sat June 4 - Civic Hack Saturday / Hack

[2016-06-07 15:22] mateoclarke commented on #170
_for posterity, this thread continues the work of #28_

[2016-06-07 15:27] amaliebarras commented on #170
Can I reach out to Jessica from Cloudera first? Just because their location is closer to WeWork than DevBootcamp, and it'll be a smaller change for the people who work downtown and walk to CHN.

If y'all agree I can email her this evening, and throw her dates for Jul, Aug, September.

[2016-06-07 15:35] mateoclarke commented on #170
I’m down with Cloudera, esp for Tuesdays. I think we could get Dev Bootcamp for Saturdays.

A little worried that we would outgrow their space (in her email she said 35 ppl max with tables). But we can cross that bridge later.

@amaliebarras Will you get thoughts/confirmation from @luqmaan @gusIreland @mapineda before you email? Or we can just talk about it tonight.

[2016-06-07 16:25] luqmaan commented on #170
All these dates look good to me. 👍 for emailing Cloudera/Dev Bootcamp first.

Should we try out one Saturday at Techranch? Or should we try to formalize things with Chicon Collective?

[2016-06-07 16:33] mateoclarke commented on #170
From @mapineda talking, it sounded like Chicon is up in the air until they finalize their move.

I'm thinking:
1: @amaliebarras checks Cloudera for Tuesdays in Jul, Aug, September
2: I check Dev Bootcamp for Saturdays Jul, Aug, September.

[2016-06-07 17:03] amaliebarras commented on #170
works for me! Ill email this evening

[2016-06-07 19:44] mateoclarke commented on #169
https://opendata.bloomfire.com/posts/1176558-atx-hack-for-change-2016-recap

[2016-06-08 05:25] mateoclarke commented on #169
http://www.open-austin.org/blog/2016/06/07/Recap-ATX-Hack-for-Change-2016

[2016-06-08 05:25] #169 closed

[2016-06-08 05:26] #166 closed

[2016-06-08 05:31] mateoclarke commented on #168
https://github.com/open-austin/iced-coffee/blob/master/hack-event-checklist.md

[2016-06-08 05:33] mateoclarke opened #171 "June 20 Open Gov & Civic Tech Meetup Checklist"
- [x] Confirm venue
- [x] Confirm speakers
    - [x] ~~Becca~~
    - [x] Diego
    - [x] Paul
    - [x] Amalie
    - [x] Nik
    - [x] Victoria
- [x] Email announcement
- [x] [Slides](https://docs.google.com/presentation/d/1aJPnMyh-PBQ0HTfA1dNPRzrZT2949-P5ww5U_2Tab6U/edit?usp=sharing)
- [x] Twitters/Facebooks, etc
- [x] Bring swag, projector, banner

[2016-06-09 14:44] #157 closed

[2016-06-12 06:12] 100stacks commented on #170
Hey @mateoclarke @luqmaan @amaliebarras!  I don't know if ya'll are taking feedback from the community, I am with @luqmaan on a possible North Austin Saturdays/Tuesdays at Tech Ranch.  👍

I think it's ok to have dual central and north meetups, since Austin traffic is such a 🐻  😫  🐲 !

[2016-06-12 09:50] mscarey commented on #100
I blogged about  Leslie Pool, Fred Lewis, and the city council lobbyist bill, plus the stuff happening in the lobbyist-campaign slack channel.

[2016-06-12 09:50] #100 closed

[2016-06-21 03:22] luqmaan opened #172 "Lightning Talks/June 20 Recap Blog Post"
Write up a blog post describing the talks and share links to the slides.

- Get slides
  - [x] Diego
  - [x] Paul
  - [x] Amalie
  - [x] Nik
  - [x] Victoria

[2016-06-21 03:26] VictoriaODell commented on #172
Mine: https://docs.google.com/presentation/d/1F0jLB3vJsLLRAXzVwLVB0cr0PGwm_2h33GQquZHzkR0/edit?usp=sharing

[2016-06-21 03:47] luqmaan commented on #172
Nik's: [commutely-austin-open.pdf](https://github.com/open-austin/iced-coffee/files/324749/commutely-austin-open.pdf)

[2016-06-21 04:02] mateoclarke commented on #172
[PANDA Lightnin'.pdf](https://github.com/open-austin/iced-coffee/files/324766/PANDA.Lightnin.pdf)

[2016-06-21 04:15] mateoclarke commented on #172
http://dhernandex.github.io/sass-color-functions/presentation/#/

[2016-06-21 14:05] #171 closed

[2016-06-21 14:15] mateoclarke commented on #170
Ok, we have July confirmed! And we're just waiting to hear back from Cloudera for August CHNs. Let's see how these new venues work out but keep our ears to the ground for more options.

@100stacks, Tech Ranch is still a possibility. But for Tuesday nights, all of our core team works/lives in centrally so fighting traffic North would be harder for the organizers. There also isn't very good public t

[2016-06-25 17:25] mateoclarke commented on #172
http://www.open-austin.org/blog/2016/06/23/lightning-talk-recap

[2016-06-25 17:25] #172 closed

[2016-06-30 05:27] 100stacks commented on #170
@mateoclarke, no worries thanks for considering.  Yeah I wish we had better multi modal public transportation options for getting around.  Happy 4th! 🎉

[2016-06-30 15:43] mateoclarke opened #173 "White House Tech Hire Event"
## White House Tech Hire Coding Sprint
### Saturday, July 23rd at ACC Highland Computer Center

What is it?
- info session on White House Tech Hire Initiative
- part of the program will include pre-determined coding assignments for people to work on and have their skills assessed? Waiting for more info on what this will look like.
- targeted at ppl that are interested in tech hire program learning

[2016-07-10 17:06] mateoclarke opened #174 "Women Who Open Data Event: Oct 1st"
**What?**: Workshop style event with 4-6 presentations related to open data, code, and civic tech. Simultaneous Civic Hack Saturday for folks to hack on projects.
**When?**: October 1st, 2016
**Where?**: Dev Bootcamp, 1705 Guadalupe St.

### Workshops

- Holly Gibson (Women Who Code) - Databases: SQL vs NoSQL **(confirmed)**
- Whitney O'Banner (Dev Bootcamp) - Git **(confirmed)**
- Hailey Pate (Ci

[2016-07-11 17:12] amaliebarras commented on #174
Dope! I emailed Becca this morning :)

[2016-07-13 20:04] mateoclarke commented on #164
Reopening this since we need to reschedule.

[2016-07-17 18:11] mateoclarke commented on #173
They decided to only invite current ACC or Texas State students to this. Since it's not open to the public I told them we weren't a viable promotional partner.

[2016-07-17 18:11] #173 closed

[2016-07-17 18:13] mateoclarke commented on #164
we rescheduled for Sunday 7/17 @ 6pm

[2016-07-17 18:13] #164 closed

[2016-07-17 18:16] mateoclarke commented on #149
feel like this is long enough past and the outcomes of this guiding our decision to focus on weekly events back in late May/June. If we want to retrospect on this further, we should add it to a core team huddle or reopen here. Closing this now...

[2016-07-17 18:16] #149 closed

[2016-07-17 20:01] mateoclarke commented on #170
Just added all these dates through the end of the year to the OA Google Calendar. Going to add it to our core team huddle to discuss whether we want to do events the week of Sept 5 and Oct 3.

[2016-07-17 21:07] mateoclarke opened #175 "Fri, Aug 5: City Up Open Data Workshop"
**Who**: City Up + City of Austin
**When**: one-day event on AUGUST 5
**Where**: City Hall, Board and Commissions Room

#### What:
- Morning: City needs, problems, issues and priorities, presented by City staff and/or delegates
- Early Afternoon: City open data portal status & plans, techniques for using, etc.
- Late Afternoon: breakouts to plan potential projects around these needs, and these dat

[2016-07-17 21:14] mateoclarke opened #176 "7/18 Meetup"
- [x] Update Meetup
- [x] Update Calendar
- [x] Email Announcement
- [x] Twitter
- [x] [Slidedeck](https://docs.google.com/presentation/d/1ouR8Wmxzu5O7T0RwqmVQmgXk-1RawDPq_gW7Qn-8oVI/edit)

[2016-07-17 21:33] mateoclarke opened #177 "July 26 Civic Hack Night"
- [x] Confirm space with Cloudera @amaliebarras
- [x] taco sponsorship?
- [x] Email announcement @luqmaan
- [ ] Twitters/Facebooks,etc @VictoriaODell
- [ ] Bring swag & number holder & banner

[2016-07-17 23:15] VictoriaODell commented on #167
This is awesome. But we're not ready. We can reopen this later.
Maybe set a time in the future where we can really focus on this. It's a conversation we should start as a team.

[2016-07-17 23:15] #167 closed

[2016-07-17 23:53] mapineda commented on #170
Book The Comeback Space for Saturday, Sept 3rd

[2016-07-17 23:56] luqmaan opened #178 "Update Civic Hacking 101"
We should make Civic Hacking 101 more about projects our members have made.

[2016-07-18 05:54] mscarey opened #179 "Publicize Candidate Questionnaires"
Questionnaires for city council candidates about open data issues. The [form for last year](http://www.open-austin.org/candidate-questionnaires/documents/2014_OpenAustin_CandidateQuestionnaire.pdf) will need to be updated to remove requests for things the city is already providing, and add new policy priorities.

[2016-07-18 18:08] amaliebarras commented on #167
[My research / notes live here](https://docs.google.com/document/d/1835jKOd-DhZqeUaRX9_2HOMWmLWw3HU_80YiY3WW7_c/edit) for when we're ready to pick this back up

[2016-07-18 19:07] amaliebarras commented on #170
These are the details I have on August:

"And let me check on the August dates with our new office manager, Marque, and will get back with you shortly.  I do know Aug 9th won’t work due to another meetup in the space but the other dates will probably work.  I’ll let you know shortly."

Cloudera is not being very responsive, at this point I think it would be easier to book DevBootcamp. It's just as

[2016-07-19 14:51] VictoriaODell opened #180 "July 18th Meeting Blog post"
I took notes last night I just need to get them all tidied up.

Things I need
- [x] Contact email for Mozilla
- [x] Link to budgeting game night event.

I felt like the notes got kinda skimpy on Braden's part.
Was there any call to action he had that I can make note of?

@mateoclarke do you have any of the above?

[2016-07-19 17:05] luqmaan opened #181 "Recognize our sponsors better"
- [ ] List sponsors on our website
- [x] List sponsors on Meetup.com

[2016-07-19 17:08] luqmaan commented on #181
I started adding some sponsors to our Meetup page.

![image](https://cloud.githubusercontent.com/assets/1275831/16959186/6bdba94e-4da9-11e6-8fa1-67738170f1ab.png)

[2016-07-20 05:54] mateoclarke commented on #181
i added Blue Treble

[2016-07-20 14:26] luqmaan opened #182 "Write Hosting Instructions"
Write AWS usage Instructions and add them to open-austin/iced-coffee.

[2016-07-20 14:26] luqmaan commented on #168
We've ended up putting the stuff in the open-austin/iced-coffee repo. We can move it later.

[2016-07-20 14:26] #168 closed

[2016-07-20 14:31] luqmaan commented on #182
Started something here. https://github.com/open-austin/iced-coffee/compare/master...hosting-instructions?quick_pull=1

I think we can be less detailed about how to use AWS and also cover a few other alternatives.

[2016-07-20 14:47] luqmaan commented on #182
This would be good to add https://github.com/open-austin/project-ideas/issues/73#issuecomment-233971154

[2016-07-20 16:26] amaliebarras commented on #174
Becca responded today

"Thanks for reaching out again. I'd love to be part of the event, but I'm not sure that I'll be available for the whole day. Do you have a particular time in mind or is it flexible?"

[2016-07-21 15:44] mateoclarke commented on #177
asked Mozilla Hive for taco sponsorship but he's still getting his budget together so they might not be able to help just yet. Any other ideas?

[2016-07-21 15:46] mateoclarke commented on #176
Last thing is to do a blog post summary #180

[2016-07-21 15:46] #176 closed

[2016-07-21 15:52] mateoclarke commented on #170
Dev Bootcamp confirmed for Aug 9. Going to ask them if we can do an ongoing deal.

[2016-07-21 17:36] mateoclarke opened #183 "CfA Summit"
- how many tickets can we get?
- is pre Brigade seperate?
- stipend from CfA

[Financial assistance application](https://cfa.typeform.com/to/FpXAHW) due by July 29th

[2016-07-21 18:44] VictoriaODell opened #184 "Set up & Start Mail Chimp Newsletters"
Meeting with @mapineda on Friday at 3pm to start getting stuff organized for the newsletter.

## ToDo:
- [x] Create Account
- [x] Establish frequency of emails (1st and 3rd tuesday of month @ 11amCST)
- [x] Create/choose Template
- [x] set up mailing list
- [x] Create Google doc for coreteam to contribute content
- [x] import member xls @amaliebarras

## Ideas of things we can highlight
- Upcoming

[2016-07-22 19:00] mapineda commented on #184
Newsletter Planning Doc
https://docs.google.com/document/d/1dzLzV1nvLCuqWSV0lQjenrmZtY7FahsQecwoaxGcsK0/edit

[2016-07-22 20:31] VictoriaODell commented on #184
emails + name:
https://docs.google.com/spreadsheets/d/1dghpcswCfUOsEnSKM6m-SM5-HHHaISDRFiAYU7RO2Kk/edit#gid=1952773302

[2016-07-22 20:51] mapineda commented on #184
http://www.practicalecommerce.com/articles/83137-28-Free-Responsive-Email-Templates

[2016-07-26 01:47] mateoclarke commented on #180
Contact for Mozilla:
Robert Friedman
robert@mozillafoundation.org

Links to Budget Game Night:
https://www.eventbrite.com/e/budget-game-night-tickets-26423729085?aff=eac2
https://www.facebook.com/events/309340609405662/

Can't recall any specific call to action from Braden.

[2016-08-01 02:12] mateoclarke commented on #183
2 tickets, pre Brigade is seperate, Vickie & Amalie applied for the stipend from CfA.

[2016-08-01 02:12] #183 closed

[2016-08-01 02:14] mateoclarke commented on #162
We heard that CfA is dropping support of this bc they don't have any brigade engineers to maintain it. We might want to reopen this in the future, or create app or feed of our projects, be we should close this for now.

[2016-08-01 02:15] #177 closed

[2016-08-01 02:24] mateoclarke commented on #184
I would like to schedule the August newsletter to go out as soon as possible. There are two CityUp events this week plus Civic Hack Saturday.

What is left? How do I help?

[2016-08-01 02:30] mateoclarke commented on #170
since we moved the Aug 9 CHN to Aug 23 to spread out the schedule better, I just emailed Dev Bootcamp to see if that Tuesday will be open or not.

[2016-08-01 04:40] #175 closed

[2016-08-01 16:54] amaliebarras commented on #184
Let’s also include this in the newsletter, from Becca A. :

I wanted to let you know that we're hosting a civic social weekend called "Texas Turnout" w/ SND Makes and the Knight Foundation Aug. 26-28. Applications are open now. We'd love for [Open Austin folks] to apply. Here's more info: https://www.texastribune.org/texas-turnout/ <https://www.texastribune.org/texas-turnout/>

[2016-08-01 17:28] VictoriaODell commented on #184
Hey ya'll,

I have a bit of a backlog. I need to pick the template + organize the content.
@mapineda can you give me access to the google doc you posted? I can't access it with my email.
Also, did we get the list imported?

[2016-08-01 20:14] amaliebarras commented on #174
Becca would like the 11:30 slot! Updating the issue.

[2016-08-03 02:56] VictoriaODell commented on #184
Made the first newsletter template thing
It's under the campaign called "Bi-weekly Newsletter"

I need to shrink the images but let me know what ya'll think + check links and stuff.
We have down that we would send the 2nd & 4th Tuesday but that's up for discussion I think~

https://us13.admin.mailchimp.com/campaigns/

[2016-08-03 03:17] VictoriaODell commented on #184
I added our logo and adjusted the pictures some. Can you check it out @mapineda ?

[2016-08-03 13:26] luqmaan opened #185 "Improve project-ideas labels"
The project-ideas repo is not using labels very effectively.

We should update our labels to make it easier for somebody new to Open Austin to find a project  tha is about a topic that they are interested in.

Breaking up issues by programming language needs hasn't been very helpful (especially since language doesn't really matter).

![image](https://cloud.githubusercontent.com/assets/1275831/1736